<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.homework.mapper.HomeworkPaperDetailMapper">
	<resultMap type="com.yuxin.wx.model.homework.HomeworkPaperDetail" id="homeworkPaperDetailResultMap">
		<result property="id" column="id" />
		<result property="paperId" column="paper_id" />
		<result property="topicId" column="topic_id" />
		<result property="score" column="score" />
		<result property="homeworkSId" column="homework_s_id" />
		<result property="homeworkTid" column="homework_t_id" />
		<result property="homeworkId" column="homework_id" />
		<result property="content" column="content" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		paper_id,
		topic_id,
		score,
		homework_s_id,
		homework_t_id,
		homework_id,
		content
    </sql>
	<sql id="entity_properties">
		#{id},
		#{paperId},
		#{topicId},
		#{score},
		#{homeworkSId},
		#{homeworkTid},
		#{homeworkId},
		#{content}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.paperId},
		#{item.topicId},
		#{item.score},
		#{item.homeworkSId},
		#{item.homeworkTid},
		#{item.homeworkId},
		#{item.content}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.homework.HomeworkPaperDetail" useGeneratedKeys="true" keyProperty="id">
		insert into homework_paper_detail( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into homework_paper_detail( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from homework_paper_detail
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from homework_paper_detail
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.homework.HomeworkPaperDetail">
		update homework_paper_detail 
		<trim prefix="set" suffixOverrides=",">
			<if test="paperId != null">paper_id = #{paperId},</if>
			<if test="topicId != null">topic_id = #{topicId},</if>
			<if test="score != null">score = #{score},</if>
			<if test="homeworkSId != null">homework_s_id = #{homeworkSId},</if>
			<if test="homeworkTid != null">homework_t_id = #{homeworkTid},</if>
			<if test="homeworkId != null">homework_id = #{homeworkId},</if>
			<if test="content != null">content = #{content},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="homeworkPaperDetailResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from homework_paper_detail
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="homeworkPaperDetailResultMap">
		select <include refid="table_columns" /> 
		from homework_paper_detail
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="paperId != null">and paper_id = #{paperId}</if>
			<if test="topicId != null">and topic_id = #{topicId}</if>
			<if test="score != null">and score = #{score}</if>
			<if test="homeworkSId != null">and homework_s_id = #{homeworkSId}</if>
			<if test="homeworkTid != null">and homework_t_id = #{homeworkTid}</if>
			<if test="homeworkId != null">and homework_id = #{homeworkId}</if>
			<if test="content != null">and content = #{conten}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="homeworkPaperDetailResultMap" parameterType="com.yuxin.wx.model.homework.HomeworkPaperDetail">
		select <include refid="table_columns" />
		from homework_paper_detail
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.homework.HomeworkPaperDetail">
		select count(id) from homework_paper_detail
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="findReadScoreBySid" parameterType="Integer" resultType="java.lang.Double">
		select sum(score) from homework_paper_detail where homework_s_id = #{sid}
	</select>
</mapper>