.cntr {
    height: 600px;
    background: #e4edf5;
}

.top {
    height: 50px;
    border-bottom: 1px solid #999;
    margin: 0 40px;
}

.top input {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

.content {
    margin: 0 40px;
}

.tree_cntr {
    min-width: 200px;
    width: 30%;
    height: 400px;
    overflow-x: auto;
    overflow-y: scroll;
    float: left;
    padding-top: 30px;
}

#addCatg {
    float: right;
    margin-right: 20px;
}

#ztree {
    clear: both;
}

.ztree li a.curSelectedNode {
    background-color: #fff;
}

.tree_setting {
    min-width: 600px;
    width: 68%;
    float: left;
    margin-left: 20px;
    padding-top: 30px;
    font-size: 14px;
    min-height: 150px;;
}

.tree_setting .tree-listtype {
    margin: 100px;
    height: auto;
    overflow: hidden;
   
}
.tree_setting .tree-listtype{ display: none;}

.tree_setting .tit-list label,.tree_setting .tit-type{ margin-right: 20px;    display: inline-block;}
.tree_setting .btn-list{text-align: center}
.tree_setting .tit-list{display: inline-block;width:90%;}
.tree_setting .tit-list input[type=checkbox]{vertical-align: middle;    margin-right: 5px;}
.tab-sub .tab-type{display: inline-block;border:1px solid #eee;
padding:5px 20px;min-width:40px ;background: #fff;float: left;
}
.tree_setting .tit-list label{white-space: nowrap;
    overflow: hidden;
    width: 120px;    margin-right: 10px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}
.tab-sub .tab-type:last-child{border-left:0;}
.tab-sub .tab-type.active{background: #76b4f2;color:#fff;}
.tab-info{clear: both;}
