<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.tiku.mapper.TikuUserBatchTopicMapper">
	<resultMap type="com.yuxin.wx.model.tiku.TikuUserBatchTopic" id="tikuUserBatchTopicResultMap">
		<result property="id" column="id" />
		<result property="batchId" column="batch_id" />
		<result property="topicId" column="topic_id" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		batch_id,
		topic_id
    </sql>
	<sql id="entity_properties">
		#{id},
		#{batchId},
		#{topicId}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.batchId},
		#{item.topicId}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.tiku.TikuUserBatchTopic" useGeneratedKeys="true" keyProperty="id">
		insert into tiku_user_batch_topic( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into tiku_user_batch_topic( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="batch_entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from tiku_user_batch_topic
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.tiku.TikuUserBatchTopic">
		update tiku_user_batch_topic 
		<trim prefix="set" suffixOverrides=",">
			<if test="batchId != null and batchId != ''">batch_id = #{batchId},</if>
			<if test="topicId != null and topicId != ''">topic_id = #{topicId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="tikuUserBatchTopicResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from tiku_user_batch_topic
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="tikuUserBatchTopicResultMap">
		select <include refid="table_columns" /> 
		from tiku_user_batch_topic
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="batchId != null and batchId != ''">and batch_id = #{batchId}</if>
			<if test="topicId != null and topicId != ''">and topic_id = #{topicId}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="tikuUserBatchTopicResultMap" parameterType="com.yuxin.wx.model.tiku.TikuUserBatchTopic">
		select <include refid="table_columns" />
		from tiku_user_batch_topic
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.tiku.TikuUserBatchTopic">
		select count(id) from tiku_user_batch_topic
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	
	<!-- 查询练习当前做到第几题 -->
	<select id="findCurrentById" parameterType="Integer" resultType="Integer">
		select p.topic_id
		from tiku_user_batch_topic p
		where p.topic_id not in (
			select a.topic_id from 
			tiku_user_exercise_answer a
			where a.user_exercise_id = #{id}
			)
			and p.batch_id = #{id}
		order by p.id
		limit 0,1
	</select>
</mapper>