<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.query.mapper.SysPlayLogsMapper">
	<resultMap type="com.yuxin.wx.vo.course.VideoCourseVo" id="videoCourseResultMap">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="commodityId" column="commodity_id" />
		<result property="classTypeId" column="class_type_id" />
		<result property="totleStudy" column="totle_study" />
		<result property="totleStudyLength" column="totle_study_length" />
		<result property="studyRate" column="study_rate" />
		<result property="teaName" column="tea_name" />
		<result property="courseName" column="course_name" />
		<result property="areaName" column="area_name" />
		<result property="stepName" column="step_name" />
		<result property="schoolName" column="school_name" />
		<result property="subjectName" column="subject_name" />
		<result property="studyRate" column="study_rate" />
		<result property="videoId" column="video_id" />
		<result property="schoolStepName" column="school_step_name" />
	</resultMap>

	<resultMap type="com.yuxin.wx.vo.course.UserVideoVo" id="userVideoResultMap">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="name" column="name" />
		<result property="username" column="username" />
		<result property="commodityId" column="commodity_id" />
		<result property="classTypeId" column="class_type_id" />
		<result property="viewNum" column="view_num" />
		<result property="totleStudyLength" column="totle_study_length" />
		<result property="studyRate" column="study_rate" />
		<result property="teaName" column="tea_name" />
		<result property="courseName" column="course_name" />
		<result property="areaName" column="area_name" />
		<result property="stepName" column="step_name" />
		<result property="schoolName" column="school_name" />
		<result property="subjectName" column="subject_name" />
		<result property="studyRate" column="study_rate" />
		<result property="videoId" column="video_id" />
		<result property="yearName" column="year_name" />
		<result property="className" column="class_name" />
		<result property="schoolStepName" column="school_step_name" />
		<result property="stepName" column="step_name" />
	</resultMap>

	<select id="queryUserVideoList" resultMap="userVideoResultMap" parameterType="com.yuxin.wx.vo.course.UserVideoVo">
		select
		pl.id,
		v.video_cc_id as video_id,
		t.name as course_name,
		d.item_value as area_name,
		d1.item_value as school_name,
		it1.item_name AS step_name,
		it.item_name as subject_name,
		s.name,
		uf.username,
		s.edu_year as year_name,
		s.edu_class as class_name,
		COUNT(pl.class_type_id) AS view_num,
        concat(SEC_TO_TIME(SUM(pl.study_length)),'') AS totle_study_length,
		round(SUM(pl.study_length) / (COUNT(pl.class_type_id) * TIME_TO_SEC(v.video_time)) * 100,2) as study_rate
		from
		sys_play_logs pl
		left JOIN class_type t on t.id = pl.class_type_id
		left join sys_config_teacher ut on ut.id = t.teacher_id
		left join student s on s.user_id = pl.id and s.edu_identity = 0
		inner join users_front uf on uf.id = s.user_id
		left join edu_step_school_relation r on r.edu_school_code = s.edu_school
		left join sys_config_dict d on d.item_code = s.edu_area
		LEFT JOIN sys_config_dict d1 on d1.item_code = s.edu_school
		LEFT JOIN sys_config_item it on it.item_code = t.item_third_code
		LEFT JOIN sys_config_item it1 on it1.item_code = t.item_second_code
		left join course_video_lecture cl on cl.id = pl.`lecture_id`
		left join video v on v.id = cl.video_id
		where s.`edu_area` IS NOT NULL
		AND s.`edu_school` IS NOT NULL
        and s.delete_flag = 0
		<if test="eduArea!=null and eduArea!=''">and s.edu_area = #{eduArea}</if>
		<if test="eduSchool!=null and eduSchool!=''">and s.edu_school = #{eduSchool}</if>
		<if test="eduSchoolStep!=null and eduSchoolStep!=''">and r.edu_step_new_code = #{eduSchoolStep}</if>
		<if test="eduYear!=null and eduYear!=''">and s.edu_year = #{eduYear}</if>
		<if test="eduStep!=null and eduStep!=''">and s.edu_step = #{eduStep}</if>
		<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
		<if test="eduClass!=null and eduClass!=''">and s.edu_class like #{eduClass}</if>
		<if test="companyId!=null and companyId!=''">and t.company_id = #{companyId}</if>
		<if test="classTypeId!=null and classTypeId!=''">and t.id = #{classTypeId}</if>
		<if test="className!=null and className!=''">and t.name = #{className} </if>
		<if test="classStep!=null and classStep!=''">and t.item_second_code = #{classStep}</if>
		<if test="classSubject!=null and classSubject!=''">and t.item_third_code = #{classSubject}</if>
		<if test="username!=null and username!=''">and (uf.username like '%${username}%' or uf.mobile = '%${username}%')</if>
		group by pl.user_id
		<choose>
			<when test="fieldName!=null and fieldName!=''">order by ${fieldName} </when>
			<otherwise>order by t.name</otherwise>
		</choose>
		<choose>
			<when test="sortType!=null and sortType!=''"> ${sortType} </when>
		</choose>
		limit #{firstIndex},#{pageSize}
	</select>

	<select id="queryUserVideoCount" resultType="int" parameterType="com.yuxin.wx.vo.course.UserVideoVo">
		SELECT COUNT(1) FROM (select
		pl.class_type_id
		from
		sys_play_logs pl
		left JOIN class_type t on t.id = pl.class_type_id
		left join sys_config_teacher ut on ut.id = t.teacher_id
		left join student s on s.user_id = pl.id and s.edu_identity = 0
		inner join users_front uf on uf.id = s.user_id
		left join edu_step_school_relation r on r.edu_school_code = s.edu_school
		left join sys_config_dict d on d.item_code = s.edu_area
		LEFT JOIN sys_config_dict d1 on d1.item_code = s.edu_school
		LEFT JOIN sys_config_item it on it.item_code = t.item_third_code
		LEFT JOIN sys_config_item it1 on it1.item_code = t.item_second_code
		left join course_video_lecture cl on cl.id = pl.`lecture_id`
		left join video v on v.id = cl.video_id
		where s.`edu_area` IS NOT NULL
		AND s.`edu_school` IS NOT NULL
        and s.delete_flag = 0
		<if test="eduArea!=null and eduArea!=''">and s.edu_area = #{eduArea}</if>
		<if test="eduSchool!=null and eduSchool!=''">and s.edu_school = #{eduSchool}</if>
		<if test="eduSchoolStep!=null and eduSchoolStep!=''">and r.edu_step_new_code = #{eduSchoolStep}</if>
		<if test="eduYear!=null and eduYear!=''">and s.edu_year = #{eduYear}</if>
		<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
		<if test="eduClass!=null and eduClass!=''">and s.edu_class like #{eduClass}</if>
		<if test="companyId!=null and companyId!=''">and t.company_id = #{companyId}</if>
		group by pl.user_id) t
	</select>

	<select id="queryVideoCourseList" resultMap="videoCourseResultMap" parameterType="com.yuxin.wx.vo.course.VideoCourseVo">
		select
		pl.id,
		pl.class_type_id as class_type_id,
		v.video_cc_id as video_id,
		ut.name as tea_name,
		t.name as course_name,
		d.item_value as area_name,
		d1.item_value as school_name,
		it.item_name as subject_name,
		it1.item_name AS step_name,
		COUNT(pl.user_id) AS totle_study,
        concat(SEC_TO_TIME(SUM(pl.study_length)),'') AS totle_study_length,
		round(SUM(pl.study_length) / (COUNT(pl.user_id) * TIME_TO_SEC(v.video_time)) * 100,2)  as study_rate,
		dr.item_value as school_step_name
		from
		sys_play_logs pl
		left JOIN class_type t on t.id = pl.class_type_id
		left join sys_config_teacher ut on ut.id = t.teacher_id
		left join student s on s.user_id = pl.user_id and s.edu_identity = 0
		left join edu_step_school_relation r on r.edu_school_code = s.edu_school
		left join sys_config_dict dr on dr.item_code = r.edu_step_new_code
		left join sys_config_dict d on d.item_code = s.edu_area
		LEFT JOIN sys_config_dict d1 on d1.item_code = s.edu_school
		LEFT JOIN sys_config_item it on it.item_code = t.item_third_code
		LEFT JOIN sys_config_item it1 on it1.item_code = t.item_second_code
		left join course_video_lecture cl on cl.id = pl.`lecture_id`
		left join video v on v.id = cl.video_id
		where s.`edu_area` IS NOT NULL
          AND s.`edu_school` IS NOT NULL
          and s.delete_flag = 0
		  <if test="eduArea!=null and eduArea!=''">and s.edu_area = #{eduArea}</if>
		  <if test="eduSchool!=null and eduSchool!=''">and s.edu_school = #{eduSchool}</if>
		  <if test="eduSchoolStep!=null and eduSchoolStep!=''">and r.edu_step_new_code = #{eduSchoolStep}</if>
		  <if test="eduSubject!=null and eduSubject!=''">and t.item_third_code = #{eduSubject}</if>
		  <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
		  <if test="teaName!=null and teaName!=''">and ut.name like '%${teaName}%'</if>
		  <if test="companyId!=null and companyId!=''">and t.company_id = #{companyId}</if>
		group by pl.class_type_id
		<choose>
			<when test="fieldName!=null and fieldName!=''">order by ${fieldName} </when>
			<otherwise>order by ut.name</otherwise>
		</choose>
		<choose>
			<when test="sortType!=null and sortType!=''"> ${sortType} </when>
		</choose>
		limit #{firstIndex},#{pageSize}
	</select>

	<select id="queryVideoCourseCount" resultType="int" parameterType="com.yuxin.wx.vo.course.VideoCourseVo">
		SELECT COUNT(1) FROM (select
		pl.class_type_id
		from
		sys_play_logs pl
		left JOIN class_type t on t.id = pl.class_type_id
		left join sys_config_teacher ut on ut.id = t.teacher_id
		left join student s on s.user_id = pl.user_id and s.edu_identity = 0
		left join edu_step_school_relation r on r.edu_school_code = s.edu_school
		left join sys_config_dict d on d.item_code = s.edu_area
		LEFT JOIN sys_config_dict d1 on d1.item_code = s.edu_school
		LEFT JOIN sys_config_item it on it.item_code = t.item_third_code
		LEFT JOIN sys_config_item it1 on it1.item_code = t.item_second_code
		left join course_video_lecture cl on cl.id = pl.`lecture_id`
		left join video v on v.id = cl.video_id
		where  s.`edu_area` IS NOT NULL
        AND s.`edu_school` IS NOT NULL
        and s.delete_flag = 0
		<if test="eduArea!=null and eduArea!=''">and s.edu_area = #{eduArea}</if>
		<if test="eduSchool!=null and eduSchool!=''">and s.edu_school = #{eduSchool}</if>
		<if test="eduSchoolStep!=null and eduSchoolStep!=''">and r.edu_step_new_code = #{eduSchoolStep}</if>
		<if test="eduSubject!=null and eduSubject!=''">and t.item_third_code = #{eduSubject}</if>
		<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
		<if test="teaName!=null and teaName!=''">and ut.name like '%${teaName}%'</if>
		<if test="companyId!=null and companyId!=''">and t.company_id = #{companyId}</if>
		group by pl.class_type_id) t
	</select>


	<select id="queryTotleUserVideoNum" resultType="int" parameterType="map">
		select count(1) from (select
		  pl.user_id as totleNum
		from
		  sys_play_logs pl
              LEFT JOIN student s
          ON s.user_id = pl.user_id
          AND s.edu_identity = 0
      WHERE s.`edu_area` IS NOT NULL
        AND s.`edu_school` IS NOT NULL
        and s.delete_flag = 0
		<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
		<if test="eduArea!=null and eduArea!=''">and s.`edu_area` = #{eduArea}</if>
		group by pl.user_id ) t
	</select>

	<select id="queryTotleVideoCourse" resultType="map" parameterType="map">
		SELECT
          COUNT(1) AS userNum,
          d.item_value AS areaName,
          d.item_code AS eduArea
        FROM
          (SELECT
            s.user_id,
            s.edu_area
          FROM
            sys_play_logs pl
            LEFT JOIN student s
              ON s.user_id = pl.user_id
              AND s.edu_identity = 0
          WHERE s.`edu_area` IS NOT NULL
          AND s.`edu_school` IS NOT NULL
          and s.delete_flag = 0
		  <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
		  <if test="eduArea!=null and eduArea!=''">and s.`edu_area` = #{eduArea}</if>
          GROUP BY s.user_id) t
          LEFT JOIN sys_config_dict d
            ON d.`item_code` = t.edu_area
        GROUP BY d.`item_code`
		order by d.`item_code`
	</select>

	<select id="queryTotleVideo" resultType="map" parameterType="map">
		SELECT
		d.`item_value` AS edu_area,
		d1.`item_value` AS edu_school,
		it.`item_name` AS edu_step,
		it1.`item_name` AS edu_subject,
		COUNT(1) AS totle_study,
		CONCAT(SEC_TO_TIME(SUM(pl.study_length)),'') AS totle_study_length,
		ROUND(SUM(pl.study_length) / (COUNT(1) * TIME_TO_SEC(v.video_time)) * 100,2)  AS study_rate
		FROM
		sys_play_logs pl
		LEFT JOIN student s
		ON s.user_id = pl.user_id
		AND s.edu_identity = 0
		LEFT JOIN sys_config_dict d
		ON d.`item_code` = s.`edu_area`
		LEFT JOIN sys_config_dict d1
		ON d1.`item_code` = s.`edu_school`
		LEFT JOIN class_type t
		ON t.id = pl.`class_type_id`
		LEFT JOIN sys_config_item it
		ON it.`item_code` = t.`item_second_code`
		LEFT JOIN sys_config_item it1
		ON it1.`item_code` = t.`item_third_code`
		LEFT JOIN course_video_lecture cl ON cl.id = pl.`lecture_id`
		LEFT JOIN video v ON v.id = cl.video_id
		WHERE s.`edu_area` IS NOT NULL
		AND s.`edu_school` IS NOT NULL
		AND s.delete_flag = 0
		<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
		GROUP BY s.`edu_area`,s.`edu_school`,t.`item_second_code`,t.`item_third_code`
	</select>

	<select id="queryTotleSchoolStep" resultType="map" parameterType="map">
		select
          COUNT(1) AS userNum,
          r.`edu_step_new_code` as schoolStepCode
        from
          (SELECT
            s.user_id,
            s.`edu_school`
          FROM
            sys_play_logs pl
            LEFT JOIN student s
              ON s.user_id = pl.user_id
              AND s.edu_identity = 0
          where s.`edu_area` is not null
            and s.`edu_school` is not null
            and s.delete_flag = 0
		   <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
		   <if test="eduArea!=null and eduArea!=''">and s.`edu_area` = #{eduArea}</if>
          group by s.user_id) t
          LEFT JOIN `edu_step_school_relation` r
            ON r.`edu_school_code` = t.`edu_school`
        where r.`edu_school_code` is not null
        GROUP BY r.`edu_step_new_code`
        order by r.`edu_step_new_code`
	</select>

    <select id="queryTopSchoolView" resultType="map" parameterType="map">
        SELECT
          COUNT(1) AS viewNum,
          d.`item_value` AS schoolName,
          d.`item_code` AS schoolCode
        FROM
          (SELECT
            s.user_id,
            s.`edu_school`
          FROM
            sys_play_logs pl
            LEFT JOIN student s
              ON s.user_id = pl.user_id
              AND s.edu_identity = 0
          WHERE s.`edu_area` IS NOT NULL
            AND s.`edu_school` IS NOT NULL
          and s.delete_flag = 0
		  <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
		  <if test="eduArea!=null and eduArea!=''">and s.`edu_area` = #{eduArea}</if>
          GROUP BY s.user_id) t
          LEFT JOIN `sys_config_dict` d
            ON d.`item_code` = t.`edu_school`
        GROUP BY d.`item_code`
        ORDER BY viewNum DESC
        LIMIT #{pageSize}
    </select>

	<select id="queryTopSubjectView" resultType="map" parameterType="map">
		SELECT
		  COUNT(1) AS viewNum,
		  d.`item_value` AS schoolName,
		  d.`item_code` AS schoolCode
		FROM
		  (SELECT
			s.user_id,
			s.`edu_school`
		  FROM
			sys_play_logs pl
			left join class_type t
			  on t.id = pl.`class_type_id`
			LEFT JOIN student s
			  ON s.user_id = pl.user_id
			  AND s.edu_identity = 0
		  WHERE s.`edu_area` IS NOT NULL
			AND s.`edu_school` IS NOT NULL
            and s.delete_flag = 0
			<if test="subjectCode!=null and subjectCode!=''">and t.`item_third_code` = #{subjectCode}</if>
			<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
		  GROUP BY s.user_id) t
		  LEFT JOIN `sys_config_dict` d
			ON d.`item_code` = t.`edu_school`
		GROUP BY d.`item_code`
		ORDER BY viewNum desc
		LIMIT #{pageSize}
	</select>

    <select id="queryVideoCourseDetail" resultType="map" parameterType="map">
        SELECT
        t.name,
        TIME_TO_SEC(v.video_time) as videoTime,
        concat(SEC_TO_TIME(SUM(pl.study_length)),'') AS totleStudyLength,
        round(SUM(pl.study_length) / (COUNT(pl.class_type_id) * TIME_TO_SEC(v.video_time)) * 100,2) as studyRate,
        COUNT(pl.user_id) AS totleStudy,
        v.video_cc_id as videoid
        FROM
        sys_play_logs pl
        left join class_type t
        on t.id = pl.`class_type_id`
        LEFT JOIN student s
        ON s.user_id = pl.user_id
        AND s.edu_identity = 0
        left join course_video_lecture cl on cl.id = pl.`lecture_id`
        left join video v on v.id = cl.video_id
        WHERE s.`edu_area` IS NOT NULL
        AND s.`edu_school` IS NOT NULL
        and s.delete_flag = 0
        <if test="classId!=null and classId!=''">and t.id = #{classId}</if>
        <if test="className!=null and className!=''">and t.name = #{className}</if>
        <if test="subjectCode!=null and subjectCode!=''">and t.`item_third_code` = #{subjectCode}</if>
        <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
        group by pl.class_type_id
    </select>

    <select id="queryDeviceDetail" resultType="map" parameterType="map">
        SELECT
        count(1) as deviceNum,
        device
        FROM
        sys_play_logs pl
        left join class_type t
        on t.id = pl.`class_type_id`
        LEFT JOIN student s
        ON s.user_id = pl.user_id
        AND s.edu_identity = 0
        left join course_video_lecture cl on cl.id = pl.`lecture_id`
        left join video v on v.id = cl.video_id
        WHERE s.`edu_area` IS NOT NULL
        AND s.`edu_school` IS NOT NULL
        and s.delete_flag = 0
        <if test="classId!=null and classId!=''">and t.id = #{classId}</if>
        <if test="className!=null and className!=''">and t.name = #{className}</if>
        <if test="subjectCode!=null and subjectCode!=''">and t.`item_third_code` = #{subjectCode}</if>
        <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">and study_time between #{startTime} and #{endTime}</if>
        group by pl.device
    </select>

    <select id="queryVideo" resultType="map" parameterType="map">
		SELECT
		v.*
		FROM
		class_type t
		left join `class_type_module_relation` cr
		on t.id = cr.`class_type_id`
		left join `course_video_chapter` vc
		on vc.module_id = cr.`module_id`
		left join `course_video_lecture` vl
		on vl.`chapter_id` = vc.`id`
		left join video v
		on v.id = vl.video_id
		where v.id is not null
        <if test="classId!=null and classId!=''">and t.id = #{classId}</if>
        <if test="className!=null and className!=''">and t.name = #{className}</if>
		limit 1;
    </select>
</mapper>