.clear:after{
    content: "";
    display: block;
    clear: both;
    visibility:hidden;
}
.u-wrap>.block{
    height: 44px;
    background: #f6f6f6;
    line-height: 44px;
    overflow: inherit;
}
.block>div{
    float:left;
    font-size: 14px;
    color: #333;
    margin-right: 40px;
}
.block .labels{
    float: left;
    width: 18%;
    background: #1ebb90;
    height:44px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    position: relative;
}
.block .labels.else{
    background: #b7b7b7;
}
.block .labels.else1{
    background: #FE5151;
}
.sanjiao{
    position: absolute;
    background: transparent;
    top:0;
    right: -22px;
    border-width: 22px;
    border-color:#f6f6f6 #f6f6f6 #f6f6f6 #1ebb90;
    border-style: dashed dashed dashed solid;
    width: 0px;
    overflow: hidden;
}
.block .labels.else .sanjiao{
    border-color:#f6f6f6 #f6f6f6 #f6f6f6 #b7b7b7;
}
.block .labels.else1 .sanjiao{
    border-color:#f6f6f6 #f6f6f6 #f6f6f6 #FE5151;
}
.block del{
    font-size: 12px;
    color: #999;
    margin-left:4px;
}
.block button{
    float: right;
    width: 70px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: #237fd5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
    margin: 8px 44px;
    border:0
}
.class-title {
    height: 32px;
    max-width: 360px;
    overflow: hidden;
}
.sum{
    max-width: 120px;
    overflow: hidden;
}