.navbar .header .nav li .ke {
    color: #fff
}

.subentry-b {
    background-color: #00b7ee;
    color: #fff
}

.left-side li.subentry-f {
    background-color: #f6f6f6;
    color: #6e6e6e
}

.h6-l {
    padding-left: 14px
}

.s-title .kg {
    margin-left: 20px
}

.tit-font .t{
    color: #000;
}

