@font-face{font-family:'iconfont';src:url('fonts/iconfont.eot');src:url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),url('fonts/iconfont.woff') format('woff'),url('fonts/iconfont.ttf') format('truetype'),url('fonts/iconfont.svg#iconfont') format('svg')}.login-bg{position:absolute;top:51px;right:0;bottom:0;left:0;background-image:url(../images/starry-galactic-sky_1366x768_sc.jpg);background-size:cover}.login-bg .login-mark{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(255,255,255,0.4)}.login-bg .black{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.4)}.login{position:fixed;top:40%;left:50%;width:500px;height:256px;margin-left:-250px;margin-top:-128px}.login .mainbackground{position:relative;width:500px;height:256px;padding:0;background-color:transparent}.login .mainbackground .login-title{margin-bottom:15px;padding-left:15px;padding-bottom:10px;border-bottom:2px solid rgba(255,255,255,0.4)}.login .mainbackground .login-title .h6{color:#fff}.login .mainbackground .login-form{width:300px;margin:0 auto}.login .mainbackground .login-form p.c{margin-bottom:15px}.login .mainbackground .login-form p.c.re{margin-top:-10px}.login .mainbackground .login-form span{display:inline-block}.login .mainbackground .login-form span.c-title{width:60px;color:#fff}.login .mainbackground .login-form span.c-content{position:relative;color:#fff}.login .mainbackground .login-form span.c-content input[type="text"],.login .mainbackground .login-form span.c-content input[type="password"]{height:20px;color:#fff;color:#000 \9;border:1px solid rgba(255,255,255,0.3);background-color:rgba(255,255,255,0.3)}.login .mainbackground .login-form span.c-content input[type="checkbox"]{background-color:rgba(255,255,255,0.5)}.login .mainbackground .login-form span.c-content .btn-login{width:100px;line-height:18px;text-align:center}.login .mainbackground .login-form span.tips{position:absolute;top:0;left:195px;width:150px;line-height:29px;color:#f00}.login .mainbackground .login-form span.codeimg{width:80px;padding-left:5px}.login .mainbackground .login-form span.codeimg img{width:100%}.login .mainbackground .login-form input.code{width:80px}

	@-webkit-keyframes pulse {
	  0% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }
	
	  50% {
	    -webkit-transform: scale3d(1.05, 1.05, 1.05);
	            transform: scale3d(1.05, 1.05, 1.05);
	  }
	
	  100% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }
	}
	
	@keyframes pulse {
	  0% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }
	
	  50% {
	    -webkit-transform: scale3d(1.05, 1.05, 1.05);
	            transform: scale3d(1.05, 1.05, 1.05);
	  }
	
	  100% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }
	}

	html{
		overflow: auto;
	}
	body{
		background:url('../images/login_bg.png') repeat;
	}
	.header a img{
		margin-top:10px;
		margin-left:30px;
	}
	.footer{
		text-align:center;
	}
	.main{
		width:100%;
		height:100%;
		min-height:430px;
		padding:50px 0;
		position:relative;
	}
	.main .content{
		width:60%;
		min-width:1080px;
		position:absolute;
		height:80%;
		top:50%;
		left:50%;
		margin-left:-540px;
		margin-top:-250px;
	}
	.main .content .caption{
		float:left;
		width:650px;
	}
	.main .content .caption .text{
		width:320px;
		margin:0 auto; 
	}
	.main .content .caption .text h3{
		padding: 20px 0;
		color:#474747;
	}
	.main .content .caption .text h4{
		margin-top: 10px;
		color:#666;
	}
	.main .content .caption .text p{
		margin-top: 5px;
		color:#8c8c8c;
	}
	.main .content .image{
		background-image:url('../images/login_content_bg.png');
		background-repeat:no-repeat;
		width:100%;
		height:190px;
	}
	#caption-login .image{
		/* background-position: -460px 0px; */
		height:380px;
	}
	#caption-register .image{
		background-position: 0px 0px;
	}
	.main .content .box{
		float:right;
		position: relative;
		display: block;
		-webkit-perspective: 800px;
        -moz-perspective: 800px;
        width:334px;
        height:100%;
	}
	.main .content .box .panel{
	    position: absolute;
	    right:0; 
	    background:#fff;
	    border:none;
	    border-radius:5px;
	    box-shadow:0 0 5px #c5c5c5;
	    transform-style:preserve-3d;
       -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
       -ms-transform-style: preserve-3d;
       transition: .8s ease-in-out;
       -webkit-transition: .8s ease-in-out ;
       -moz-transition: .8s ease-in-out ;
       -ms-transition: .8s ease-in-out ;
       backface-visibility:hidden;
       -webkit-backface-visibility:hidden;
       -moz-backface-visibility:hidden;
       -ms-backface-visibility:hidden;
	}
	.login-panel{
		width:332px;
		height:350px;
		transform:rotateY(0);
		-webkit-transform: rotateY(0);
		-moz-transform: rotateY(0);
		-ms-transform: rotateY(0);
		z-index:2;
	}
	#caption-register{
		-webkit-animation-name: pulse;
	    animation-name: pulse;
		transition:2s;
	}
	#caption-login{
		-webkit-animation-name: pulse;
	    animation-name: pulse;
		transition:2s;
	}
	.register-panel{
		transform:rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		z-index:1;
	}
	.main .content .box .rotate.login-panel{
		transform:rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
	}
	.main .content .box .rotate.register-panel{
		transform:rotateY(0);
		-webkit-transform: rotateY(0);
		-moz-transform: rotateY(0);
		-ms-transform: rotateY(0);
	}
	.bot{
		width:100%;
		height:207px;
		background:url('../images/login_bot_bg.png') no-repeat center; 
		position:absolute;
		bottom:-40px;
		z-index:-1;
	}
	.login-title{
		padding-top:15px;
		padding-bottom:5px;
		border-bottom:solid 1px #ccc;
		margin: 0 10px;
	}
	.login-title h2{
		font-size:18px;
		color:#32b0eb;
	}
	.login-form1{
		padding:10px 20px;
		position:relative;
		text-align:center;
	}
	.login-form1 .c{
		padding:8px 0;
		height:40px;
		margin:0 auto;
		position:relative;
		text-align:left;
	}
	.login-form1 .s{
		height:20px;
		line-height:20px;
		margin:5px auto;
		position:relative;
		text-align:left;
	}
	.login-form1 input[type="text"],.login-form1 input[type="password"],.login-form1 input[type="text"]{
		height:35px;
		width:280px;
		padding:0;
		padding-left:10px;
		font-size:12px; 
	}
	.login-form1 input:focus{
		border:solid 1px #3DA9F7;
		transition: 1s;
	}
	.login-form1 input.input-sm{
		width:120px;
	}
	.login-form1 .btn{
		background:#3DA9F7;
		border:none;
		display:block;
		padding:12px 0;
		font-size:18px;
		width:100%;
		color:#fff;
		text-align:center;
	}
	.login-form1 .btn:hover{
		background:#3DA9F7;
		cursor:pointer;
	}
	.login-form1 .btn[disabled="disabled"]{
		background:#ccc;
	}
	.login-form1 .btn-sm{
		width:140px;
		font-size:14px;
		display:inline-block;
		margin-left:15px;
		height:35px;
	}
	.login-form1 .remeber span{
		float:left;
		margin:0;
		padding:0;
	}
	.login-form1 .remeber a{
		float:right;
		margin:0;
		padding:0;
	}
	.login-form1 .text{
		font-size:12px;
	}
	.login-form1 .text a,a.btn-link{
		color:#3DA9F7;
		text-decoration: underline;
		font-size:14px;
	}
	span.tips{
		color:red;
		font-size:12px;
		display:block;
		text-align:left;
		height:15px;
		position:absolute;
	}
	span.tips label{
		display:initial;
	}
	.login-form1 input.error{
		margin:0;
		border:solid 1px red;
	}
	.rf{
		font-size:24px;
		color:#ccc;
		margin-left:10px;
		margin-top:7px;
		margin-left:10px;
		width:24px;
		height:24px;
	}
	div,img{border:none;}
[placeholder]{color:#B4B4B4;line-height:35px;}