@font-face {
	font-family: 'iconfont';
	src: url('fonts/iconfont.eot');
	src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconfont.woff') format('woff'), url('fonts/iconfont.ttf')
		format('truetype'), url('fonts/iconfont.svg#iconfont') format('svg')
}

.classes-type p.c {
	margin-top: 10px;
	    position: relative;
    padding-left: 72px;
}

.classes-type p:first-child {
	margin-top: 0
}

.classes-type span {
	display: inline-block
}

.classes-type span.t-title {
	width: 58px;
	margin-right: 15px;
	text-align: right;
	color: #999;
	position: absolute;
    top: 0;
    left: 0;
}

.classes-type a.btn {
	margin-right: 10px;
	text-decoration: none;
	margin-bottom: 10px;
}

.classes-type a.btn:hover {
	text-decoration: none
}

.query {
	margin: 15px auto
}

.query .mainbackground {
	padding-bottom: 20px
}

.query .mainbackground .title {
	background-color: transparent
}

.query .mainbackground .tabs {
	text-align: right
}

.query .mainbackground .tables {
	padding-top: 10px
}

.query .mainbackground .tables table.table th {
	background-color: #acdfdf;
}

.query .mainbackground .tables table.table td {
	background-color: #fff;
	word-break: break-all;
	word-wrap: break-word;
}

.query .mainbackground .chars {
	min-height: 500px;
	margin-top: 20px;
	background-color: #fff
}
.t-content input.date-picker{
	width:100px;
}