/*弹窗*/
.popupOpacity{display: none;height: 100%;width: 100%;position: fixed;top: 0;left: 0;background: rgba(0,0,0,.6);}
.popupContainer{display: none;padding: 10px 30px;z-index: 100;height: 800px;width: 400px;position: absolute;left: 50%;top: 20%;margin-left: -200px;background: #fff;}
.popupContainer>h3{text-align: center;border-bottom: 1px solid #e4e4e4;height: 40px;line-height: 40px;}
.addSchool{text-align: left;}
.addSchool label{display: inline-block;}
.addSchool li{margin: 5px 0;}
.submitSchool{text-align: center;}
.submitSchool button{margin: 10px;}
.berkeleyDetailInfo label{display: inline-block;}
.berkeleyDetailInfo{padding: 5px 20px;}
.berkeleyDetailInfo li{margin: 5px;}
.berkeleyDetailInfo input{border: none;background: #f6f6f6;}
.berkeleyOperate{text-align: center;margin-top: 80px;}
.berkeleyOperate button{margin: 10px;}

.createBranch,.addCourse{float: right;margin-right: 20px;}
.popupContainerCourse,.popupAddCourse{display: none;width: 800px;height: 300px;position: fixed;left: 50%;top: 50%;
margin-left: -400px;margin-top: -150px;background: #fff;z-index: 100;text-align: center;}
.popupContainerCourse h5,.popupAddCourse h5{height: 60px;line-height: 60px;}
.popupAddCourse{padding: 0 52px}
.popupAddCourse h5{border-bottom: 1px solid #f6f6f6;font-size: 16px;color: #333333;}
.popupCourseContent{height: 160px;text-align: left;overflow: auto;margin-bottom: 10px;}
.popupAddCourse{height: 400px;}
.popupAddCourse label{display: inline-block;}
.closePopupAddCourse{position: absolute;right: 10px;top: 10px;}
.classSetting{box-shadow:  0 3px 5px #999;border-radius: 3px;display: inline-block;margin: 10px 63px;width: 220px;
    background: #e4edf5;text-align: center;padding-bottom: 20px;}
.classSetting h5{height: 60px;color: #000;line-height: 60px;}
.classSetting input{text-align: center;padding: 0 !important;width: 20px;font-size: 16px;color: #666;
    border-color: #e4edf5 !important;background: #e4edf5;}
.classSetting li{text-align: center;font-size: 14px;color: #666;margin-bottom: 20px;letter-spacing: 1px;}
.classSettingBtn{text-align: center;}
.classSettingBtn button{margin: 50px;}
.classSettingEdit input{border-color: #e4e4e4 !important;background: #fff;width: 30px;}
.baseSchoolLiveLabel label,.baseSchoolLiveLabel li{display: inline-block;}
.baseSchoolLiveLabel li{margin: 10px;}
.liveBtn,.recordingBtn{float: right;margin-left: 20px;}
.baseSchoolHead{height: 30px;}
.baseSchoolHead h2{display: inline-block;}
.checkOutData,.searchContents{margin-left: 20px;}
.chooseData{margin-left: 10px;margin-right: 5px;}
.baseSchoolBg{background: #f6f6f6;}
.berkeleyDetailInfo{display: inline-block;width: 45%;margin-top: 20px;}
.berkeleyDetailInfoLeft li{margin-left: 30%;line-height: 30px;}
.berkeleyDetailInfoRight li{margin-left: 20%;line-height: 30px;}
.showDetails{display: none;}
.berkeleyDetailInfo textarea{border-color: #f6f6f6;background: #f6f6f6; }
input.editStateNow,textarea.editStateNow{border: 1px solid #e4e4e4;background: #fff;}
.berkeleyDetailInfoRight{float: right;}
.berkeleyIndex{background: #f6f6f6;height: 1000px;}
.batchesShelves,.batches{float: right;margin-right: 20px;}
.openCourseManage{display: none;position: absolute;right: 60px;border: 1px solid #797979;border-radius: 5px;padding: 0 3px;line-height: 28px;}
.openCourseManage li{height: 28px;border-bottom: 1px solid #999999;}
.informationCourseContent label{display: inline-block;}
.informationCourseContent>div{padding-left: 52px;}
.informationCourseContent h4{font-size: 16px;color: #3c3c3c;height: 34px;line-height: 34px;}
.informationCourseContent li{font-size: 12px;color: #0c0c0c;}
.informationContentFirst h4{margin-top: 30px;}
.informationContentFirst li{height: 40px;line-height: 40px;margin-top: 3px;}
.informationContentFirst label{margin-right: 136px;color: #afb0af}
.informationContentFirst .knowledgePoint,.informationContentFirst .concessionalRate{margin-right: 122px;}
.informationContentFirst .courseName{margin-right: 113px;}
.informationContentSecond li p{ color: #484948;padding-left: 10px;background: #eeeeee;height: 20px;line-height: 20px;margin: 10px 0;}
.secondContent{margin-left: 30px;}
.classManagementInput>div{height: 40px;line-height: 40px;text-align: left;margin: 10px 0;}
.classManagementInput>div input{height: 24px;width: 312px;line-height: 24px;font-size: 12px;color: #999999;}
.classManagementInput>div label{font-size: 14px;color: #868686;margin-right: 10px;}
.classManagementInput>div .classManagementInputFirst{margin-right: 38px;}