<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.commodity.mapper.CommoditySpecialMapper">
	<resultMap type="com.yuxin.wx.model.commodity.CommoditySpecial" id="commoditySpecialMap">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="label" column="label" />
		<result property="coverPicUrl" column="cover_pic_url" />
		<result property="descript" column="descript" />
		<result property="detailTitle" column="detail_title" />
		<result property="detailCoverPicUrl" column="detail_cover_pic_url" />
		<result property="detailText" column="detail_text" />
		<result property="teacherIds" column="teacher_ids" />
		<result property="commodityIds" column="commodity_ids" />
		<result property="createTime" column="create_time" />
		<result property="orderFlag" column="order_flag" />
		<result property="status" column="status" />
		<result property="updateTime" column="update_time" />
		<result property="subjectId" column="subject_id" />
	</resultMap>
	
	<insert id="insert" parameterType="com.yuxin.wx.model.commodity.CommoditySpecial" useGeneratedKeys="true" keyProperty="id">
	   insert into commodity_special(title,label,cover_pic_url,descript,detail_title,detail_cover_pic_url,detail_text,teacher_ids,commodity_ids,create_time,order_flag,status,update_time,subject_id)
	   values(#{title},#{label},#{coverPicUrl},#{descript},#{detailTitle},#{detailCoverPicUrl},#{detailText},#{teacherIds},#{commodityIds},#{createTime},#{orderFlag},#{status},#{updateTime},${subjectId})
	</insert>

    <select id="findSpecialByPage" parameterType="com.yuxin.wx.model.commodity.CommoditySpecial" resultMap="commoditySpecialMap">
        select 
        id,title,label,order_flag,status from commodity_special order by status desc, order_flag is null,order_flag asc limit #{firstIndex},#{pageSize}
    </select>

    <select id="findSpecialByPageCount"  resultType="int">
        select 
        count(id) from commodity_special order by status desc, update_time desc 
    </select>

    <select id="findSpecialById" parameterType="com.yuxin.wx.model.commodity.CommoditySpecial" resultMap="commoditySpecialMap">
        select 
        id,
        title,label,cover_pic_url,descript,detail_title,detail_cover_pic_url,detail_text,teacher_ids,commodity_ids,create_time,order_flag,status,update_time,subject_id from commodity_special where id = #{id}
    </select>
    
    <update id="updateSpecial" parameterType="com.yuxin.wx.model.commodity.CommoditySpecial" >
        update commodity_special
        <set>
          <if test="title != null and title !=''">title = #{title},</if>
          <if test="label != null and label !=''">label = #{label},</if>
          <if test="coverPicUrl != null and coverPicUrl !=''">cover_pic_url = #{coverPicUrl},</if>
          <if test="descript != null and descript !=''">descript = #{descript},</if>
          <if test="detailTitle != null and detailTitle !=''">detail_title = #{detailTitle},</if>
          <if test="detailCoverPicUrl != null and detailCoverPicUrl !=''">detail_cover_pic_url = #{detailCoverPicUrl},</if>
          <if test="detailText != null and detailText !=''">detail_text = #{detailText},</if>
          <if test="teacherIds != null and teacherIds !=''">teacher_ids = #{teacherIds},</if>
          <if test="commodityIds != null and commodityIds !=''">commodity_ids = #{commodityIds},</if>
          <if test="orderFlag != null">order_flag = #{orderFlag},</if>
          <if test="status != null ">status = #{status},</if>
          <if test="updateTime != null and updateTime !=''">update_time = #{updateTime},</if>
          <if test="subjectId != null">subject_id = #{subjectId}</if>
        </set>
        where id = #{id}
    </update>
   
   <update id="deleteSpecialOrder" parameterType="com.yuxin.wx.model.commodity.CommoditySpecial" >
        update  commodity_special  set order_flag = null   where id = #{_parameter}
   </update>      
   
</mapper>