@font-face{font-family:iconfont;src:url(../fonts/iconfont.eot);src:url(../fonts/iconfont.eot?#iefix) format('embedded-opentype'),url(../fonts/iconfont.woff) format('woff'),url(../fonts/iconfont.ttf) format('truetype'),url(../fonts/iconfont.svg#iconfont) format('svg')}.classes{margin:15px auto}.classes .mainbackground .heading .line{position:absolute;right:0;bottom:-10px;left:0;height:0;border-bottom:2px solid #ddd}.classes .mainbackground .classes-type p.c{margin-top:10px}.classes .mainbackground .classes-type p:first-child{margin-top:0}.classes .mainbackground .classes-type span{display:inline-block}.classes .mainbackground .classes-type span.t-title{width:80px;margin-right:15px;text-align:right}.classes .mainbackground .classes-type a.btn{margin-right:10px}.classes .mainbackground .main-content{margin:0 80px}.classes .mainbackground .m-search .fr{float:right}.classes .mainbackground .c-list p{margin-bottom:15px;padding:10px 15px;background-color:#ddd}.classes .mainbackground .c-list p.public span.left{float:left;width:260px}.classes .mainbackground .c-list p.public span.left .c-title{width:80px;text-align:right}.classes .mainbackground .c-list p.public span.left .c-content{width:150px;margin-right:0}.classes .mainbackground .c-list p.public span.right{float:left;width:650px;min-height:50px;padding-left:50px;border-left:1px solid #efefef}.classes .mainbackground .c-list p.public span.right em{color:red}.classes .mainbackground .c-list p.public span.right .block{width:100%;margin-bottom:5px;clear:both}.classes .mainbackground .c-list p.public span.right .block.active .c-content{background-color:#ccc}.classes .mainbackground .c-list p.public span.right .block .c-title{width:80px}.classes .mainbackground .c-list p.public span.right .block .c-content{padding:5px 8px;cursor:pointer}.classes .mainbackground .c-list p.long span.c-title{width:80px;text-align:right}.classes .mainbackground .c-list p.long span.c-content{width:200px}.classes .mainbackground .c-list p span{display:inline-block;margin-right:15px}.classes .mainbackground .c-list p span.c-title{color:#999}.classes .mainbackground .c-list p span.c-content{color:#333}.classes .mainbackground .box-config{padding:0 0 10px}.classes .mainbackground .box-config .tabs{padding:10px 0}.classes .mainbackground .box-config .box-select{position:relative;min-height:310px}.classes .mainbackground .box-config .box-select .curr{position:absolute;top:30%;left:48.5%}.classes .mainbackground .box-config .box-select .curr i{display:block;clear:both;margin-top:15px;font-size:26px;font-size:2.6rem;cursor:pointer}.classes .mainbackground .box-config .box-select .left{position:absolute;top:0;left:0;width:45%;height:280px;padding:10px;background-color:#fff;overflow-y:auto}.classes .mainbackground .box-config .box-select .right{position:absolute;top:0;right:0;width:45%;height:280px;padding:10px 10px;background-color:#fff;overflow-y:auto}.classes .mainbackground .box-config .box-select .one{left:50%;margin-left:-24%}.classes .mainbackground .box-config .box-select .left li,.classes .mainbackground .box-config .box-select .right li{height:40px;margin-top:10px;padding:0 20px;line-height:40px;background-color:#eee;border-radius:5px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.classes .mainbackground .box-config .box-select .left li:first-child,.classes .mainbackground .box-config .box-select .right li:first-child{margin-top:40px}.classes .mainbackground .box-config .box-select .left li.active,.classes .mainbackground .box-config .box-select .left li:hover,.classes .mainbackground .box-config .box-select .right li.active,.classes .mainbackground .box-config .box-select .right li:hover{background-color:#a3e0ff}.classes .mainbackground .box-config .box-select .left li span,.classes .mainbackground .box-config .box-select .right li span{display:inline-block;font-size:16px;font-size:1.6rem;float:left}.classes .mainbackground .box-config .box-select .left li span.p1,.classes .mainbackground .box-config .box-select .right li span.p1{color:#333;width:70%}.classes .mainbackground .box-config .box-select .left li span.p2,.classes .mainbackground .box-config .box-select .right li span.p2{color:#999;width:15%}.classes .mainbackground .box-config .box-select .left li span.p3,.classes .mainbackground .box-config .box-select .right li span.p3{color:#999;width:15%}.classes .mainbackground .teacher-list{padding:10px 0}.classes .mainbackground .teacher-list ul li{margin-bottom:15px;background-color:#fff}.classes .mainbackground .teacher-list ul li .table>tbody>tr>td,.classes .mainbackground .teacher-list ul li .table>tbody>tr>th{padding:5px 8px;border-color:transparent}.classes .mainbackground .teacher-list ul li span{display:inline-block}.classes .mainbackground .teacher-list ul li span.b-title{width:450px;font-size:16px;font-size:1.6rem}.classes .mainbackground .teacher-list ul li span.t-title{color:#999;width:80px}.classes .mainbackground .teacher-list ul li span.t-content{color:#333}.classes .mainbackground .m-list{margin:0 auto}.classes .mainbackground .m-list ul{padding-top:15px}
.wendaLi {float: none; position: relative; width: initial; height: auto; margin-bottom: 20px; background-color: inherit; padding: 0;border: 2px solid #eee; overflow: hidden;}.classes .mainbackground .m-list ul li.add-class{border:1px dotted #ddd;text-align:center;line-height:200px}.classes .mainbackground .m-list ul li.add-class a{display:inline-block;position:absolute;top:0;right:0;bottom:0;left:0;text-decoration:none;color:#666}.classes .mainbackground .m-list ul li.add-class a:hover{color:#333;text-decoration:none}.classes .mainbackground .m-list ul li.add-class .icons{font-size:46px;font-size:4.6rem}.classes .mainbackground .m-list ul li .tips{position:absolute;top:10px;left:0;padding:3px 10px;background-color:rgba(194,235,235,.8);font-style:normal}.classes .mainbackground .m-list ul li .add-com{position:absolute;top:10px;right:0;padding:3px 10px;background-color:rgba(194,235,235,.8);font-style:normal;cursor:pointer}.classes .mainbackground .m-list ul li .infos-pic{width:100%;height:155px;overflow:hidden}.classes .mainbackground .m-list ul li .infos-pic img{width:100%}.classes .mainbackground .m-list ul li .infos-title{position:relative;padding:8px 10px 6px}.classes .mainbackground .m-list ul li .infos-title .h5{font-size:14px;font-size:1.4rem}.classes .mainbackground .m-list ul li .infos-title .type{position:absolute;top:-30px;right:5px}.classes .mainbackground .m-list ul li .infos-title .descript{font-size:12px;font-size:1.2rem;color:#999}.classes .mainbackground .m-list ul li .infos-tips{padding:0 10px}.classes .mainbackground .m-list ul li .infos-tips .price{float:left;padding-right:8px;color:red}.classes .mainbackground .m-list ul li .infos-tips del{color:#999;font-size:12px;font-size:1.2rem}.classes .mainbackground .m-list ul li .btns{padding:0 10px;text-align:right}.classes .mainbackground .c-main{width:60%;margin:0 auto;padding-top:20px}.classes .mainbackground .c-main.c-max{width:85%}.classes .mainbackground .c-main .s-title{margin:10px 0;padding:10px 20px;border-bottom:1px dotted #ddd}.classes .mainbackground .c-main .c-content{padding:0 20px}.classes .mainbackground .c-main .c-content.table-list td span{display:inline-block}.classes .mainbackground .c-main .c-content.table-list td span.c-title{width:60px;color:#999}.classes .mainbackground .c-main .c-content .v-list{margin-bottom:15px}.classes .mainbackground .c-main .c-content .v-list li{margin-top:10px;margin-left:35px;padding:5px 10px;background-color:#eee}.classes .mainbackground .c-main .c-content .v-list li.v-title{margin-left:0}.classes .mainbackground .c-main .c-content textarea{width:99%;resize:none}.classes .mainbackground .c-main .c-content table.table tr{background-color:#fff}.classes .mainbackground .c-main p.c{margin-bottom:15px;clear:both}.classes .mainbackground .c-main p.c span{display:inline-block}.classes .mainbackground .c-main p.c span.c-title{float:left;width:130px;text-align:left;color:#999;padding-right:15px}.classes .mainbackground .c-main p.c span.c-title.top{vertical-align:top}.classes .mainbackground .c-main p.c span.c-content{width:400px}.classes .mainbackground .c-main p.c span.c-content.block{width:100%;min-height:500px;margin-top:10px;background-color:#fff}.classes .mainbackground .c-main p.c span.c-content select{min-width:200px}.classes .mainbackground .c-main p.c span.view{display:block}.classes .mainbackground .c-main p.c span.btns{padding-top:15px}.classes .mainbackground .c-main p.c input.readonly{border:none;background-color:transparent;cursor:default}.classes .mainbackground .c-main .m-title{position:relative;margin-bottom:15px;padding:8px 10px;border-bottom:1px solid #ddd}.classes .mainbackground .c-main .add-classes{overflow:hidden}.classes .mainbackground .c-main .add-classes p.h{width:48%;height:32px;margin-bottom:10px;float:left}.classes .mainbackground .c-main .add-classes p input.readonly{border:none;background-color:transparent;cursor:default}.classes .mainbackground .c-main .add-classes p textarea.readonly{border:none;background-color:transparent;cursor:default}.classes .mainbackground .c-main .add-classes p span{display:inline-block}.classes .mainbackground .c-main .add-classes p span.c-title{width:80px;padding-right:0;color:#999;text-align:right}.classes .mainbackground .c-main .add-classes p span.c-content{width:inherit}.classes .mainbackground .c-main .add-classes p span.c-content textarea{width:528px;height:100px;resize:none}.classes .mainbackground .teacher-step{width:355px;height:45px;margin:0 auto;padding:10px 0}.classes .mainbackground .teacher-step span.step{display:inline-block;float:left;width:158px;height:34px;margin-right:14px;line-height:34px;color:#333;background-image:url(../images/classes-icons.png);background-repeat:no-repeat;background-position:-165px 0}.classes .mainbackground .teacher-step span.step.active{background-position:0 0;color:#fff}.classes .mainbackground .teacher-step span.step.active em{color:#fff}.classes .mainbackground .teacher-step span.step em{display:inline-block;width:20px;margin:0 15px 0 0;padding:0 5px;text-align:center;font-weight:700;color:#666;font-size:16px;font-size:1.6rem}.classes .mainbackground .teacher-content .t-c{padding-top:15px}.classes .mainbackground .teacher-content .t-c .t-c-l{float:left;width:48%;height:300px;background-color:#eee;overflow-y:auto}.classes .mainbackground .teacher-content .t-c .t-c-l ul{width:96%;padding:10px 2%}.classes .mainbackground .teacher-content .t-c .t-c-l ul li{position:relative;margin-top:10px;padding:8px 5px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.classes .mainbackground .teacher-content .t-c .t-c-l ul li.dis{padding-top:0;padding-bottom:0}.classes .mainbackground .teacher-content .t-c .t-c-l ul li.dis .father{padding:5px;border:solid 1px #999}.classes .mainbackground .teacher-content .t-c .t-c-l ul li .son{width:98%;padding-bottom:0;padding-right:0}.classes .mainbackground .teacher-content .t-c .t-c-l ul li .son li{margin-left:15px;}.classes .mainbackground .teacher-content .t-c .t-c-l ul li .son li:first-child{margin-top:0;margin-left:15px}.classes .mainbackground .teacher-content .t-c .t-c-l ul li.class-son{margin-left:30px;background-color:#dedede;cursor:pointer;border:solid 1px #999;background-color:#fff;}.classes .mainbackground .teacher-content .t-c .t-c-l ul li a{text-decoration:none}.classes .mainbackground .teacher-content .t-c .t-c-l ul li a:hover{color:#333}.classes .mainbackground .teacher-content .t-c .t-c-l ul li i.iconfont{float:right;margin-right:10px;text-align:center}.classes .mainbackground .teacher-content .t-c .t-c-l ul li i.iconfont3{float:right;margin-right:10px;cursor:pointer}.classes .mainbackground .teacher-content .t-c .t-c-r{float:right;width:48%;height:300px;background-color:#eee;overflow-y:auto}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-t{padding:10px 40px}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-t p{margin-top:15px}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-t p.h{width:300px;margin:15px auto 0}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-t p span{display:inline-block;line-height:32px}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-t p span.c-title{width:80px;padding-right:10px;text-align:right;color:#999}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-t p span.c-content{color:#333}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-t p span input{line-height:26px}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-b{margin:10px 10px 0}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-b li{margin-top:15px;padding:5px 10px;background-color:#ddd}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-b li:first-child{margin-top:0}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-b li span{display:inline-block;float:left;margin-right:15px;line-height:32px}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-b li span.input{width:200px;margin-right:25px}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-b li span.input input{width:190px}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-b li input{line-height:14px}.classes .mainbackground .teacher-content .t-c .t-c-r .t-c-r-b p.c{margin-top:15px}.classes .mainbackground .teacher-content .t-b{padding-top:15px}.classes .mainbackground .teacher-content .t-b .btn{margin-right:15px}.add-layer{position:fixed;top:50%;left:50%;width:400px;height:240px;margin-left:-200px;margin-top:-120px;background-color:#f1f1f1;border:1px solid #ddd;border-radius:8px;z-index:99}.add-layer.w800{width:750px;height:400px;margin-left:-375px;margin-top:-200px}.add-layer .close{position:absolute;top:5px;right:5px;padding:5px;background-color:#ddd;border-radius:50%;cursor:pointer}.add-layer .layer-content{padding:20px 15px 10px}.add-layer .layer-content .term span.term-title{display:inline-block;color:#999;margin-right:5px;line-height:32px}.add-layer .layer-content .term span.term-title input{width:80px;line-height:22px}.add-layer .layer-content .term-search{padding-top:10px}.add-layer .layer-content .term-list{position:relative;height:280px;max-height:280px;margin-top:10px;overflow-y:auto}.add-layer .layer-content .term-list .table tr{cursor:pointer}.add-layer .layer-content .term-list .table tr.head{cursor:default;background-color:#eaeaea}.add-layer .layer-content .term-list .table tr.active,.add-layer .layer-content .term-list .table tr:hover{background-color:#6cf}.add-layer .layer-content .term-list .table.table-head{position:absolute;top:0;right:0;left:0;z-index:9}.add-layer .layer-content .term-list .table.table-tbody{margin-top:33px}.add-layer p.c{height:25px;margin-top:5px;padding:5px 0;line-height:25px;overflow:hidden}.add-layer p.c:first-child{margin-top:0}.add-layer p.c span{display:inline-block;float:left}.add-layer p.c span.c-title{width:60px;margin-right:15px;text-align:right}.upload-layer{position:fixed;top:50%;left:50%;width:1040px;height:570px;margin-left:-500px;margin-top:-285px;background-color:#fafafa;z-index:99}.upload-layer .upload-title {position:relative;width:95%;margin:15px auto 5px;padding:5px 10px;border-bottom:1px solid #ddd}.upload-layer .upload-title .close{position:absolute;top:5px;right:10px;font-size:18px;font-size:1.8rem;cursor:pointer}.upload-layer .main .tabs{margin:70px 50px;}.upload-layer .types{position:relative;width:95%;margin:10px auto 15px}.upload-layer .types-list{position:relative;width:95%;margin:10px auto 15px}.upload-layer .types-list a.btn{margin:0 5px;text-decoration:none}.upload-layer .types-list a.btn.active,.upload-layer .types-list a.btn:hover{text-decoration:none;color:red}.upload-layer .pic-list{position:relative;width:95%;margin:10px auto 15px;height:280px;overflow:hidden}.upload-layer .pic-list ul{width:1020px;overflow:hidden}.upload-layer .pic-list ul li{position:relative;float:left;width:225px;height:125px;margin-right:22px;margin-bottom:15px;overflow:hidden}.upload-layer .pic-list ul li img{width:100%}.upload-layer .pic-list ul li.add{background-color:#ddd;text-align:center}.upload-layer .pic-list ul li.add .iconfont{position:relative;top:50px;font-size:32px;font-size:3.2rem;cursor:pointer}.upload-layer .pic-list ul li .mark{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.6);text-align:center}.upload-layer .pic-list ul li .mark .btn{position:relative;top:55px}.upload-layer .pic-upload{position:absolute;top:55px;left:2.5%;right:2.5%;bottom:20px;background-color:#ddd;z-index:9}.upload-layer .pic-upload .upload-content{position:relative;margin-bottom:10px;padding:10px 0;height:375px}.upload-layer .pic-upload .upload-content img{width:100%}.upload-layer .pic-upload .upload-content .upload{position:absolute;width:516px;height:393px;top:0;left:10px}.upload-layer .pic-upload .upload-content .upload img{vertical-align:middle}.upload-layer .pic-upload .upload-content .upload-big{position:absolute;top:0;left:535px;width:446px;height:241px}.upload-layer .pic-upload .upload-content .upload-sm{position:absolute;width:255px;height:138px;top:255px;left:535px}.upload-layer .pic-upload .upload-content .upload-mini{position:absolute;top:255px;left:800px;width:181px;height:96px}.upload-layer .pic-upload p.tips{padding:10px 20px}.upload-layer .pic-upload p.tips span{color:#666;font-size:12px;font-size:1.2rem;vertical-align:bottom}.add-layer-bg{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#333;background-color:rgba(0,0,0,.3);opacity:.3 \9;filter:alpha(opacity=30);z-index:98}.firstLi{position:absolute;top:0;z-index:90;text-align:center;width:449px;height:40px;margin:0 10px;padding:0 20px;line-height:40px;background:rgba(218,212,212,.8) none repeat scroll 0 0;border-radius:5px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.student .mainbackground .main-content .list-infos li{float:left;width:50%;height:40px;padding:10px 0 0 0}.student .mainbackground .main-content .list-infos li span.c-title{width:30%;margin-right:15px;color:#999;text-align:right;vertical-align:middle}.student .mainbackground .main-content .list-infos li span.c-l-title{width:90px}.student .mainbackground .main-content .list-infos li span.small{width:120p}.student .mainbackground .main-content .list-infos li span.c-content{position:relative;width:65%;color:#666;vertical-align:top}.classes .mainbackground .c-main{width:80%;margin:0 auto;padding-top:20px}.classes .mainbackground .c-main.c-max{width:85%}.classes .mainbackground .c-main .s-title{margin:10px 0;padding:10px 20px;border-bottom:1px dotted #ddd}.classes .mainbackground .c-main .c-content{padding:0 20px}.classes .mainbackground .c-main .c-content.table-list td span{display:inline-block}.classes .mainbackground .c-main .c-content.table-list td span.c-title{width:60px;color:#999}.classes .mainbackground .c-main .c-content .v-list{margin-bottom:15px}.classes .mainbackground .c-main .c-content .v-list li{margin-top:10px;margin-left:35px;padding:5px 10px;background-color:#eee}.classes .mainbackground .c-main .c-content .v-list li.v-title{margin-left:0}.classes .mainbackground .c-main .c-content textarea{width:99%;resize:none}.classes .mainbackground .c-main .c-content table.table tr{background-color:#fff}.classes .mainbackground .c-main p.c{margin-bottom:15px;clear:both}.classes .mainbackground .c-main p.c span{display:inline-block}.classes .mainbackground .c-main p.c span.c-title{float:left;width:130px;text-align:left;color:#999;padding-right:15px}.classes .mainbackground .c-main p.c span.c-title.top{vertical-align:top}.classes .mainbackground .c-main p.c span.c-content{width:400px}.classes .mainbackground .c-main p.c span.c-content.block{width:100%;min-height:500px;margin-top:10px;background-color:#fff}.classes .mainbackground .c-main p.c span.c-content select{min-width:200px}.classes .mainbackground .c-main p.c span.view{display:block}.classes .mainbackground .c-main p.c span.btns{padding-top:15px}.classes .mainbackground .c-main p.c input.readonly{border:none;background-color:transparent;cursor:default}.classes .mainbackground .c-main .m-title{position:relative;margin-bottom:15px;padding:8px 10px;border-bottom:1px solid #ddd}.classes .mainbackground .c-main .add-classes{overflow:hidden}.classes .mainbackground .c-main .add-classes p.h{width:50%;height:32px;margin-bottom:10px;float:left}.classes .mainbackground .c-main .add-classes p input.readonly{border:none;background-color:transparent;cursor:default}.classes .mainbackground .c-main .add-classes p textarea.readonly{border:none;background-color:transparent;cursor:default}.classes .mainbackground .c-main .add-classes p span{display:inline-block}.classes .mainbackground .c-main .add-classes p span.c-title{width:100px;padding-right:0;color:#999;text-align:right}.classes .mainbackground .c-main .add-classes p span.c-content{width:inherit}.classes .mainbackground .c-main .add-classes p span.c-content textarea{width:528px;height:100px;resize:none}
.layout-choose{
	    	position:fixed;
	    	width:400px;
	    	height:110px;
	    	z-index:99;
	    	margin-left:-225px;
	    	margin-top:-105px;
	    	top:50%;
	    	left:50%;
	    	background-color:#fff;
	    	-webkit-box-shadow:0 0 3px #0CC;  
	  		-moz-box-shadow:0 0 3px #0CC;  
	  		box-shadow:0 0 3px #0CC;
	  		border-radius:5px;
	  		padding: 50px 60px 40px;
	  		border-radius:5px;
  		}
  		.layout-choose .text{
  			margin-bottom:3em;
  			font-size: 1.2rem;
  		}
  		.layout-choose p{
  		 	line-height:1.7;
  		 	font-size: 1.4rem;
  		}
  		.layout-choose .btns{
  			overflow: hidden;
  			text-align : center;
  		}
  		.layout-choose a.btn{
  			height:50px;
  			line-height:50px;
  			padding:0 40px;
  			font-size: 1.4rem;
  			cursor:pointer
  		}
  		.layout-choose .btn-gray{
  			float:right;
  			color: #fff;
  			margin-right:20px;
  		}
  		
  		.layout-choose .btn-warning{
  			float:left;
  			color:#fff;
  			margin-left:20px;
  		}

    	.layout-mb{
	    	position:fixed;
	    	z-index:98;
	    	background:rgba(0,0,0,0.5);
	    	top:0;
	    	left:0;
	    	right:0;
	    	bottom:0;
    	}
    	#set-body .model .main-config p .btns .u-f{
    	    position: absolute;
		    top: 0;
		    left: 0;
		    width: 80px;
		    height: 26px;
		    opacity: 0;
		    filter: alpha(opacity=0);
		    cursor: pointer;
		    z-index: 2;
		    margin: -2px -5px;
    	}
    	
    	#set-body .model .main-config p .btns .btn {
		    position: relative;
		    left: -5px;
		}
		
		.classes .mainbackground .teacher-content .t-c .t-c-l ul li p:hover {
			box-shadow: 2px 2px 5px #ccc;
		}
		.classes .mainbackground .teacher-content .t-c .t-c-l ul li ul li:hover {
			box-shadow: 2px 2px 5px #ccc;
		}
		.main-content {height:100%;min-height: 350px;margin:0 50px;}
		.main-content .block{width:300px;height:300px;float:left;display:block;margin:30px 20px;background:#f6f6f6;position:relative;}
		.main-content .block.active{background:#fff;}
		.main-content .block.active .hidden{background:#fff;height:100%;}
		.main-content .block.active:hover .hidden{background:rgba(255,255,255,0.8);box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);position:absolute;z-index:99;}
		.main-content .block.active:hover{}
		.main-content .block i.iconfont{curosr:none;}
		.main-content .block.active .iconfont{curosr:pointer;}
		.main-content .block .b-title {height:85px;}
		.main-content .block .b-title .tt{height:100px;width:200px;float:left;}
		.main-content .block .b-title .tt .h3 b{font-size:18px;padding-left:5px;}
		.main-content .block .b-title .tt .h3 i{float:right;padding:5px;font-size:18px;}
		.main-content .block .b-title .tt .c{ color:#999;padding:10px 5px;}
		.main-content .block .b-title .line{height:1px; border-bottom: solid 1px #ddd;margin:0 auto; width:260px;position: relative; top: 85px;}
		.main-content .block .b-title .icon{float:left;width:80px;height:80px;line-height: 80px;padding:10px;}
		.main-content .block .b-title .icon img{width:60px;height:60px;}
		.main-content .block .b-title .icon i{color:#56abe4;font-size:70px;margin:10px;}
		.main-content .block .b-content{padding-top:10px;padding-bottom: 10px;padding-left: 20px;padding-right: 20px;hidden;height:114px;}
		.main-content .block:hover .b-content{height:auto;}
		.main-content .block .b-content ul li{line-height: 25px;text-align: left;}
		.main-content .block .b-content ul li span.b{float:right;display:none;}
		.main-content .block.active:hover .b-content ul li span.b{display:block;}
		.main-content .block.active:hover .b-content ul li span.b i{margin:0 5px;}
		.main-content .block .b-content ul li .enabled{}
		.main-content .block .b-content ul li .disabled{color: #888;}
		.main-content .block .b-btns{position: absolute;bottom: 0;width:100%;}
		.main-content .block .b-btns .left{margin:10px 10px;float:left;}
		.main-content .block .b-btns .mid{margin:10px 90px;}
		.main-content .block .b-btns .btn-add{
			float:right;
			border-radius:25px;
			background:#da9fb3;
			width:50px;
			height:50px;
			text-align: center;
			line-height: 50px;
			color:#fff;
			box-shadow: 0px 0px 5px #cfcfcf;
			font-size:15px;
			margin: 10px;
		}
		.main-content .block.active .b-btns .btn-add{
			float:right;
			border-radius:25px;
			background:#23B7E5;
			width:50px;
			height:50px;
			text-align: center;
			line-height: 50px;
			color:#fff;
			box-shadow: 0px 0px 5px #cfcfcf;
			font-size:15px;
			cursor: pointer;
			margin: 10px;
		}
		.main-content .block.active .b-btns .btn-add{
			float:right;
			border-radius:25px;
			background:#23B7E5;
			width:50px;
			height:50px;
			text-align: center;
			line-height: 50px;
			color:#fff;
			box-shadow: 0px 0px 5px #cfcfcf;
			font-size:15px;
			cursor: pointer;
			margin: 10px;
		}
		.main-content .block .b-btns .btn-ok{
			font-size:32px;
			color:#00bb9c;
		}
		.main-content .block .b-btns .btn-none{
			font-size:32px;
			color:#ea8010;
		}
		.main-content .block.active .b-btns .btn-addss{
			float:right;
			/* border-radius:25px; */
			/* background:#23B7E5; */
			width:80px;
			height:80px;
			text-align: center;
			line-height: 100px;
			color:#23B7E5;
			/* box-shadow: 0px 0px 5px #cfcfcf; */
			/* font-size:15px; */
			cursor: pointer;
			margin: 10px;
		}
		
		.tabsn {
    	margin: 70px 50px;
    }
  .headPic{
  	height: 100px;
    width: auto;
    margin-left: 40px;
    margin-top: 20px;
    float: left;
    text-align: center;
    }
  .plName{text-align: center;font-size: 12px; padding-top: 10px;}
  .content{
  	height: auto;
    width: 80%;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    }
    .title1{
    height: 30px;
    }
    .mana{
    float: right;
    width: auto;
    height: 100px;
    margin-top: 10px;
    }
    .ques{
    	min-height: 30px;
    }
    .ans{
    	height: 30px;
    	padding-top: 10px;
    }
    .queTitle{
    	line-height: 30px;
    	font-size: 14px;
    }
   .fr{
   	float: right;
   }
   .pr50{
   	padding-right: 50px;
   }
   .cfont{
    line-height: 30px;
    font-size: 18px;
    width: 25px;
   }
   .showCon{
   padding-top: 10px;
   display: -webkit-box;
   }
   .jht{
   color: #FE5151;
   }
   .zdt{
   color: #00b7ee;
   }
   .plContent{
    width: auto;
    height: auto;
    clear: both;
    padding-left: 13%;
    padding-right: 10px;
   }
   .tabwd{
    float: left;
    height: 25px;
    width: 100px;
    margin-top: 12.4px;
    border: 1px solid #f6f6f6;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
   }
   .yuanPic{
   	width: 50px;
	height: 50px;
	background-color: #aaaaaa;
	border-radius: 100px;
   }
   .divactive{
   background-color: #eee;
   }
   .ml10{
   margin-left: 10px;
   }
   .zdcss{
   position: absolute;
   right: 42px;
   }
   .jhcss{
   position: absolute;
   right: 20px;
   }
