<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.company.mapper.CompanyAppWelcomePicMapper">
	<resultMap type="com.yuxin.wx.model.company.CompanyAppWelcomePic" id="companyAppWelcomePicResultMap">
		<result property="id" column="id" />
		<result property="url" column="url" />
		<result property="seqence" column="seqence" />
		<result property="companyId" column="company_id" />
		<result property="status" column="status" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		url,
		seqence,
		company_id,
		status
    </sql>
	<sql id="entity_properties">
		#{id},
		#{url},
		#{seqence},
		#{companyId},
		#{status}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.url},
		#{item.seqence},
		#{item.companyId},
		#{item.status}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.company.CompanyAppWelcomePic" useGeneratedKeys="true" keyProperty="id">
		insert into company_app_welcome_pic( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into company_app_welcome_pic( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from company_app_welcome_pic
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from company_app_welcome_pic
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.company.CompanyAppWelcomePic">
		update company_app_welcome_pic 
		<trim prefix="set" suffixOverrides=",">
			<if test="url != null and url != ''">url = #{url},</if>
			<if test="seqence != null and seqence != ''">seqence = #{seqence},</if>
			<if test="companyId != null and companyId != ''">company_id = #{companyId},</if>
			<if test="status != null and status != ''">status = #{status},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="companyAppWelcomePicResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from company_app_welcome_pic
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="companyAppWelcomePicResultMap">
		select <include refid="table_columns" /> 
		from company_app_welcome_pic
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="url != null and url != ''">and url = #{url}</if>
			<if test="seqence != null and seqence != ''">and seqence = #{seqence}</if>
			<if test="companyId != null and companyId != ''">and company_id = #{companyId}</if>
			<if test="status != null">and status = #{status}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="companyAppWelcomePicResultMap" parameterType="com.yuxin.wx.model.company.CompanyAppWelcomePic">
		select <include refid="table_columns" />
		from company_app_welcome_pic
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.company.CompanyAppWelcomePic">
		select count(id) from company_app_welcome_pic
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="findByparam" resultMap="companyAppWelcomePicResultMap" parameterType="int">
		select <include refid="table_columns" /> from company_app_welcome_pic
		where company_id = #{companyId}
		and status = 1
		limit 1
	</select>
</mapper>