<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.company.mapper.CompanyAppConfigMapper">
	<resultMap type="com.yuxin.wx.model.company.CompanyAppConfig" id="companyAppConfigResultMap">
		<result property="id" column="id" />
		<result property="color" column="color" />
		<result property="appMenuFlag" column="app_menu_flag" />
		<result property="iosDownUrl" column="ios_down_url" />
		<result property="androidDownUrl" column="android_down_url" />
		<result property="appPageLink" column="app_page_link" />
		<result property="qrcodeUrl" column="qrcode_url"/>
		<result property="appPageType" column="app_page_type"/>
		<result property="companyId" column="company_id"/>
	</resultMap>
	
	<sql id="table_columns">
		id,
		color,
		app_menu_flag,
		ios_down_url,
		android_down_url,
		app_page_link,
		qrcode_url,
		app_page_type,
		company_id
    </sql>
	<sql id="entity_properties">
		#{id},
		#{color},
		#{appMenuFlag},
		#{iosDownUrl},
		#{androidDownUrl},
		#{appPageLink},
		#{qrcodeUrl},
		#{appPageType},
		#{companyId}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.color},
		#{item.appMenuFlag},
		#{item.iosDownUrl},
		#{item.androidDownUrl},
		#{item.appPageLink},
		#{item.qrcodeUrl},
		#{item.appPageType},
		#{item.companyId}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.company.CompanyAppConfig" useGeneratedKeys="true" keyProperty="id">
		insert into company_app_config( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into company_app_config( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from company_app_config
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.company.CompanyAppConfig">
		update company_app_config 
		<trim prefix="set" suffixOverrides=",">
			<if test="color != null and color != ''">color = #{color},</if>
			<if test="appMenuFlag != null">app_menu_flag = #{appMenuFlag},</if>
			<if test="iosDownUrl != null and iosDownUrl != ''">ios_down_url = #{iosDownUrl},</if>
			<if test="androidDownUrl != null and androidDownUrl != ''">android_down_url = #{androidDownUrl},</if>
			<if test="appPageLink != null and appPageLink != ''">app_page_link = #{appPageLink},</if>
			<if test="qrcodeUrl != null and qrcodeUrl != ''">qrcode_url = #{qrcodeUrl}</if>
			<if test="appPageType != null">app_page_type = #{appPageType}</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="companyAppConfigResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from company_app_config
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="companyAppConfigResultMap">
		select <include refid="table_columns" /> 
		from company_app_config
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="color != null and color != ''">and color = #{color}</if>
			<if test="appMenuFlag != null and appMenuFlag != ''">and app_menu_flag = #{appMenuFlag}</if>
			<if test="iosDownUrl != null and iosDownUrl != ''">and ios_down_url = #{iosDownUrl}</if>
			<if test="androidDownUrl != null and androidDownUrl != ''">and android_down_url = #{androidDownUrl}</if>
			<if test="appPageLink != null and appPageLink != ''">and app_page_link = #{appPageLink}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="companyAppConfigResultMap" parameterType="com.yuxin.wx.model.company.CompanyAppConfig">
		select <include refid="table_columns" />
		from company_app_config
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.company.CompanyAppConfig">
		select count(id) from company_app_config
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="queryCompanyConfig" resultMap="companyAppConfigResultMap" parameterType="int">
		select <include refid="table_columns" />
		from company_app_config where company_id=#{companyId}
		limit 1
	</select>
</mapper>