<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.company.mapper.CompanyInvitConfigTeacherMapper">
	<resultMap type="com.yuxin.wx.model.company.CompanyInvitConfigTeacher" id="companyInvitConfigTeacherResultMap">
		<result property="id" column="id" />
		<result property="openFlag" column="open_flag" />
		<result property="invitRgstAward" column="invit_rgst_award" />
		<result property="invitRgstAwardPeriod" column="invit_rgst_award_period" />
		<result property="invitCastAwardFlag" column="invit_cast_award_flag" />
		<result property="invitCastAward" column="invit_cast_award" />
		<result property="castTypeCourse" column="cast_type_course" />
		<result property="castTypePackage" column="cast_type_package" />
		<result property="castTypeMember" column="cast_type_member" />
		<result property="castTypeIntegral" column="cast_type_integral" />
		<result property="stuRewardsFlag" column="stu_rewards_flag" />
		<result property="companyId" column="company_id" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		open_flag,
		invit_rgst_award,
		invit_rgst_award_period,
		invit_cast_award_flag,
		invit_cast_award,
		cast_type_course,
		cast_type_package,
		cast_type_member,
		cast_type_integral,
		stu_rewards_flag,
		company_id
    </sql>
	<sql id="entity_properties">
		#{id},
		#{openFlag},
		#{invitRgstAward},
		#{invitRgstAwardPeriod},
		#{invitCastAwardFlag},
		#{invitCastAward},
		#{castTypeCourse},
		#{castTypePackage},
		#{castTypeMember},
		#{castTypeIntegral},
		#{stuRewardsFlag},
		#{companyId}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.openFlag},
		#{item.invitRgstAward},
		#{item.invitRgstAwardPeriod},
		#{item.invitCastAwardFlag},
		#{item.invitCastAward},
		#{item.castTypeCourse},
		#{item.castTypePackage},
		#{item.castTypeMember},
		#{item.castTypeIntegral},
		#{item.stuRewardsFlag},
		#{item.companyId}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.company.CompanyInvitConfigTeacher" useGeneratedKeys="true" keyProperty="id">
		insert into company_invit_config_teacher( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into company_invit_config_teacher( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from company_invit_config_teacher
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.company.CompanyInvitConfigTeacher">
		update company_invit_config_teacher 
		<trim prefix="set" suffixOverrides=",">
			<if test="openFlag != null ">open_flag = #{openFlag},</if>
			<if test="invitRgstAward != null and invitRgstAward != ''">invit_rgst_award = #{invitRgstAward},</if>
			<if test="invitRgstAwardPeriod != null and invitRgstAwardPeriod != ''">invit_rgst_award_period = #{invitRgstAwardPeriod},</if>
			<if test="invitCastAwardFlag != null ">invit_cast_award_flag = #{invitCastAwardFlag},</if>
			<if test="invitCastAward != null and invitCastAward != ''">invit_cast_award = #{invitCastAward},</if>
			<if test="castTypeCourse != null ">cast_type_course = #{castTypeCourse},</if>
			<if test="castTypePackage != null ">cast_type_package = #{castTypePackage},</if>
			<if test="castTypeMember != null ">cast_type_member = #{castTypeMember},</if>
			<if test="castTypeIntegral != null ">cast_type_integral = #{castTypeIntegral},</if>
			<if test="stuRewardsFlag != null ">stu_rewards_flag = #{stuRewardsFlag},</if>
			<if test="companyId != null and companyId != ''">company_id = #{companyId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="companyInvitConfigTeacherResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from company_invit_config_teacher
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="companyInvitConfigTeacherResultMap">
		select <include refid="table_columns" /> 
		from company_invit_config_teacher
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="openFlag != null ">and open_flag = #{openFlag}</if>
			<if test="invitRgstAward != null and invitRgstAward != ''">and invit_rgst_award = #{invitRgstAward}</if>
			<if test="invitRgstAwardPeriod != null and invitRgstAwardPeriod != ''">and invit_rgst_award_period = #{invitRgstAwardPeriod}</if>
			<if test="invitCastAwardFlag != null and invitCastAwardFlag != ''">and invit_cast_award_flag = #{invitCastAwardFlag}</if>
			<if test="invitCastAward != null and invitCastAward != ''">and invit_cast_award = #{invitCastAward}</if>
			<if test="castTypeCourse != null and castTypeCourse != ''">and cast_type_course = #{castTypeCourse}</if>
			<if test="castTypePackage != null and castTypePackage != ''">and cast_type_package = #{castTypePackage}</if>
			<if test="castTypeMember != null and castTypeMember != ''">and cast_type_member = #{castTypeMember}</if>
			<if test="castTypeIntegral != null and castTypeIntegral != ''">and cast_type_integral = #{castTypeIntegral}</if>
			<if test="stuRewardsFlag != null and stu_rewards_flag != ''">and stu_rewards_flag = #{stuRewardsFlag}</if>
			<if test="companyId != null and companyId != ''">and company_id = #{companyId}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="companyInvitConfigTeacherResultMap" parameterType="com.yuxin.wx.model.company.CompanyInvitConfigTeacher">
		select <include refid="table_columns" />
		from company_invit_config_teacher
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.company.CompanyInvitConfigTeacher">
		select count(id) from company_invit_config_teacher
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="findByCompanyId" resultMap="companyInvitConfigTeacherResultMap" parameterType="Integer">
        select * from company_invit_config_teacher
        where company_id = #{companyId}
        limit 1;
    </select>
</mapper>