<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.company.mapper.CompanyEmailHistoryMapper">
	<resultMap type="com.yuxin.wx.model.company.CompanyEmailHistory" id="companyEmailHistoryResultMap">
		<result property="id" column="id" />
		<result property="receiverUserId" column="receiver_user_id" />
		<result property="receiverEmail" column="receiver_email" />
		<result property="sendTime" column="send_time" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="schoolId" column="school_id"/>
		<result property="companyId" column="company_id"/>
		
		<result property="sendStatus" column="send_status" />
		<result property="sendResult" column="send_result" />
		<result property="businessType" column="business_type" />
		<result property="messageId" column="message_id" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		receiver_user_id,
		receiver_email,
		send_time,
		title,
		content,
		school_id,
		company_id,
		send_status,
		send_result,
		business_type,
		message_id
    </sql>
	<sql id="entity_properties">
		#{id},
		#{receiverUserId},
		#{receiverEmail},
		#{sendTime},
		#{title},
		#{content},
		#{schoolId},
		#{companyId},
		#{sendStatus},
		#{sendResult},
		#{businessType},
		#{messageId}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.receiverUserId},
		#{item.receiverEmail},
		#{item.sendTime},
		#{item.title},
		#{item.content},
		#{item.schoolId},
		#{item.companyId},
		#{item.messageId}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.company.CompanyEmailHistory" useGeneratedKeys="true" keyProperty="id">
		insert into company_email_history( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into company_email_history( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from company_email_history
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.company.CompanyEmailHistory">
		update company_email_history 
		<trim prefix="set" suffixOverrides=",">
			<if test="receiverUserId != null and receiverUserId != ''">receiver_user_id = #{receiverUserId},</if>
			<if test="receiverEmail != null and receiverEmail != ''">receiver_email = #{receiverEmail},</if>
			<if test="sendTime != null and sendTime != ''">send_time = #{sendTime},</if>
			<if test="title != null and title != ''">title = #{title},</if>
			<if test="content != null and content != ''">content = #{content},</if>
			<if test="messageId != null and messageId != ''">message_id = #{messageId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="companyEmailHistoryResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from company_email_history
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="companyEmailHistoryResultMap">
		select <include refid="table_columns" /> 
		from company_email_history
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="receiverUserId != null and receiverUserId != ''">and receiver_user_id = #{receiverUserId}</if>
			<if test="receiverEmail != null and receiverEmail != ''">and receiver_email = #{receiverEmail}</if>
			<if test="sendTime != null and sendTime != ''">and send_time = #{sendTime}</if>
			<if test="title != null and title != ''">and title = #{title}</if>
			<if test="content != null and content != ''">and content = #{content}</if>
			<if test="messageId != null and messageId != ''">and message_id = #{messageId}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="companyEmailHistoryResultMap" parameterType="com.yuxin.wx.model.company.CompanyEmailHistory">
		select <include refid="table_columns" />
		from company_email_history
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.company.CompanyEmailHistory">
		select count(id) from company_email_history
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	
	<!-- 定时任务 -->
	<select id="findEmailCount" resultType="Integer" parameterType="com.yuxin.wx.model.company.CompanyEmailHistory">
		select count(id)
		from company_email_history
		where company_id = #{companyId} and 
			send_time >= #{startTime} and 
			#{endTime} >= send_time
	</select>
	
	
	<select id="findByUserCount" resultType="Integer" parameterType="com.yuxin.wx.model.company.CompanyEmailHistory">
		select count(id)
		from company_email_history
		where company_id = #{companyId} 
		<if test="schoolId != null and schoolId != ''">and school_id = #{schoolId}</if>
		<if test="sendStatus != null">and send_status = #{sendStatus}</if>
		<if test="businessType != null and businessType != ''">and business_type = #{businessType}</if>
		<if test="messageId != null and messageId != ''">and message_id = #{messageId}</if>
	</select>
</mapper>