<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.company.mapper.CompanyLiveWarmupZsMapper">
	<resultMap type="com.yuxin.wx.model.company.CompanyLiveWarmupZs" id="companyLiveWarmupZsResultMap">
		<result property="id" column="id" />
		<result property="recordId" column="record_id" />
		<result property="recordName" column="record_name" />
		<result property="companyId" column="company_id" />
		<result property="schoolId" column="school_id" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		record_id,
		record_name,
		company_id,
		school_id
    </sql>
	<sql id="entity_properties">
		#{id},
		#{recordId},
		#{recordName},
		#{companyId},
		#{schoolId}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.recordId},
		#{item.recordName},
		#{item.companyId},
		#{item.schoolId}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.company.CompanyLiveWarmupZs" useGeneratedKeys="true" keyProperty="id">
		insert into company_live_warmup_zs( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into company_live_warmup_zs( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from company_live_warmup_zs
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from company_live_warmup_zs
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.company.CompanyLiveWarmupZs">
		update company_live_warmup_zs 
		<trim prefix="set" suffixOverrides=",">
			<if test="recordId != null and recordId != ''">record_id = #{recordId},</if>
			<if test="recordName != null and recordName != ''">record_name = #{recordName},</if>
			<if test="companyId != null and companyId != ''">company_id = #{companyId},</if>
			<if test="schoolId != null and schoolId != ''">school_id = #{schoolId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="companyLiveWarmupZsResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from company_live_warmup_zs
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="companyLiveWarmupZsResultMap">
		select <include refid="table_columns" /> 
		from company_live_warmup_zs
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="recordId != null and recordId != ''">and record_id = #{recordId}</if>
			<if test="recordName != null and recordName != ''">and record_name = #{recordName}</if>
			<if test="companyId != null and companyId != ''">and company_id = #{companyId}</if>
			<if test="schoolId != null and schoolId != ''">and school_id = #{schoolId}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="companyLiveWarmupZsResultMap" parameterType="com.yuxin.wx.model.company.CompanyLiveWarmupZs">
		select <include refid="table_columns" />
		from company_live_warmup_zs
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.company.CompanyLiveWarmupZs">
		select count(id) from company_live_warmup_zs
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	
</mapper>