<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.company.mapper.CompanyHeadFootConfigMapper">
	<resultMap type="com.yuxin.wx.model.company.CompanyHeadFootConfig" id="companyHeadFootConfigResultMap">
		<result property="id" column="id" />
		<result property="companyId" column="company_id" />
		<result property="templeteId" column="templete_id" />
		<result property="status" column="status" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		company_id,
		templete_id,
		status
    </sql>
	<sql id="entity_properties">
		#{id},
		#{companyId},
		#{templeteId},
		#{status}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.companyId},
		#{item.templeteId},
		#{item.status}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.company.CompanyHeadFootConfig" useGeneratedKeys="true" keyProperty="id">
		insert into company_head_foot_config( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into company_head_foot_config( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from company_head_foot_config
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.company.CompanyHeadFootConfig">
		update company_head_foot_config 
		<trim prefix="set" suffixOverrides=",">
			<if test="companyId != null and companyId != ''">company_id = #{companyId},</if>
			<if test="templeteId != null and templeteId != ''">templete_id = #{templeteId},</if>
			<if test="status != null">status = #{status},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="companyHeadFootConfigResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from company_head_foot_config
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="companyHeadFootConfigResultMap">
		select <include refid="table_columns" /> 
		from company_head_foot_config
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="companyId != null and companyId != ''">and company_id = #{companyId}</if>
			<if test="templeteId != null and templeteId != ''">and templete_id = #{templeteId}</if>
			<if test="status != null and status != ''">and status = #{status}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="companyHeadFootConfigResultMap" parameterType="com.yuxin.wx.model.company.CompanyHeadFootConfig">
		select <include refid="table_columns" />
		from company_head_foot_config
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.company.CompanyHeadFootConfig">
		select count(id) from company_head_foot_config
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<!-- 查询 -->
	<select id="findFootConfigByCompany" resultMap="companyHeadFootConfigResultMap" parameterType="com.yuxin.wx.model.company.CompanyHeadFootConfig" >
		select <include refid="table_columns" />
		from company_head_foot_config
		where company_id=#{companyId}
		<if test="templeteId != null and templeteId != ''">and templete_id = #{templeteId}</if>
		<if test="status != null">and status = #{status}</if>
		limit 1
	</select>
	<select id="findTemplatesById" resultMap="companyHeadFootConfigResultMap" parameterType="int" >
		select <include refid="table_columns" />
		from company_head_foot_config
		where company_id=#{companyId}
	</select>
</mapper>