<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.company.mapper.CompanyIndexTemplateMapper">
	<resultMap type="com.yuxin.wx.model.company.CompanyIndexTemplate" id="companyIndexTemplateResultMap">
		<result property="id" column="id" />
		<result property="templateName" column="template_name" />
		<result property="templateStatus" column="template_status" />
		<result property="companyId" column="company_id" />
		<result property="schoolId" column="school_id" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		template_name,
		template_status,
		company_id,
		school_id
    </sql>
	<sql id="entity_properties">
		#{id},
		#{templateName},
		#{templateStatus},
		#{companyId},
		#{schoolId}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.templateName},
		#{item.templateStatus},
		#{item.companyId},
		#{item.schoolId}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.company.CompanyIndexTemplate" useGeneratedKeys="true" keyProperty="id">
		insert into company_index_template( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into company_index_template( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from company_index_template
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from company_index_template
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.company.CompanyIndexTemplate">
		update company_index_template 
		<trim prefix="set" suffixOverrides=",">
			<if test="templateName != null and templateName != ''">template_name = #{templateName},</if>
			<if test="templateStatus != null and templateStatus != ''">template_status = #{templateStatus},</if>
			<if test="companyId != null and companyId != ''">company_id = #{companyId},</if>
			<if test="schoolId != null and schoolId != ''">school_id = #{schoolId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="companyIndexTemplateResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from company_index_template
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="companyIndexTemplateResultMap">
		select <include refid="table_columns" /> 
		from company_index_template
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="templateName != null and templateName != ''">and template_name = #{templateName}</if>
			<if test="templateStatus != null and templateStatus != ''">and template_status = #{templateStatus}</if>
			<if test="companyId != null and companyId != ''">and company_id = #{companyId}</if>
			<if test="schoolId != null and schoolId != ''">and school_id = #{schoolId}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="companyIndexTemplateResultMap" parameterType="com.yuxin.wx.model.company.CompanyIndexTemplate">
		select <include refid="table_columns" />
		from company_index_template
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.company.CompanyIndexTemplate">
		select count(id) from company_index_template
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="findTemplateByCompany" resultMap="companyIndexTemplateResultMap" parameterType="com.yuxin.wx.model.company.CompanyIndexTemplate">
	select <include refid="table_columns" />
		from company_index_template
		where company_id=#{companyId}
		<if test="schoolId != null and schoolId != ''">and school_id = #{schoolId}</if>
	</select>
	
	<select id="findTemplateByCompanyDesc" resultMap="companyIndexTemplateResultMap" parameterType="com.yuxin.wx.model.company.CompanyIndexTemplate">
	select <include refid="table_columns" />
		from company_index_template
		where company_id=#{companyId}
		<if test="schoolId != null and schoolId != ''">and school_id = #{schoolId}</if>
		order by id desc
	</select>
	
	<insert id="copyToCompany" parameterType="com.yuxin.wx.model.company.CompanyIndexTemplate" useGeneratedKeys="true" keyProperty="id">
		insert into company_index_template (template_name,template_status,company_id,school_id) 
		values (#{templateName},#{templateStatus},#{companyId},#{schoolId})
	</insert>
	<update id="updateStatusAllFalse" parameterType="int">
		update company_index_template set template_status=0 
		where company_id=#{companyId} and school_id=#{schoolId}
	</update>
	<select id="findByName" resultType="int" parameterType="com.yuxin.wx.model.company.CompanyIndexTemplate">
		select count(*) 
	    from company_index_template 
	    where template_name=#{templateName} and company_id=#{companyId} and school_id=#{schoolId}
	</select>
</mapper>