<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.company.mapper.CompanyConfigCustompageTemplateMapper">
	<resultMap type="com.yuxin.wx.model.company.CompanyConfigCustompageTemplate" id="companyConfigCustompageTemplateResultMap">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="contents" column="contents" />
		<result property="status" column="status" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		title,
		contents,
		status
    </sql>
	<sql id="entity_properties">
		#{id},
		#{title},
		#{contents},
		#{status}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.title},
		#{item.contents},
		#{item.status}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.company.CompanyConfigCustompageTemplate" useGeneratedKeys="true" keyProperty="id">
		insert into company_config_custompage_template( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into company_config_custompage_template( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from company_config_custompage_template
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.company.CompanyConfigCustompageTemplate">
		update company_config_custompage_template 
		<trim prefix="set" suffixOverrides=",">
			<if test="title != null and title != ''">title = #{title},</if>
			<if test="contents != null and contents != ''">contents = #{contents},</if>
			<if test="status != null and status != ''">status = #{status},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="companyConfigCustompageTemplateResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from company_config_custompage_template
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="companyConfigCustompageTemplateResultMap">
		select <include refid="table_columns" /> 
		from company_config_custompage_template
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="title != null and title != ''">and title = #{title}</if>
			<if test="contents != null and contents != ''">and contents = #{contents}</if>
			<if test="status != null and status != ''">and status = #{status}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="companyConfigCustompageTemplateResultMap" parameterType="com.yuxin.wx.model.company.CompanyConfigCustompageTemplate">
		select <include refid="table_columns" />
		from company_config_custompage_template
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.company.CompanyConfigCustompageTemplate">
		select count(id) from company_config_custompage_template
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="queryCustomList" resultMap="companyConfigCustompageTemplateResultMap" parameterType="com.yuxin.wx.model.company.CompanyConfigCustompageTemplate">
		select <include refid="table_columns" />
		from company_config_custompage_template where status=1
	</select>
	
</mapper>