/*
* @Author: baocheng
* @Date:   2017-03-17 16:11:39
* @Last Modified by:   baocheng
* @Last Modified time: 2017-04-13 11:21:21
*/

@charset "utf-8";
.course-box .detailCon .tanColor{
    border-color: #07bbee;
}

.proxyManage .title-box {
    height: 48px;
}

.proxyManage .tit-font {
    margin-top: 20px;
}

.clear .t {
    float: left;
    color: #000;
}

.company .proxyBtn {
    float: right;
    margin-top: -10px;
    padding: 7px 15px;
    background-color: #07bbee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
}

.proxyBox {
    padding: 20px 10px;
    width: 95%;
    margin: 0 2% 0 2%;
    box-sizing: border-box;
}

.company .proxyBtn:hover {
    background-color: #01aadd;
}


/*---------------*/

.tab-htr th {
    font-size: 14px;
    color: #333;
    background-color: #f0f0f0;
    font-weight: normal;
    position: relative;
}

.tab-dtr td {
    font-size: 12px;
    color: #666;
}

.cashrecord-tab {
    line-height: 22px;
    background-color: #fff;
    margin-top: 5px;
}

.tab-dtr .Withdraw {
    cursor: pointer;
    color: #07bbee;
}


/*---------------*/


/*---------------*/

.proxySearch {
    font-size: 0;
}

.proxySearch select {
    width: 95px;
    height: 26px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 20px;
    font-size: 12px;
    color: #333;
    padding: 0;
    vertical-align: top;
}

.proxySearch span {
    font-size: 14px;
    color: #999;
    padding-right: 4px;
    line-height: 26px;
}

.proxySearch input[type='text'] {
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 2px;
    outline: none;
    font-size: 12px;
    vertical-align: top;
    height: 26px;
    padding: 0 6px;
}

.proxySearch input.setTime {
    color: #616161;
    width: 94px;
    line-height: 24px;
}

.proxySearch b {
    color: #616161;
    font-size: 12px;
    margin: 0 10px;
    line-height: 22px;
    font-weight: normal;
}

.proxySearch input.proxyAgen {
    width: 180px;
    height: 24px;
    font-size: 12px;
    line-height: 1;
    margin-left: 30px;
}

.proxySearch input.proxyAgens {
    margin-left: 10px;
}

.proxySearch input[type='button'] {
    margin-left: 20px;
    padding: 7px 11px;
    background-color: #07bbee;
    font-size: 12px;
    color: #fff;
    line-height: 12px;
    border: none;
    outline: none;
    vertical-align: top;
    border-radius: 4px;
}

.proxySearch input[type='button']:hover {
    background-color: #01aadd;
}

.proxySearch .searchbut:hover {
    background-color: #01aadd;
}

.export input {
    float: right;
    margin-left: 20px;
    padding: 9px 18px;
    background-color: #07bbee;
    font-size: 12px;
    color: #fff;
    line-height: 12px;
    border: none;
    outline: none;
    vertical-align: top;
    border-radius: 4px;
}

.export input:hover {
    background-color: #01aadd;
}


/*---------------*/

.pages-agent {
    margin-top: 10px;
    margin-bottom: 0;
}

.pages-agent li:nth-child(1) {
    display: none;
}

.pages-agent li {
    color: #707070;
    border-color: #aaa;
}

.pages-agent li a {
    padding: 5px 10px;
    color: #707070;
}

.pages-agent li span {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pages-agent li:hover,
.pages-agent li.active {
    color: #fff;
    border-color: #07bbee;
    background-color: #07bbee;
}

.pages-agent li.disabled:hover {
    border-color: #d8d8d8;
}


/*========*/

.publicTit h4 {
    color: #333;
    font-size: 16px;
    line-height: 1;
    padding-bottom: 10px;
}

.publicTit hr {
    height: 1px;
    border-color: #dcdcdc;
    margin: 0;
}

.proxyBox .baseMan {
    padding: 15px 0 0 50px;
    font-size: 14px;
    color: #333;
    line-height: 1;
}

.baseMan .stuName {
    width: 430px;
    line-height: 44px;
}

.stuNameb {
    display: inline-block;
    width: 80px;
    color: #999;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
}

.stuName span {
    margin-left: 4px;
    font-size: 14px;
}

.contCourse {
    padding: 15px 0 16px 0;
}

.courseMing {
    position: relative;
    max-width: 710px;
    padding-left: 8px;
    /*padding-bottom: 20px;*/
    /*max-height: 100px;*/
    /*min-height: 67px;*/
    max-height: 67px;
    overflow: hidden;
}

.courseMing span {
    display: inline-block;
    width: 290px;
    height: 15px;
    overflow: hidden;
    line-height: 1;
    margin-right: 52px;
    margin-bottom: 18px;
    font-size: 14px;
}

.courseMing .cardPull {
    width: 100%;
    /*text-align: center;*/
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f6f6f6;
}

.cardPull .arrow {
    /* position: absolute;
    left: 50%;
    margin-left: -36px;
    bottom: 0;*/
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url('/images/arrow_dow.png') no-repeat center;
    margin-left: 316px;
}

.cardPull .arrow:hover {
    background-image: url('/images/arrow1_dow.png');
}

.courseMing .arrowup {
    background-image: url('/images/arrow_up.png');
}

.courseMing .arrowup:hover {
    background-image: url('/images/arrow1_up.png');
}

.cardExpl {
    padding-bottom: 26px;
}

.courseExpl {
    max-width: 800px;
    overflow: hidden;
    padding-left: 8px;
    line-height: 22px;
    font-size: 14px;
}

.cardExpl .stuNameb {
    position: relative;
    top: 4px;
}

.searchCon {
    padding: 26px 0 20px 0;
    font-size: 0;
    line-height: 1;
}

.searchCon input[type="text"] {
    width: 121px;
    height: 26px;
    line-height: 1;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 12px;
    padding-left: 7px;
    border-radius: 2px;
}

.searchCon .searBtn {
    position: relative;
    top: 4px;
    margin-left: 10px;
    padding: 6px 10px;
    background-color: #07bbee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    color: #ffffff;
}

.searchCon .searBtn:hover {
    background-color: #01aadd;
}

.pages-card {
    margin: 30px 0;
}


/*创建学习卡*/

.addproxy li {
    padding: 10px 0 20px;
}

.addproxy li h4 {
    font-size: 14px;
    color: #333;
    text-align: right;
    line-height: 26px;
    width: 94px;
    font-weight: normal;
    margin-right: 20px;
}

.addproxy li h4 i {
    font-style: normal;
    color: red;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.addproxy li input[type='text'] {
    border: 1px solid #ccc;
    height: 26px;
    padding: 0 10px;
    line-height: 24px;
    font-size: 12px;
    color: #333;
    vertical-align: top;
    border-radius: 2px;
}

.addproxy li input.stuName {
    width: 240px;
}

.addproxy li textarea.detailAddress {
    height: 140px;
    resize: none;
}

.addproxy li .detailAddress {
    width: 680px;
}

.percent input {
    width: 120px;
}

.addproxy li .percent span {
    font-size: 14px;
    color: #999;
    line-height: 24px;
    margin-left: 8px;
}

.addproxy li .percent p {
    font-size: 12px;
    color: #999;
    line-height: 12px;
    padding-top: 10px;
}

.optionBut {
    padding: 10px 0 50px;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.optionBut input {
    margin: 0 10px;
    height: 30px;
    padding: 8px 15px;
    font-size: 14px;
    line-height: 12px;
    border-radius: 2px;
}

.optionBut .cancel {
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    color: #999;
}

.optionBut .save {
    border-radius: 4px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #00b7ee;
}

.optionBut .cancel:hover {
    background-color: #F3F3F3;
}

.optionBut .save:hover {
    background-color: #01aadd;
}


/**/


/*.coursePage {
    font-size: 0;
}*/

.coursePage input[type="radio"] {
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

.coursePage b {
    font-weight: normal;
    font-size: 12px;
    color: #999;
    line-height: 12px;
    margin-left: 25px;
}

.coursePage label {
    display: inline-block;
    cursor: pointer;
    font-style: normal;
    padding: 0 20px 0 10px;
}

.coursePage .choice {
    line-height: 1;
    margin-top: 15px;
}

.choice b{
    font-size: 12px;
    color: #666;
    margin-left: 0;
}

.coursePage .choice a {
    display: inline-block;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #f0f0f0;
    vertical-align: text-bottom;
    background: linear-gradient(#f8f8f8, #e6e6e6);
}

.coursePage .choice a:hover {
    /*background-color: #f0f0f0;*/
    background: linear-gradient(#f0f0f0, #f0f0f0);
}

.coursePage .choiName {
    height: 26px;
    line-height: 26px;
}

.coursePage .choice span {
    margin-left: 20px;
    font-size: 12px;
    color: #666;
}

.coursePage .choice em {
    color: red;
}


/*.laydate-icon {
    width: 120px;
    background: url('/images/icon.png') no-repeat right center;
    background-color: #fff;
}*/

.time-percent span {
    margin: 0 10px;
    color: #999;
}

.time-percent input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin: 0 10px 0 30px;
    vertical-align: text-bottom;
    cursor: pointer;
}

.time-percent label {
    display: inline-block;
    font-size: 14px;
    color: #666;
}

.agency {
    font-size: 14px;
    color: #999;
    line-height: 26px;
}

.agency span {
    margin-right: 40px;
}

.agency a {
    text-decoration: underline;
    color: #07bbee;
}

.selbox .select {
    line-height: 26px;
}

.select input {
    width: 14px;
    height: 14px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

.selbox label {
    display: inline-block;
    cursor: pointer;
    font-style: normal;
    padding: 0 20px 0 10px;
}

.selbox .select a {
    text-decoration: underline;
    color: #07bbee;
}

.selbox .allAgent {
    max-width: 816px;
 /* padding: 10px 0;*/
    max-height: 150px;
    overflow-y: auto;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e9e9e9;
}

.allAgent dd {
    float: left;
    width: 240px;
    padding: 8px 0;
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.allAgent dd input {
    cursor: pointer;
    width: 14px;
    height: 14px;
    vertical-align: bottom;
    margin: 0;
}

.allAgent dd span {
    /*display: inline-block;*/
    font-size: 14px;
    line-height: 14px;
    color: #666;
    margin-left: 10px;
}


/*弹框1*/

.tanproxy {
    width: 720px;
}

.tanproxy li h4 {
    width: 122px;
}

.tanproxy ul {
    width: 100%;
}

.tanproxy .lastli {
    padding: 0;
}

.addproxy li .tanAddress {
    width: 523px;
}

.addproxy li textarea.tanAddress {
    height: 128px;
    resize: none;
}

.addproxy li input.ageName {
    width: 200px;
}

.addproxy li input.telName {
    width: 180px;
}


/*弹框2*/

.tanSub {
    width: 850px;
}

.tanSub .subSearch {
    text-align: left;
    padding-left: 30px;
    margin-bottom: 10px;
}

.subSearch select {
    width: 150px;
    margin-right: 10px;
}

.proxySearch input.proxyAgent {
    margin-left: 0;
    width: 150px;
}

.proxySearch input.searchbut1 {
    margin-left: 10px;
}

.tanSub .course-box {
    padding-left: 20px;
}

.course-box .detailCon {
    min-height: 402px;
}

.course-box .detailCon li {
    float: left;
    position: relative;
    width: 384px;
    height: 114px;
    box-sizing: border-box;
    padding: 8px;
    margin: 10px;
    border: 1px solid #e4ecf3;
    transition: all .3s ease;
}

.course-box .detailCon li:hover {
    cursor: pointer;
    border-color: #00b7ee;
}

.course-box .showpic {
    width: 148px;
    height: 96px;
    background-image: url('/images/overview_demo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.showpic img {
    width: 100%;
    height: 100%;
}

.showpic .choicep {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 20px;
    background-color: #00b7ee;
    border-bottom: 1px solid #00b7ee;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    display: none;
}

.choicep .iconfont {
    font-size: 12px;
    vertical-align: top;
}

.aparcel .wordint {
    width: 202px;
    /*padding: 10px 7px 14px;*/
}

.aparcel .wordint .wordming {
    line-height: 22px;
    font-size: 14px;
    color: #333;
    height: 46px;
    text-align: left;
    overflow: hidden;
}

.wordint .pricebox {
    text-align: left;
    padding-top: 20px;
}

.wordint .pricebox em {
    /*float: left;*/
    display: inline-block;
    padding: 4px 7px;
    border: 1px solid #d8d9d9;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    color: #999;
    /*font-size: 1.2rem;*/
    font-style: normal;
    vertical-align: bottom;
    margin-right: 8px;
}

.wordint .pricebox i {
    padding-top: 6px;
    font-style: normal;
    font-size: 12px;
    color: #fe5151;
}

.wordint .pricebox b {
    padding-top: 4px;
    font-weight: normal;
    font-size: 14px;
    color: #00b7ee;
}

.pages-agent {
    line-height: 16px;
    color: #333;
}

.priceStage span {
    font-size: 12px;
    color: #999;
}

.priceStage .stage {
    margin-right: 7px;
}

.priceStage .stav {
    margin: 0 10px;
}

.wordint .pricebox .numb {
    font-size: 12px;
    color: #999;
    padding-top: 0;
}

.wordint .pricebox .rmb {
    font-size: 14px;
    padding-top: 0;
}

.spebody-confirm .layerTips.Confirm {
    transform: translate(0, -15px);
}
