<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.classes.mapper.ClassModuleVideoRelationMapper">
	<resultMap type="com.yuxin.wx.model.classes.ClassModuleVideoRelation" id="classModuleVideoRelationResultMap">
		<result property="id" column="id" />
		<result property="moduleId" column="module_id" />
		<result property="videoId" column="video_id" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		module_id,
		video_id
    </sql>
	<sql id="entity_properties">
		#{id},
		#{moduleId},
		#{videoId}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.classes.ClassModuleVideoRelation" useGeneratedKeys="true" keyProperty="id">
		insert into class_module_video_relation( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into class_module_video_relation( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( #{item.id},#{item.moduleId},#{item.videoId} )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from class_module_video_relation
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from class_module_video_relation
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.classes.ClassModuleVideoRelation">
		update class_module_video_relation 
		<trim prefix="set" suffixOverrides=",">
			<if test="moduleId != null and moduleId != ''">module_id = #{moduleId},</if>
			<if test="videoId != null and videoId != ''">video_id = #{videoId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="classModuleVideoRelationResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from class_module_video_relation
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="classModuleVideoRelationResultMap">
		select <include refid="table_columns" /> 
		from class_module_video_relation
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="moduleId != null and moduleId != ''">and module_id = #{moduleId}</if>
			<if test="videoId != null and videoId != ''">and video_id = #{videoId}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="classModuleVideoRelationResultMap" parameterType="com.yuxin.wx.model.classes.ClassModuleVideoRelation">
		select <include refid="table_columns" />
		from class_module_video_relation
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.classes.ClassModuleVideoRelation">
		select count(id) from class_module_video_relation
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<!--根据主键删除 -->
	<delete id="deleteByModuleId" parameterType="String">
		delete from class_module_video_relation
		where module_id = #{id}
	</delete>
</mapper>