<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.classes.mapper.ClassPackageStageMapper">
	<resultMap type="com.yuxin.wx.model.classes.ClassPackageStage" id="classPackageStageResultMap">
		<result property="id" column="id" />
		<result property="classPackageId" column="class_package_id" />
		<result property="title" column="title" />
		<result property="creator" column="creator" />
		<result property="createTime" column="create_time" />
		<result property="updator" column="updator" />
		<result property="updateTime" column="update_time" />
		<result property="description" column="description" />
		<result property="companyId" column="company_id" />
		<result property="schoolId" column="school_id" />
		<result property="sort" column="sort" />
		<result property="originalPrice" column="original_price"/>
		<result property="realPrice" column="real_price"/>
		<result property="publishStatus" column="publish_status"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>
	
	<sql id="table_columns">
		id,
		class_package_id,
		title,
		creator,
		create_time,
		updator,
		update_time,
		description,
		company_id,
		school_id,
		sort,
		original_price,
		real_price,
		publish_status,
		del_flag
    </sql>
	<sql id="entity_properties">
		#{id},
		#{classPackageId},
		#{title},
		#{creator},
		#{createTime},
		#{updator},
		#{updateTime},
		#{description},
		#{companyId},
		#{schoolId},
		#{sort},
		#{originalPrice},
		#{realPrice},
		#{publishStatus},
		#{delFlag}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.classPackageId},
		#{item.title},
		#{item.creator},
		#{item.createTime},
		#{item.updator},
		#{item.updateTime},
		#{item.description},
		#{item.companyId},
		#{item.schoolId},
		#{item.sort},
		#{item.originalPrice},
		#{item.realPrice},
		#{item.publishStatus},
		#{item.delFlag}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.classes.ClassPackageStage" useGeneratedKeys="true" keyProperty="id">
		insert into class_package_stage( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into class_package_stage( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from class_package_stage
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.classes.ClassPackageStage">
		update class_package_stage 
		<trim prefix="set" suffixOverrides=",">
			<if test="classPackageId != null and classPackageId != ''">class_package_id = #{classPackageId},</if>
			<if test="title != null and title != ''">title = #{title},</if>
			<if test="creator != null and creator != ''">creator = #{creator},</if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
			<if test="updator != null and updator != ''">updator = #{updator},</if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
			<if test="description != null and description != ''">description = #{description},</if>
			<if test="companyId != null and companyId != ''">company_id = #{companyId},</if>
			<if test="schoolId != null and schoolId != ''">school_id = #{schoolId},</if>
			<if test="sort != null">sort = #{sort},</if>
			<if test="originalPrice != null">original_price = #{originalPrice},</if>
			<if test="realPrice != null">real_price = #{realPrice},</if>
			<if test="publishStatus != null">publish_status = #{publishStatus},</if>
			<if test="delFlag != null">del_flag = #{delFlag},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="classPackageStageResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from class_package_stage
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="classPackageStageResultMap">
		select <include refid="table_columns" /> 
		from class_package_stage
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="classPackageId != null and classPackageId != ''">and class_package_id = #{classPackageId}</if>
			<if test="title != null and title != ''">and title = #{title}</if>
			<if test="creator != null and creator != ''">and creator = #{creator}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="updator != null and updator != ''">and updator = #{updator}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
			<if test="description != null and description != ''">and description = #{description}</if>
			<if test="companyId != null and companyId != ''">and company_id = #{companyId}</if>
			<if test="schoolId != null and schoolId != ''">and school_id = #{schoolId}</if>
			<if test="sort != null and sort != ''">and sort = #{sort}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="classPackageStageResultMap" parameterType="com.yuxin.wx.model.classes.ClassPackageStage">
		select <include refid="table_columns" />
		from class_package_stage
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.classes.ClassPackageStage">
		select count(id) from class_package_stage
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<!-- 查询课程包下的所有阶段 -->
	<select id="queryClassPackageStages" resultMap="classPackageStageResultMap" parameterType="com.yuxin.wx.model.classes.ClassPackageStage">
		select <include refid="table_columns" />
		from class_package_stage
		where company_id = #{companyId} and del_flag=0
		<if test="title != null and title != ''">and title = #{title}</if>
		<if test="classPackageId != null">and class_package_id = #{classPackageId}</if>
		<if test="schoolId != null">and school_id = #{schoolId}</if>
		order by sort ASC
	</select>
</mapper>