<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.classes.mapper.ClassTypeMapper">
	<resultMap type="com.yuxin.wx.model.classes.ClassType" id="classTypeResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="typeCode" column="type_code" />
		<result property="originalPrice" column="original_price" />
		<result property="realPrice" column="real_price" />
		<result property="schoolsId" column="schools_id" />
		<result property="itemOneId" column="item_one_id" />
		<result property="itemSecondId" column="item_second_id" />
		<result property="description" column="description" />
		<result property="publishStatus" column="publish_status" />
		<result property="publishTime" column="publish_time" />
		<result property="isSale" column="is_sale" />
		<result property="cover" column="cover" />
		<result property="subTitle" column="sub_title" />
		<result property="detailDesc" column="detail_desc" />
		<result property="createTime" column="create_time" />
		<result property="creator" column="creator" />
		<result property="updateTime" column="update_time" />
		<result property="updator" column="updator" />
		<result property="delFlag" column="del_flag" />
		<result property="companyId" column="company_id" />
		<result property="teacherId" column="teacher_id" />
		<result property="faceFlag" column="face_flag"/>
		<result property="liveFlag" column="live_flag"/>
		<result property="baseNum" column="base_num"/>
		<result property="videoFlag" column="video_flag"/>
		<result property="remoteFlag" column="remote_flag"/>
		<result property="recommendFlag" column="recommend_flag"/>
		<result property="createSchoolId" column="create_school_id"/>
		<result property="validityDay" column="validity_day"/>
		<result property="validityDate" column="validity_date"/>
		<result property="videoWatchCount" column="video_watch_count"/>
		<result property="liveWatchCount" column="live_watch_count"/>
		<result property="commodityId" column="commodityId"/>
		<result property="integralFlag" column="integral_flag"/>
		<result property="memberFlag" column="member_flag"/>
		<result property="buyNumMax" column="buy_num_max"/>
		<result property="protocolId" column="protocol_id"/>
		<result property="iconLable" column="icon_lable"/>
	    <result property="subjectClassOrder" column="subject_class_order"/>
		<result property="itemOneCode" column="item_one_code" />
		<result property="itemSecondCode" column="item_second_code" />
		<result property="itemThirdCode" column="item_third_code" />
		<result property="itemFourthCode" column="item_fourth_code" />
		<result property="paperDescription" column="paper_description" />
		
		<result property="isOutSource" column="is_out_source" />
		<result property="isPublic" column="is_public" />
		<result property="publicPrice" column="public_price" />
	</resultMap>
	
	<resultMap type="com.yuxin.wx.vo.classes.ClassTypeVo" id="classTypeVoResultMap">
		<result property="id" column="id" />
		<result property="commodityId" column="com_id" />
		<result property="name" column="name" />
		<result property="typeCode" column="type_code" />
		<result property="originalPrice" column="original_price" />
		<result property="realPrice" column="real_price" />
		<result property="schoolsId" column="schools_id" />
		<result property="itemOneId" column="item_one_id" />
		<result property="itemSecondId" column="item_second_id" />
		<result property="itemOneCode" column="item_one_code" />
		<result property="itemSecondCode" column="item_second_code" />
		<result property="itemOneName" column="item_one_name" />
		<result property="itemSecondName" column="item_second_name" />
		<result property="itemThirdCode" column="item_third_code" />
		<result property="itemFourthCode" column="item_fourth_code" />
		<result property="itemThirdName" column="item_third_name" />
		<result property="itemFourthName" column="item_fourthd_name" />
		<result property="description" column="description" />
		<result property="publishStatus" column="publish_status" />
		<result property="publishTime" column="publish_time" />
		<result property="isSale" column="is_sale" />
		<result property="cover" column="cover" />
		<result property="subTitle" column="sub_title" />
		<result property="detailDesc" column="detail_desc" />
		<result property="createTime" column="create_time" />
		<result property="creator" column="creator" />
		<result property="updateTime" column="update_time" />
		<result property="updator" column="updator" />
		<result property="delFlag" column="del_flag" />
		<result property="lableType" column="lable_type" />
		<result property="baseNum" column="base_num" />
		<result property="actualNum" column="actualNum"/>
		<result property="teacherId" column="teacher_id" />
		<result property="faceFlag" column="face_flag"/>
		<result property="liveFlag" column="live_flag"/>
		<result property="videoFlag" column="video_flag"/>
		<result property="remoteFlag" column="remote_flag"/>
		<result property="recommendFlag" column="recommend_flag"/>
		<result property="createSchoolId" column="create_school_id"/>
		<result property="itemTag" column="item_tag"/>
		<result property="validityDay" column="validity_day"/>
		<result property="validityDate" column="validity_date"/>
		<result property="videoWatchCount" column="video_watch_count"/>
		<result property="liveWatchCount" column="live_watch_count"/>
		<result property="relationId" column="relationId"/>
		<result property="integralFlag" column="integral_flag"/>
		<result property="memberFlag" column="member_flag"/>
		<result property="buyNumMax" column="buy_num_max"/>
		<result property="protocolId" column="protocol_id"/>
		<result property="iconLable" column="icon_lable"/>
		<result property="subjectClassOrder" column="subject_class_order"/>
		<result property="isMicroClass" column="is_micro_class"/>
		
		<result property="isOutSource" column="is_out_source" />
		<result property="isPublic" column="is_public" />
		<result property="publicPrice" column="public_price" />
		
		<result property="schoolName" column="school_name"/>
		<result property="sourceClassTypeId" column="class_type_id"/>
		<result property="domainManage" column="domain_manage"/>
		<result property="teacherName" column="teacher_name"/>
		<result property="domain" column="domain"/>
	</resultMap>
	
	<sql id="table_columns">
		id,
		name,
		type_code,
		original_price,
		real_price,
		schools_id,
		item_one_id,
		item_second_id,
		description,
		publish_status,
		publish_time,
		is_sale,
		cover,
		sub_title,
		detail_desc,
		create_time,
		creator,
		update_time,
		updator,
		del_flag,
		company_id,
		lable_type,
		base_num,
		teacher_id,
		face_flag,
		live_flag,
		video_flag,
		remote_flag,
		recommend_flag,
		create_school_id,
		item_tag,
		validity_day,
		validity_date,
		video_watch_count,
		live_watch_count,
		integral_flag,
		member_flag,
		buy_num_max,
		protocol_id,
		icon_lable,
		item_one_code,
		item_second_code,
		item_third_code,
		item_fourth_code,
		is_micro_class,
		paper_description,
		is_public,
		public_price
    </sql>
	<sql id="entity_properties">
		#{id},
		#{name},
		#{typeCode},
		#{originalPrice},
		#{realPrice},
		#{schoolsId},
		#{itemOneId},
		#{itemSecondId},
		#{description},
		#{publishStatus},
		#{publishTime},
		#{isSale},
		#{cover},
		#{subTitle},
		#{detailDesc},
		#{createTime},
		#{creator},
		#{updateTime},
		#{updator},
		#{delFlag},
		#{companyId},
		#{lableType},
		#{baseNum},
		#{teacherId},
		#{faceFlag},
		#{liveFlag},
		#{videoFlag},
		#{remoteFlag},
		#{recommendFlag},
		#{createSchoolId},
		#{itemTag},
		#{validityDay},
		#{validityDate},
		#{videoWatchCount},
		#{liveWatchCount},
		#{integralFlag},
		#{memberFlag},
		#{buyNumMax},
		#{protocolId},
		#{iconLable},
		#{itemOneCode},
		#{itemSecondCode},
		#{itemThirdCode},
		#{itemFourthCode},
		#{isMicroClass},
		#{paperDescription},
		#{isPublic},
		#{publicPrice}
		
	</sql>
	
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.name},
		#{item.typeCode},
		#{item.originalPrice},
		#{item.realPrice},
		#{item.schoolsId},
		#{item.itemOneId},
		#{item.itemSecondId},
		#{item.description},
		#{item.publishStatus},
		#{item.publishTime},
		#{item.isSale},
		#{item.cover},
		#{item.subTitle},
		#{item.detailDesc},
		#{item.createTime},
		#{item.creator},
		#{item.updateTime},
		#{item.updator},
		#{item.delFlag},
		#{item.companyId},
		#{item.lableType},
		#{item.baseNum},
		#{item.teacherId},
		#{item.faceFlag},
		#{item.liveFlag},
		#{item.videoFlag},
		#{item.remoteFlag},
		#{item.recommendFlag},
		#{item.createSchoolId},
		#{item.itemTag},
		#{item.validityDay},
		#{item.validityDate},
		#{item.videoWatchCount},
		#{item.liveWatchCount},
		#{item.integralFlag},
		#{item.memberFlag},
		#{item.buyNumMax},
		#{item.protocolId},
		#{item.iconLable},
		#{item.itemOneCode},
		#{item.itemSecondCode},
		#{item.itemThirdCode},
		#{item.itemFourthCode},
		#{item.isMicroClass},
		#{item.paperDescription},
		#{item.isPublic},
		#{item.publicPrice}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.classes.ClassType" useGeneratedKeys="true" keyProperty="id">
		insert into class_type( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into class_type( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="batch_entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from class_type
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from class_type
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.classes.ClassType">
		update class_type 
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="typeCode != null and typeCode != ''">type_code = #{typeCode},</if>
			<if test="originalPrice != null">original_price = #{originalPrice},</if>
			<if test="realPrice != null">real_price = #{realPrice},</if>
			<if test="schoolsId != null and schoolsId != ''">schools_id = #{schoolsId},</if>
			<if test="itemOneId != null and itemOneId != ''">item_one_id = #{itemOneId},</if>
			<if test="itemSecondId != null and itemSecondId != ''">item_second_id = #{itemSecondId},</if>
			<if test="description != null and description != ''">description = #{description},</if>
			<if test="publishStatus != null and publishStatus != ''">publish_status = #{publishStatus},</if>
			<if test="publishTime != null and publishTime != ''">publish_time = #{publishTime},</if>
			<if test="isSale != null">is_sale = #{isSale},</if>
			<if test="cover != null and cover != ''">cover = #{cover},</if>
			<if test="subTitle != null and subTitle != ''">sub_title = #{subTitle},</if>
			<if test="detailDesc != null">detail_desc = #{detailDesc},</if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
			<if test="creator != null and creator != ''">creator = #{creator},</if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
			<if test="updator != null and updator != ''">updator = #{updator},</if>
			<if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
			<if test="companyId != null and companyId != ''">company_id = #{companyId},</if>
			<if test="lableType != null and lableType != ''">lable_type = #{lableType},</if>
			<if test="baseNum != null">base_num = #{baseNum},</if>
			<if test="teacherId != null and teacherId != ''">teacher_id = #{teacherId},</if>
			<if test="faceFlag != null">face_flag = #{faceFlag},</if>
			<if test="liveFlag != null">live_flag = #{liveFlag},</if>
			<if test="videoFlag != null">video_flag = #{videoFlag},</if>
			<if test="remoteFlag != null">remote_flag = #{remoteFlag},</if>
			<if test="recommendFlag !=null">recommend_flag = #{recommendFlag},</if>
			<if test="itemTag != null and itemTag != ''">item_tag =#{itemTag},</if>
			<if test="validityDay != null">validity_day =#{validityDay},</if>
			<if test="validityDate != null and validityDate != ''">validity_date =#{validityDate},</if>
			<if test="videoWatchCount != null">video_watch_count =#{videoWatchCount},</if>
			<if test="liveWatchCount != null">live_watch_count =#{liveWatchCount},</if>
			<if test="integralFlag != null">integral_flag = #{integralFlag},</if>
			<if test="memberFlag != null">member_flag = #{memberFlag},</if>
			<if test="buyNumMax != null">buy_num_max = #{buyNumMax},</if>
			<if test="protocolId != null">protocol_id = #{protocolId},</if>
			<if test="iconLable != null">icon_lable = #{iconLable},</if>
			<if test="itemOneCode != null  and itemOneCode != ''">item_one_code = #{itemOneCode},</if>
			<if test="itemSecondCode != null  and itemSecondCode != ''">item_second_code = #{itemSecondCode},</if>
			<if test="itemThirdCode != null  and itemThirdCode != ''">item_third_code = #{itemThirdCode},</if>
			<if test="itemFourthCode != null  and itemFourthCode != ''">item_fourth_code = #{itemFourthCode},</if>
		    <if test="isPublic != null">is_public = #{isPublic},</if>
		    <choose>
	        	<when test="publicPrice != null">public_price = #{publicPrice},</when>
	        	<when test="isPublic == 0">public_price = null,</when>
	        </choose>
		    <if test="publishStatus == 'CLASS_STOP_SALE' or delFlag ==1">subject_class_order = null,</if>
		    <if test="isMicroClass != null">is_micro_class = #{isMicroClass},</if>
		    <if test="paperDescription != null and paperDescription!=''">paper_description = #{paperDescription}</if>
		 </trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="classTypeResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from class_type
		where id = #{id} and origin_type=0
	</select>
	
	<select id="queryAll" resultMap="classTypeResultMap">
		select <include refid="table_columns" /> 
		from class_type where origin_type=0
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
		    1=1 and origin_type=0
			<if test="name != null and name != ''">and name like '%${name}%'</if>
			<if test="typeCode != null and typeCode != ''">and type_code = #{typeCode}</if>
			<if test="originalPrice != null and originalPrice != ''">and original_price = #{originalPrice}</if>
			<if test="realPrice != null and realPrice != ''">and real_price = #{realPrice}</if>
			<if test="schoolsId != null and schoolsId != ''">and schools_id = #{schoolsId}</if>
			<if test="itemOneId != null and itemOneId != ''">and item_one_id = #{itemOneId}</if>
			<if test="itemSecondId != null and itemSecondId != ''">and item_second_id = #{itemSecondId}</if>
			<if test="description != null and description != ''">and description = #{description}</if>
			<if test="publishStatus != null and publishStatus != ''">and publish_status = #{publishStatus}</if>
			<if test="publishTime != null and publishTime != ''">and publish_time = #{publishTime}</if>
			<if test="isSale != null and isSale != ''">and is_sale = #{isSale}</if>
			<if test="cover != null and cover != ''">and cover = #{cover}</if>
			<if test="subTitle != null and subTitle != ''">and sub_title = #{subTitle}</if>
			<if test="detailDesc != null and detailDesc != ''">and detail_desc = #{detailDesc}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="creator != null and creator != ''">and creator = #{creator}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
			<if test="updator != null and updator != ''">and updator = #{updator}</if>
			<if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>
			<if test="companyId != null and companyId != ''">and company_id = #{companyId}</if>
			<if test="teacherId != null and teacherId != ''">and teacher_id = #{teacherId}</if>
			<if test="faceFlag != null and faceFlag != ''">and face_flag = #{faceFlag}</if>
			<if test="liveFlag != null and liveFlag != ''">and live_flag = #{liveFlag}</if>
			<if test="videoFlag != null and videoFlag != ''">and video_flag = #{videoFlag}</if>
			<if test="remoteFlag != null and remoteFlag != ''">and remote_flag = #{remoteFlag}</if>
			<if test="protocolId != null and protocolId != ''">and protocol_id = #{protocolId}</if>
			<if test="itemOneCode != null and itemOneCode != ''">and item_one_code = #{itemOneCode}</if>
			<if test="itemSecondCode != null and itemSecondCode != ''">and item_second_code = #{itemSecondCode}</if>
			<if test="itemThirdCode != null and itemThirdCode != ''">and item_third_code = #{itemThirdCode}</if>
			<if test="itemFourthCode != null and itemFourthCode != ''">and item_fourth_code = #{itemFourthCode}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="classTypeResultMap" parameterType="com.yuxin.wx.model.classes.ClassType">
		select <include refid="table_columns" />
		from class_type 
		<include refid="page_where" /> 
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.classes.ClassType">
		select count(id) from class_type
		<include refid="page_where" /> 
	</select>
	
	<!-- 其他自定义SQL -->
	
	<select id="findDetailById" resultMap="classTypeVoResultMap" parameterType="hashmap" >
		SELECT 
		  a.*,
		  b.item_name AS itemOneName,
		  c.item_name AS itemSecondName,
		  d.item_name AS itemThirdName,
		 a.item_fourth_code AS itemFourthName
		FROM
		  class_type a
		LEFT JOIN sys_config_item b on a.item_one_code = b.item_code and b.company_id=#{companyId} and b.del_flag=0
		LEFT JOIN sys_config_item c on c.item_code = a.item_second_code and c.company_id=#{companyId} and c.del_flag=0
		LEFT JOIN sys_config_item d on d.item_code = a.item_third_code and d.del_flag=0 and d.company_id=#{companyId}
		where a.id = #{classId} and a.origin_type=0
		limit 1
	</select>
	<select id="findListByItem" resultMap="classTypeResultMap" parameterType="com.yuxin.wx.model.classes.ClassType" >
		select <include refid="table_columns" />
		from class_type 
		<include refid="page_where" /> and del_flag=0 and publish_status='CLASS_ON_SALE'
		<if test="createSchoolId != null"> and create_school_id=#{createSchoolId}</if>
		 order by id desc
	</select>
	
	<select id="findListByItem2" resultMap="classTypeResultMap" parameterType="com.yuxin.wx.model.classes.ClassType" >
		select <include refid="table_columns" />
		from class_type 
		<include refid="page_where" /> and publish_status='CLASS_ON_SALE' and del_flag=0 and company_id=#{companyId} and type_code='CLASS_TYPE_REMOTE'
	</select>
	
	<!-- 自定义分页查询 -->
	<select id="queryClassTypeByKeysForPage" resultMap="classTypeVoResultMap" parameterType="com.yuxin.wx.model.classes.ClassType">
		SELECT 
		  a.id,
		  a.item_one_id,
		  a.item_second_id,
		  a.name,
		  a.publish_status,
		  a.type_code,
		  a.original_price,
		  b.item_name AS itemOneName,
		  c.item_name AS itemSecondName 
		FROM
		  class_type a,
		  sys_config_item b,
		  sys_config_item c 
		  <include refid="page_where" />
		  and a.item_one_id = b.id 
		  and a.origin_type=0
		  and c.id = a.item_second_id 
		  ORDER BY a.update_time DESC
		  limit #{firstIndex},#{pageSize}
	</select>
	
	<!-- 查询班型并分页 -->
	<select id="queryClassTypesByPage" resultMap="classTypeVoResultMap" parameterType="map">
		SELECT a.*, c.buy_num as actualNum
        FROM class_type a left join commodity_product_realtion pr on
		pr.product_id = a.id
		INNER JOIN commodity c ON c.id = pr.com_id and c.origin_type=0
		where a.del_flag=0 and a.company_id = #{classType.companyId} and c.type='COMMODITY_CLASS' and a.origin_type=0 and a.is_out_source=0
		<if test="classType.name != null and classType.name != ''">and a.name like '%${classType.name}%'</if>
		<if test="classType.itemOneId != null and classType.itemOneId != ''">and a.item_one_id = #{classType.itemOneId}</if>
		<if test="classType.itemSecondId != null and classType.itemSecondId != ''">and a.item_second_id = #{classType.itemSecondId}</if>
		<if test="classType.publishStatus != null and classType.publishStatus != ''">and a.publish_status = #{classType.publishStatus}</if>
		<if test="classType.createSchoolId !=null and classType.createSchoolId != ''">and a.create_school_id = #{classType.createSchoolId}</if>
		<if test="classType.itemTag != null and classType.itemTag != ''">and find_in_set(#{classType.itemTag},a.item_tag)>0</if>
		<if test="classType.itemTag2 != null and classType.itemTag2 != ''">and find_in_set(#{classType.itemTag2},a.item_tag)>0</if>
		<if test="classType.teacherId != null and classType.teacherId != ''">and a.teacher_id =${classType.teacherId} </if>
		<if test="classType.teachersId != null and classType.teachersId != ''">or a.teacher_id in(${classType.teachersId}) </if>
		<if test="classType.faceFlag != null and classType.faceFlag != ''">and a.face_flag = ${classType.faceFlag}</if>
		<if test="classType.liveFlag != null and classType.liveFlag != ''">and a.live_flag = ${classType.liveFlag}</if>
		<if test="classType.videoFlag != null and classType.videoFlag != ''">and a.video_flag = ${classType.videoFlag}</if>
		<if test="classType.remoteFlag != null and classType.remoteFlag != ''">and a.remote_flag = ${classType.remoteFlag}</if>
		<if test="classType.itemOneCode != null and classType.itemOneCode != ''">and a.item_one_code = #{classType.itemOneCode}</if>
		<if test="classType.itemSecondCode != null and classType.itemSecondCode != ''">and a.item_second_code = #{classType.itemSecondCode}</if>
		<if test="classType.itemThirdCode != null and classType.itemThirdCode != ''">and a.item_third_code = #{classType.itemThirdCode}</if>
		<if test="classType.itemFourthCode != null and classType.itemFourthCode != ''">
            and a.item_fourth_code in
            <foreach item="item" index="index" collection="codes" open="(" separator="," close=")">#{item}</foreach>
        </if>
		ORDER BY a.subject_class_order is null,a.subject_class_order asc, a.update_time DESC
		limit #{classType.firstIndex},#{classType.pageSize}
	</select>
	
	
	<select id="queryCounts" resultType="int" parameterType="map">
		SELECT count(id) FROM class_type
		where del_flag=0 and company_id = #{classType.companyId} and origin_type=0 and is_out_source=0
		<if test="classType.name != null and classType.name != ''">and name like '%${classType.name}%'</if>
		<if test="classType.itemOneId != null and classType.itemOneId != ''">and item_one_id = #{classType.itemOneId}</if>
		<if test="classType.itemSecondId != null and classType.itemSecondId != ''">and item_second_id = #{classType.itemSecondId}</if>
		<if test="classType.publishStatus != null and classType.publishStatus != ''">and publish_status = #{classType.publishStatus}</if>
		<if test="classType.createSchoolId !=null and classType.createSchoolId != ''">and create_school_id = #{classType.createSchoolId}</if>
		<if test="classType.itemTag != null and classType.itemTag != ''">and find_in_set(#{classType.itemTag},item_tag)>0</if>
		<if test="classType.itemTag2 != null and classType.itemTag2 != ''">and find_in_set(#{classType.itemTag2},item_tag)>0</if>
		<if test="classType.teacherId != null and classType.teacherId != ''">and teacher_id =${classType.teacherId} </if>
		<if test="classType.teachersId != null and classType.teachersId != ''">or teacher_id in(${classType.teachersId}) </if>
		<if test="classType.faceFlag != null and classType.faceFlag != ''">and face_flag = ${classType.faceFlag}</if>
		<if test="classType.liveFlag != null and classType.liveFlag != ''">and live_flag = ${classType.liveFlag}</if>
		<if test="classType.videoFlag != null and classType.videoFlag != ''">and video_flag = ${classType.videoFlag}</if>
		<if test="classType.remoteFlag != null and classType.remoteFlag != ''">and remote_flag = ${classType.remoteFlag}</if>
		<if test="classType.itemOneCode != null and classType.itemOneCode != ''">and item_one_code = #{classType.itemOneCode}</if>
		<if test="classType.itemSecondCode != null and classType.itemSecondCode != ''">and item_second_code = #{classType.itemSecondCode}</if>
		<if test="classType.itemThirdCode != null and classType.itemThirdCode != ''">and item_third_code = #{classType.itemThirdCode}</if>
		<if test="classType.itemFourthCode != null and classType.itemFourthCode != ''">
            and item_fourth_code in
            <foreach item="item" index="index" collection="codes" open="(" separator="," close=")">#{item}</foreach>
        </if>
	</select>
	
	<select id="findClassTypeByStuId" parameterType="map" resultMap="classTypeResultMap">
		select a.*
		from class_type a,student_pay_master b
		where  a.origin_type=0 and b.origin_type=0
		and
			b.stu_id=#{id}
		and
			a.company_id=#{companyId}
		and
			b.commodity_id=a.id
		and
			b.id=#{payMasterId}
		and
			b.delete_flag=0
		and 
			b.commodity_type='COMMODITY_CLASS'
		limit 1
			 
	</select>
	
	<select id="findByItem" parameterType="map" resultMap="classTypeResultMap">
		select <include refid="table_columns" />
		from class_type where 
		publish_status='CLASS_ON_SALE' and origin_type=0
		and company_id=#{companyId}
		<if test="itemOneId != null and itemOneId != ''">and item_one_id = #{itemOneId}</if>
		<if test="itemTwoId != null and itemTwoId != ''">and item_second_id = #{itemTwoId}</if>
		<if test="createSchoolId != null and createSchoolId != ''">and create_school_id = #{createSchoolId}</if>
		and del_flag=0
	</select>
	
	<select id="findClassByItem" parameterType="map" resultMap="classTypeResultMap">
		select id,name
		from class_type where 
		 company_id=#{companyId} and origin_type=0
		<if test="itemOneId != null and itemOneId != ''">and item_one_id = #{itemOneId}</if>
		<if test="itemTwoId != null and itemTwoId != ''">and item_second_id = #{itemTwoId}</if>
		<if test="createSchoolId != null and createSchoolId != ''">and create_school_id = #{createSchoolId}</if>
		and del_flag=0
		order by id desc
	</select>
	<select id="findClassByItemRelation" parameterType="map" resultMap="classTypeResultMap">
		select id,name
		from class_type where
		company_id=#{companyId} and origin_type=0
		<if test="itemOneCode != null and itemOneCode != ''">and item_one_code = #{itemOneCode}</if>
		<if test="itemSecondCode != null and itemSecondCode != ''">and item_second_code = #{itemSecondCode}</if>
		<if test="itemThirdCode != null and itemThirdCode != ''">and item_third_code = #{itemThirdCode}</if>
		<if test="createSchoolId != null and createSchoolId != ''">and create_school_id = #{createSchoolId}</if>
		<if test="liveFlag != null and liveFlag != ''">and live_flag = #{liveFlag}</if>
		<if test="videoFlag != null and videoFlag != ''">and video_flag = #{videoFlag}</if>
		and del_flag=0
		order by id desc
	</select>
	<select id="findByRemote" parameterType="String" resultMap="classTypeResultMap">
		select a.* from
		course_remote a,
		class_type_remote_relation b,
		class_type c
		where
			a.id=b.remote_id
		and
			b.class_type_id=c.id
		and
			a.id=#{id} 
		and c.origin_type=0
		group by a.id
	</select>
	<select id="findByModule" parameterType="String" resultMap="classTypeResultMap">
		select c.* from
		class_module a,
		class_type_module_relation b,
		class_type c
		where
			a.id=b.module_id
		and
			b.class_type_id=c.id
		and
			a.id=#{id}
		and c.origin_type=0
		group by c.id
	</select>
	
	<select id="queryClassTypeByName" parameterType="String" resultMap="classTypeResultMap">
	    select <include refid="table_columns" />
		from class_type where name=#{name} and origin_type=0
		limit 1
	</select>
	
	
	<select id="findNameById" parameterType="map" resultType="String">
		select name 
		from class_type 
		where create_school_id in (#{schoolId}) and 
			company_id in (#{companyId}) and 
			publish_status = 'CLASS_ON_SALE' and 
			del_flag = 0 and origin_type=0
	</select>
	<select id="findClassTypeList3" parameterType="String" resultMap="classTypeResultMap">
		select <include refid="table_columns" /> 
		from class_type 
		where company_id=#{companyId} and del_flag=0 and origin_type=0
	</select>
	<select id="findClassTypeList4" parameterType="String" resultMap="classTypeResultMap">
		select id,name 
		from class_type 
		where company_id=#{companyId} and del_flag=0 and publish_status = 'CLASS_ON_SALE' and origin_type=0;
	</select>
	<select id="findByItemOne" parameterType="map" resultMap="classTypeResultMap">
		select <include refid="table_columns" /> 
		from class_type 
		where
		company_id=#{companyId} and del_flag=0
		and item_one_id=#{itemOneId}
		and publish_status='CLASS_ON_SALE' and origin_type=0
	</select>
	
	<update id="changClassTypeCollectStatus" parameterType="com.yuxin.wx.model.classes.ClassType">
	   update class_type set recommend_flag=#{recommendFlag} where id=#{id}
	</update>
	
	<select id="queryClassTypeExits" parameterType="com.yuxin.wx.model.classes.ClassType" resultMap="classTypeResultMap">
		select <include refid="table_columns" />
		from class_type where company_id=#{companyId} and create_school_id=#{createSchoolId}
		<if test="name != null and name != ''">and name = #{name}</if>
		<if test="itemOneId != null and itemOneId != ''">and item_one_id = #{itemOneId}</if>
		<if test="itemSecondId != null and itemSecondId != ''">and item_second_id = #{itemSecondId}</if>
		and del_flag=0 and origin_type=0
	</select>
	
	<select id="queryClassBycondition" resultMap="classTypeResultMap" parameterType="com.yuxin.wx.model.classes.ClassType" >
		select ct.*,c.id as commodityId from commodity c 
		left join commodity_product_realtion pr on c.id=pr.com_id  and pr.product_type=1 
		left join class_type ct on ct.id=pr.product_id and ct.del_flag=0  and ct.origin_type=0
		where ct.company_id=#{companyId} and publish_status='CLASS_ON_SALE' and c.origin_type=0 and c.type='COMMODITY_CLASS'
		<if test="itemOneId != null and itemOneId != ''">and ct.item_one_id = #{itemOneId}</if>
		<if test="itemSecondId != null and itemSecondId != ''">and ct.item_second_id = #{itemSecondId}</if>
		<if test="createSchoolId != null and createSchoolId != ''">and ct.create_school_id = #{createSchoolId}</if>
	</select>
	
	<select id="findClassTypeBycompanyId" parameterType="Integer" resultMap="classTypeResultMap">
		select <include refid="table_columns" />
		from class_type where company_id=#{companyId} and del_flag=0 and origin_type=0
	</select>
	<select id="findClassTypeByCommodity" parameterType="int" resultMap="classTypeResultMap">
		SELECT
			a.name,
			a.id,
			a.original_price,
			a.real_price,
			a.base_num,
			a.item_one_id,
			a.item_second_id,
			a.detail_desc
		FROM
			class_type a,
			commodity_product_realtion b
		WHERE
			b.product_id = a.id  and a.origin_type=0
		AND b.com_id = #{id}
		<!-- AND b.product_type = 1 -->
		AND a.del_flag = 0;
	</select>
	
	<select id="findClassTypeByClass" parameterType="com.yuxin.wx.model.classes.ClassType" resultType="Integer">
		select id from class_type
		where company_id = #{companyId} and 
			create_school_id = #{createSchoolId} and 
			item_one_id = #{itemOneId} and 
			item_second_id = #{itemSecondId} and 
			del_flag = #{delFlag} and origin_type=0
	</select>
	
	<update id="updateDeflag" parameterType="map">
		update class_type set
			del_flag = #{delFlag}
			,is_sale = 0
		where id in
			<foreach collection="classId" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
	</update>
	
	<!-- 查询课程包下的课程 -->
	<select id="queryClassTypesByClassPackage" resultMap="classTypeVoResultMap" parameterType="com.yuxin.wx.vo.classes.ClassPackageConditionVo">
		SELECT ct.*, c.buy_num as actualNum,cpr.id as relationId 
        from class_type ct,class_package_relation cpr,class_package cp,commodity_product_realtion cr,commodity c
        where ct.id=cpr.class_type_id and cpr.class_package_id=cp.id and ct.id=cr.product_id and cr.com_id=c.id and cr.product_type=1 and ct.del_flag=0 and c.origin_type=0 
        and cp.company_id=#{companyId}   and ct.origin_type=0 and c.origin_type=0
        and cpr.class_package_id=#{id}
        <choose>
        	<when test="stageId != null">and cpr.class_package_stage_id=#{stageId}</when>
        	<otherwise>and cpr.class_package_stage_id is null</otherwise>
        </choose>
        order by cpr.sort ASC
	</select>
	
	<!-- 查询课程包下是否存在某个课程 -->
	<select id="queryIsExistByClassPackage" resultMap="classTypeVoResultMap" parameterType="com.yuxin.wx.vo.classes.ClassPackageConditionVo">
		SELECT ct.id,ct.face_flag,
		ct.live_flag,
		ct.video_flag,
		ct.remote_flag from class_type ct,class_package_relation cpr,class_package cp
        where ct.id=cpr.class_type_id and cpr.class_package_id=cp.id and ct.del_flag=0  and ct.origin_type=0
        and cp.company_id=#{companyId} 
        and cpr.class_package_id=#{id} 
        <if test="classTypeId != null and classTypeId != ''">
        and cpr.class_type_id=#{classTypeId}
        </if>
	</select>
	
	<!-- 查询可以添加到会员课程的课程 -->
	<select id="queryClassTypeForMember" resultMap="classTypeVoResultMap" parameterType="com.yuxin.wx.vo.company.MemberLevelAndClassTypeVo">
		select <include refid="table_columns" />
		from class_type where company_id=#{companyId} and del_flag=0  and origin_type=0 and id not in (select class_type_id from class_type_member_discount where company_id =#{companyId} and member_id = #{memberId})
		<if test="name != null and name != ''">and name like '%${name}%'</if>
		<if test="itemOneId != null and itemOneId != ''">and item_one_id = #{itemOneId}</if>
		<if test="itemSecondId != null and itemSecondId != ''">and item_second_id = #{itemSecondId}</if>
		order by create_time desc
		limit #{firstIndex},#{pageSize}
	</select>
	<select id="queryClassTypeForMemberCount" resultType="int" parameterType="com.yuxin.wx.vo.company.MemberLevelAndClassTypeVo">
		select count(*)
		from class_type where company_id=#{companyId} and del_flag=0 and origin_type=0 and id not in (select class_type_id from class_type_member_discount where company_id =#{companyId} and member_id = #{memberId})
		<if test="name != null and name != ''">and name like '%${name}%'</if>
		<if test="itemOneId != null and itemOneId != ''">and item_one_id = #{itemOneId}</if>
		<if test="itemSecondId != null and itemSecondId != ''">and item_second_id = #{itemSecondId}</if>
	</select>
	<select id="queryClassTypeByOneAndTwoItem" resultMap="classTypeResultMap" parameterType="com.yuxin.wx.vo.company.MemberLevelAndClassTypeVo">
		select id,name
		from class_type where company_id=#{companyId} and del_flag=0 and video_flag = 1  and origin_type=0
		<if test="itemOneId != null and itemOneId != ''">and item_one_id = #{itemOneId}</if>
		<if test="itemSecondId != null and itemSecondId != ''">and item_second_id = #{itemSecondId}</if>
	</select>
	
	
	<select id="findClassTypeVoByClassTypeId" resultMap="classTypeVoResultMap" parameterType="com.yuxin.wx.model.classes.ClassType">
		select ct.*,cpr.product_id as com_id
		from class_type ct inner join commodity_product_realtion cpr 
		on ct.id = cpr.product_id
		where ct.id = #{classTypeId} and cpr.product_type = 1  and ct.origin_type=0
	</select>
	<!-- 查找机构所有的课程 -->
	<select id="findAllclassType" resultMap="classTypeResultMap" parameterType="com.yuxin.wx.model.classes.ClassType" >
		select id,name
		from class_type 
		where company_id = #{companyId} and del_flag=0  and origin_type=0
		<if test="schoolsId != null and schoolsId != ''">and schools_id = #{schoolsId}</if>
		order by id desc
	</select>
	
	<update id="updateSubjectClassOrder" parameterType="com.yuxin.wx.model.classes.ClassType">
	     update class_type set subject_class_order = #{subjectClassOrder} where  del_flag = 0 and publish_status = 'CLASS_ON_SALE' and id = #{id}
	</update>
	
	<select id="countSubjectClassOrder" resultType="Integer" parameterType="String">
	     select count(id) from class_type  where  item_one_code = #{itemOneCode}  and del_flag = 0  and origin_type=0 and publish_status = 'CLASS_ON_SALE' and  subject_class_order > 0
	</select>
	
	<!-- 查询分校直播课程  -->
	<select id="queryLiveClassOfBranchSchool" resultMap="classTypeVoResultMap" parameterType="map">
			SELECT ct.id,ct.name,sd.item_name as itemThirdName,c1.company_name as schoolName,c1.domain as domain_manage,s.source_class_type_id class_type_id,
				<![CDATA[ (CASE 	WHEN t.min_time is null or t.max_time is null then 0 	
						WHEN NOW()<t.min_time then 0 	
						WHEN t.min_time<=NOW() and NOW()<=t.max_time  then 1
						WHEN t.max_time<NOW() then 2 ELSE 0 END ) as livestatus	]]>
			from class_type ct
			JOIN commodity_product_realtion pr on pr.product_id = ct.id
			JOIN commodity c ON c.id = pr.com_id and c.origin_type=0
			JOIN school_share_class_type s on s.target_class_type_id=ct.id
			JOIN company c1 on c1.id=s.source_company_id
			Left JOIN sys_config_item sd on sd.item_code=ct.item_third_code and sd.company_id=ct.company_id and sd.parent_code='SUBJECT'
			LEFT JOIN ( 
				SELECT	min(STR_TO_DATE(CONCAT(DATE_FORMAT(ml.lesson_date,'%Y-%m-%d'),' ',ml.lesson_time_start,':00'),'%Y-%m-%d %H:%i:%S') ) as min_time,
						max(STR_TO_DATE(CONCAT(DATE_FORMAT(ml.lesson_date,'%Y-%m-%d'),' ',ml.lesson_time_end,':00'),'%Y-%m-%d %H:%i:%S')) as max_time,
						mr.class_type_id
				from 	class_module m, class_type_module_relation mr ,class_module_no mn,class_module_lesson ml
				where 	m.id=mr.module_id and mn.module_id=m.id and ml.module_no_id=mn.id 
						and ml.lesson_date is not null and ml.lesson_time_start is not null and ml.lesson_time_end is not null
						and m.company_id= #{companyId}
				GROUP BY 	mr.class_type_id
			) t on t.class_type_id=ct.id
			where ct.del_flag=0 and c.type='COMMODITY_CLASS' and ct.origin_type=0  and ct.is_out_source=1 
				and ct.live_flag=1 and ct.company_id = #{companyId} 
				<if test="name != null and name != ''">and (ct.name like '%${name}%' or sd.item_name  like '%${name}%') </if>
				<if test="livestatus != null and livestatus != ''">
					<choose>
						<when test="livestatus =='nostart'">
						 	<![CDATA[and (t.min_time is null or t.max_time is null or NOW()<t.min_time)]]>
						</when>
						<when test="livestatus =='start'">
							<![CDATA[and t.min_time is not null and t.max_time is not null and t.min_time<=NOW() and NOW()<=t.max_time]]>
						</when>
						<when test="livestatus =='over'">
							<![CDATA[and t.min_time is not null and t.max_time is not null and t.max_time<NOW()]]>
						</when>
						<otherwise></otherwise>
					</choose>
				</if>
			ORDER BY ct.create_time desc
			limit #{firstIndex},#{pageSize}
	</select>
	<select id="queryCountLiveClassOfBranchSchool" resultType="int" parameterType="map">
			SELECT count(ct.id) from class_type ct
			join commodity_product_realtion pr on pr.product_id = ct.id
			JOIN commodity c ON c.id = pr.com_id and c.origin_type=0
			JOIN school_share_class_type s on s.target_class_type_id=ct.id
			Left join sys_config_item sd on sd.item_code=ct.item_third_code and sd.company_id=ct.company_id and sd.parent_code='SUBJECT'
			LEFT JOIN ( 
				SELECT	min(STR_TO_DATE(CONCAT(DATE_FORMAT(ml.lesson_date,'%Y-%m-%d'),' ',ml.lesson_time_start,':00'),'%Y-%m-%d %H:%i:%S') ) as min_time,
						max(STR_TO_DATE(CONCAT(DATE_FORMAT(ml.lesson_date,'%Y-%m-%d'),' ',ml.lesson_time_end,':00'),'%Y-%m-%d %H:%i:%S')) as max_time,
						mr.class_type_id
				from 	class_module m, class_type_module_relation mr ,class_module_no mn,class_module_lesson ml
				where 	m.id=mr.module_id and mn.module_id=m.id and ml.module_no_id=mn.id 
						and ml.lesson_date is not null and ml.lesson_time_start is not null and ml.lesson_time_end is not null
						and m.company_id= #{companyId}
				GROUP BY 	mr.class_type_id
			) t on t.class_type_id=ct.id
			where ct.del_flag=0 and c.type='COMMODITY_CLASS' and ct.origin_type=0  and ct.is_out_source=1
				 and ct.live_flag=1 and ct.company_id = #{companyId}
				<if test="name != null and name != ''">and (ct.name like '%${name}%' or sd.item_name  like '%${name}%') </if>
				<if test="livestatus != null and livestatus != ''">
					<choose>
						<when test="livestatus =='nostart'">
						 	<![CDATA[and (t.min_time is null or t.max_time is null or NOW()<t.min_time)]]>
						</when>
						<when test="livestatus =='start'">
							<![CDATA[and t.min_time is not null and t.max_time is not null and t.min_time<=NOW() and NOW()<=t.max_time]]>
						</when>
						<when test="livestatus =='over'">
							<![CDATA[and t.min_time is not null and t.max_time is not null and t.max_time<NOW()]]>
						</when>
						<otherwise></otherwise>
					</choose>
				</if>
	</select>
	
	<!-- 查询分校直播课程  -->
	<select id="queryClassOfBranchSchool" resultMap="classTypeVoResultMap" parameterType="map">
		SELECT ct.id,ct.name,sci.item_name as item_third_name,t.name as teacher_name,
				ct.live_flag ,ct.face_flag ,ct.video_flag ,ct.remote_flag ,
				c.buy_num as buy_num_max,c.base_num+c.buy_num as actualNum,cp.domain
		from class_type ct
		join commodity_product_realtion pr on pr.product_id=ct.id
		join commodity c on c.id=pr.com_id and c.origin_type=0
		join company cp on cp.id=ct.company_id
		LEFT JOIN sys_config_item sci on sci.item_code=ct.item_third_code and sci.company_id=ct.company_id and sci.parent_code='SUBJECT'
		LEFT JOIN sys_config_teacher t on t.id=ct.teacher_id
		where  ct.origin_type=0  and ct.is_out_source=0 and ct.company_id=#{companyId}
		<if test="lable != null and lable != ''">
			<choose>
				<when test="lable=='live'">	and ct.live_flag =1	</when>
				<when test="lable=='video'">and ct.video_flag =1</when>
				<when test="lable=='face'">and ct.face_flag =1</when>
				<otherwise> </otherwise>
			</choose>
		</if>
		<if test="name != null and name != ''">
			and (ct.name like '%${name}%' or sci.item_name like '%${name}%' or t.name like '%${name}%')
		</if>
		ORDER BY
			<if test="order_signup != null and order_signup != '' ">
				<choose>
					<when test="order_signup==1">c.buy_num asc,</when>
					<otherwise>c.buy_num desc,</otherwise>
				</choose>
			</if>
			<if test="order_buy != null and order_buy != '' ">
				<choose>
					<when test="order_buy==1">(c.base_num+c.buy_num) asc,</when>
					<otherwise>(c.base_num+c.buy_num) desc,</otherwise>
				</choose>
			</if>		
		ct.create_time desc
		limit #{firstIndex},#{pageSize}
	</select>
	<select id="queryCountClassOfBranchSchool" resultType="int" parameterType="map">
		SELECT count(ct.id) from class_type ct
		join commodity_product_realtion pr on pr.product_id=ct.id
		join commodity c on c.id=pr.com_id and c.origin_type=0
		LEFT JOIN sys_config_item sci on sci.item_code=ct.item_third_code and sci.company_id=ct.company_id and sci.parent_code='SUBJECT'
		LEFT JOIN sys_config_teacher t on t.id=ct.teacher_id
		where  ct.origin_type=0 and  ct.is_out_source=0  and ct.company_id=#{companyId}
		<if test="lable != null and lable != ''">
			<choose>
				<when test="lable=='live'">	and ct.live_flag =1	</when>
				<when test="lable=='video'">and ct.video_flag =1</when>
				<when test="lable=='face'">and ct.face_flag =1</when>
				<otherwise>		</otherwise>
			</choose>
		</if>
		<if test="name != null and name != ''">
			and (ct.name like '%${name}%' or sci.item_name like '%${name}%' or t.name like '%${name}%')
		</if>
	</select>
	
	
	<!-- 查询其他分校直播课程  -->
	<select id="queryLiveClassOfOtherSchool" resultMap="classTypeVoResultMap" parameterType="map">
		SELECT ct.id,ct.name,sd.item_name as itemThirdName,c1.company_name as schoolName,c1.domain
		from class_type ct
		JOIN commodity_product_realtion pr on pr.product_id = ct.id
		JOIN commodity c ON c.id = pr.com_id and c.origin_type=0
		JOIN company c1 on c1.id=ct.company_id and c1.is_area=2
		Left JOIN sys_config_item sd on sd.item_code=ct.item_third_code and sd.company_id=ct.company_id and sd.parent_code='SUBJECT'
		where ct.del_flag=0 and c.type='COMMODITY_CLASS' and ct.origin_type=0  and ct.publish_status='CLASS_ON_SALE'
			  and ct.is_out_source=0 and ct.live_flag=1 and ct.company_id != #{companyId}
			<if test="className != null and className != ''">
				and ct.name like '%${className}%' 
			</if>
			<if test="schoolName != null and schoolName != ''">
				and c1.company_name like '%${schoolName}%'
			</if>
		ORDER BY ct.create_time desc
		limit #{firstIndex},#{pageSize}
	</select>
	<select id="queryCountLiveClassOfOtherSchool" resultType="int" parameterType="map">
		SELECT count(ct.id)
		from class_type ct
		JOIN commodity_product_realtion pr on pr.product_id = ct.id
		JOIN commodity c ON c.id = pr.com_id and c.origin_type=0
		JOIN company c1 on c1.id=ct.company_id and c1.is_area=2
		where ct.del_flag=0 and c.type='COMMODITY_CLASS' and ct.origin_type=0 and ct.publish_status='CLASS_ON_SALE'
			  and ct.is_out_source=0 and ct.live_flag=1 and ct.company_id != #{companyId}
			<if test="className != null and className != ''">
				and ct.name like '%${className}%' 
			</if>
			<if test="schoolName != null and schoolName != ''">
				and c1.company_name like '%${schoolName}%'
			</if>
	</select>
	
</mapper>
