<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.course.mapper.VideoTagMapper">
	<resultMap type="com.yuxin.wx.model.course.VideoTag" id="videoTagResultMap">
		<result property="id" column="id" />
		<result property="tagName" column="tag_name" />
		<result property="companyId" column="company_id" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		tag_name,
		company_id
    </sql>
	<sql id="entity_properties">
		#{id},
		#{tagName},
		#{companyId}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.tagName},
		#{item.companyId}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.course.VideoTag" useGeneratedKeys="true" keyProperty="id">
		insert into video_tag( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into video_tag( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from video_tag
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.course.VideoTag">
		update video_tag 
		<trim prefix="set" suffixOverrides=",">
			<if test="tagName != null and tagName != ''">tag_name = #{tagName},</if>
			<if test="companyId != null and companyId != ''">company_id = #{companyId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="videoTagResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from video_tag
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="videoTagResultMap">
		select <include refid="table_columns" /> 
		from video_tag
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="tagName != null and tagName != ''">and tag_name = #{tagName}</if>
			<if test="companyId != null and companyId != ''">and company_id = #{companyId}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="videoTagResultMap" parameterType="com.yuxin.wx.model.course.VideoTag">
		select <include refid="table_columns" />
		from video_tag
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.course.VideoTag">
		select count(id) from video_tag
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="findList" resultMap="videoTagResultMap" parameterType="int">
		select <include refid="table_columns" />
		from video_tag
		where company_id=#{companyId}
	</select>
	<select id="findExist" resultMap="videoTagResultMap" parameterType="com.yuxin.wx.model.course.VideoTag">
		select <include refid="table_columns" />
		from video_tag
		where company_id=#{companyId} and 
			tag_name = #{tagName}
	</select>
</mapper>