<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysBlackListMapper">
	<resultMap type="com.yuxin.wx.model.system.SysBlackList" id="sysBlackListResultMap">
		<result property="id" column="id" />
		<result property="tag_key" column="tagKey" />
		<result property="tag_value" column="tagValue" />
		<result property="records" column="records" />
		<result property="flag" column="flag" />
		<result property="recordTime" column="record_time" />
		<result property="recordReason" column="record_reason" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		tag_key,
		tag_value,
		records,
		status,
		record_time,
		record_reason
    </sql>
	<sql id="entity_properties">
		#{id},
		#{tagKey},
		#{tagValue},
		#{records},
		#{status},
		#{recordTime},
		#{recordReason}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.tag_key},
		#{item.tag_value},
		#{item.records},
		#{item.status},
		#{item.recordTime},
		#{item.recordReason}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysBlackList" useGeneratedKeys="true" keyProperty="id">
		insert into sys_black_list( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_black_list( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_black_list
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysBlackList">
		update sys_black_list 
		<trim prefix="set" suffixOverrides=",">
			<if test="tagKey != null and tagKey != ''">key = #{tagKey},</if>
			<if test="tagValue != null and tagValue != ''">tag_value = #{tagValue},</if>
			<if test="records != null and records != ''">records = #{records},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="recordTime != null and recordTime != ''">record_time = #{recordTime},</if>
			<if test="recordReason != null and recordReason != ''">record_reason = #{recordReason},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysBlackListResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_black_list
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysBlackListResultMap">
		select <include refid="table_columns" /> 
		from sys_black_list
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="tagKey != null and tagKey != ''">and tag_value = #{tagKey}</if>
			<if test="tagValue != null and tagValue != ''">and value = #{tagValue}</if>
			<if test="records != null and records != ''">and records = #{records}</if>
			<if test="status != null and status != ''">and status = #{status}</if>
			<if test="recordTime != null and recordTime != ''">and record_time = #{recordTime}</if>
			<if test="recordReason != null and recordReason != ''">and record_reason = #{recordReason}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysBlackListResultMap" parameterType="com.yuxin.wx.model.system.SysBlackList">
		select <include refid="table_columns" />
		from sys_black_list
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysBlackList">
		select count(id) from sys_black_list
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	
</mapper>