<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysConfigIndexCustomMapper">
	<resultMap type="com.yuxin.wx.model.system.SysConfigIndexCustom" id="sysConfigIndexCustomResultMap">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="picture" column="picture" />
		<result property="description" column="description" />
		<result property="link" column="link" />
		<result property="tile" column="tile" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		title,
		picture,
		description,
		link,
		tile
    </sql>
	<sql id="entity_properties">
		#{id},
		#{title},
		#{picture},
		#{description},
		#{link},
		#{tile}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.title},
		#{item.picture},
		#{item.description},
		#{item.link},
		#{item.tile}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysConfigIndexCustom" useGeneratedKeys="true" keyProperty="id">
		insert into sys_config_index_custom( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_config_index_custom( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from sys_config_index_custom
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_config_index_custom
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysConfigIndexCustom">
		update sys_config_index_custom 
		<trim prefix="set" suffixOverrides=",">
			<if test="title != null and title != ''">title = #{title},</if>
			<if test="picture != null and picture != ''">picture = #{picture},</if>
			<if test="description != null and description != ''">description = #{description},</if>
			<if test="link != null and link != ''">link = #{link},</if>
			<if test="tile != null">tile = #{tile},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysConfigIndexCustomResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_config_index_custom
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysConfigIndexCustomResultMap">
		select <include refid="table_columns" /> 
		from sys_config_index_custom
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="title != null and title != ''">and title = #{title}</if>
			<if test="picture != null and picture != ''">and picture = #{picture}</if>
			<if test="description != null and description != ''">and description = #{description}</if>
			<if test="link != null and link != ''">and link = #{link}</if>
			<if test="tile != null">and link = #{tile}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysConfigIndexCustomResultMap" parameterType="com.yuxin.wx.model.system.SysConfigIndexCustom">
		select <include refid="table_columns" />
		from sys_config_index_custom
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysConfigIndexCustom">
		select count(id) from sys_config_index_custom
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	
</mapper>