<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysConfigIndexModelMapper">
	<resultMap type="com.yuxin.wx.model.system.SysConfigIndexModel" id="sysConfigIndexModelResultMap">
		<result property="id" column="id" />
		<result property="htmlElement" column="html_element" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		html_element
    </sql>
	<sql id="entity_properties">
		#{id},
		#{htmlElement}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.htmlElement}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysConfigIndexModel" useGeneratedKeys="true" keyProperty="id">
		insert into sys_config_index_model( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_config_index_model( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_config_index_model
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysConfigIndexModel">
		update sys_config_index_model 
		<trim prefix="set" suffixOverrides=",">
			<if test="htmlElement != null and htmlElement != ''">html_element = #{htmlElement},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysConfigIndexModelResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_config_index_model
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysConfigIndexModelResultMap">
		select <include refid="table_columns" /> 
		from sys_config_index_model
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="htmlElement != null and htmlElement != ''">and html_element = #{htmlElement}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysConfigIndexModelResultMap" parameterType="com.yuxin.wx.model.system.SysConfigIndexModel">
		select <include refid="table_columns" />
		from sys_config_index_model
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysConfigIndexModel">
		select count(id) from sys_config_index_model
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	
</mapper>