<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysConfigDictMapper">
	<resultMap type="com.yuxin.wx.model.system.SysConfigDict" id="sysConfigDictResultMap">
		<result property="id" column="id" />
		<result property="dictCode" column="dict_code" />
		<result property="dictName" column="dict_name" />
		<result property="itemCode" column="item_code" />
		<result property="itemValue" column="item_value" />
		<result property="parentItemId" column="parent_item_id" />
		<result property="itemStatusCode" column="item_status_code" />
		<result property="displaySeq" column="display_seq" />
		<result property="companyId" column="company_id" />
		<result property="isDirectly" column="is_directly" />
		<result property="delFlag" column="del_flag" />
		<result property="groupCode" column="group_code" />
		<result property="isArea" column="is_area" />
	</resultMap>
	<resultMap type="com.yuxin.wx.model.classes.EduMasterClass" id="eduMasterClassResultMap">
		<result property="id" column="id" />
		<result property="eduArea" column="edu_area" />
		<result property="eduSchool" column="edu_school" />
		<result property="eduStep" column="edu_step" />
		<result property="eduYear" column="edu_year" />
		<result property="eduClass" column="edu_class" />
		<result property="eduAreaName" column="edu_area_name" />
		<result property="eduSchoolName" column="edu_school_name" />
		<result property="eduStepName" column="edu_step_name" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		dict_code,
		dict_name,
		item_code,
		item_value,
		parent_item_id,
		item_status_code,
		display_seq,
		company_id,
		is_directly,
		first_letter
    </sql>
	<sql id="entity_properties">
		#{id},
		#{dictCode},
		#{dictName},
		#{itemCode},
		#{itemValue},
		#{parentItemId},
		#{itemStatusCode},
		#{displaySeq},
		#{companyId},
		#{isDirectly},
		#{firstLetter}
	</sql>
	<sql id="table_relation">
		id,
		edu_step_new_id,
		edu_school_id,
		edu_step_new_code,
		edu_school_code
    </sql>
	<sql id="entity_relation">
		#{id},
		#{stepId},
		#{companyId},
		#{groupCode},
		#{itemStatusCode}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysConfigDict" useGeneratedKeys="true" keyProperty="id">
		insert into sys_config_dict( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	<insert id="addEduStepSchool" parameterType="com.yuxin.wx.model.system.SysConfigDict" useGeneratedKeys="true" keyProperty="id">
		insert into edu_step_school_relation
		( <include refid="table_relation" /> ) 
		values 
		( <include refid="entity_relation" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_config_dict( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from sys_config_dict
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_config_dict
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		update sys_config_dict 
		<trim prefix="set" suffixOverrides=",">
			<if test="dictCode != null and dictCode != ''">dict_code = #{dictCode},</if>
			<if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
			<if test="itemCode != null and itemCode != ''">item_code = #{itemCode},</if>
			<if test="itemValue != null and itemValue != ''">item_value = #{itemValue},</if>
			<if test="parentItemId != null and parentItemId != ''">parent_item_id = #{parentItemId},</if>
			<if test="itemStatusCode != null and itemStatusCode != ''">item_status_code = #{itemStatusCode},</if>
			<if test="displaySeq != null and displaySeq != ''">display_seq = #{displaySeq},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	<update id="updateSchoolProperty" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		update edu_step_school_relation 
		<trim prefix="set" suffixOverrides=",">
			<if test="dictName != null and dictName != ''">edu_step_new_code = #{dictName},</if>
		</trim>
		<where> edu_school_id = #{id}</where>
	</update>
	<update id="updateUsersAreaRelation" parameterType="com.yuxin.wx.vo.user.UsersAreaRelation">
		update users_area_relation 
		<trim prefix="set" suffixOverrides=",">
			<if test="eduArea != null and eduArea != ''">edu_area = #{eduArea},</if>
		</trim>
		<where> edu_school = #{eduSchool}</where>
	</update>
	<update id="updateOthserSchoolProperty" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		update sys_config_dict 
		<trim prefix="set" suffixOverrides=",">
			<if test="dictCode != null and dictCode != ''">parent_item_id = #{parentItemId},</if>
			<if test="itemValue != null and itemValue != ''">item_value = #{itemValue},</if>
			<if test="firstLetter != null and firstLetter != ''">first_letter = #{firstLetter},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysConfigDictResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_config_dict
		where id = #{id} and item_status_code=1
	</select>
	
		<select id="findByCode" resultMap="sysConfigDictResultMap" parameterType="com.yuxin.wx.model.system.SysConfigDict" >
		select <include refid="table_columns" />
		from sys_config_dict
		where item_code=#{itemCode} and item_status_code=1
		limit 1
	</select>
	
	<select id="queryAll" resultMap="sysConfigDictResultMap">
		select <include refid="table_columns" /> 
		from sys_config_dict where item_status_code=1
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="dictCode != null and dictCode != ''">and dict_code = #{dictCode}</if>
			<if test="dictName != null and dictName != ''">and dict_name = #{dictName}</if>
			<if test="itemCode != null and itemCode != ''">and item_code = #{itemCode}</if>
			<if test="itemValue != null and itemValue != ''">and item_value = #{itemValue}</if>
			<if test="parentItemId != null and parentItemId != ''">and parent_item_id = #{parentItemId}</if>
			<if test="itemStatusCode != null and itemStatusCode != ''">and item_status_code = #{itemStatusCode}</if>
			<if test="displaySeq != null and displaySeq != ''">and display_seq = #{displaySeq}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysConfigDictResultMap" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		select <include refid="table_columns" />
		from sys_config_dict
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		select count(id) from sys_config_dict
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	
	<!-- 查询教室相关 字典表 -->
	<select id="findDictByClassroom" resultMap="sysConfigDictResultMap">
		select <include refid="table_columns"></include>
			from sys_config_dict
		where dict_code in
			('CLASSROOM_ATTR','CLASSROOM_TYPE','CLASSROOM_KIND','CLASSROOM_RENT_TIME','CLASSROOM_LEVEL')
	</select>
	<select id="findByDicCode" parameterType="String" resultMap="sysConfigDictResultMap">
		select <include refid="table_columns"></include>
			from sys_config_dict
		where dict_code=#{code} 
		order by id
	</select>

	<select id="findAreaIds" parameterType="String" resultMap="sysConfigDictResultMap">
		select tmp1.item_code,tmp1.id,tmp1.item_value from (
		select DISTINCT scd.item_code,scd.id,scd.item_value from sys_config_dict scd
		 join (
		select scd.*,c.is_area,c.id as companyId from sys_config_dict scd
		join company c on c.edu_area_school = scd.item_code
		where scd.parent_item_id is not null
		)tmp on tmp.parent_item_id=scd.id
		union
		select  scd.item_code,scd.id,scd.item_value from sys_config_dict scd
		join company c on c.edu_area_school = scd.item_code
		where parent_item_id is null
		)tmp1 ORDER BY tmp1.id
	</select>

	<select id="queryAreaBySchool" parameterType="String" resultMap="sysConfigDictResultMap">
		select t2.id,t2.dict_code,t2.item_code,t2.item_value from sys_config_dict t1
		LEFT JOIN sys_config_dict t2 ON t1.parent_item_id=t2.id where t1.item_code=#{str}
	</select>
	
	<select id="queryConfigDictList" resultMap="sysConfigDictResultMap">
	    select item_code,item_value from sys_config_dict where dict_code='SYS_NEWS_TYPE'
	</select>
	<select id="queryConfigDictListByDictCode" resultMap="sysConfigDictResultMap" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		select item_code,item_value,id,parent_item_id from sys_config_dict
		where dict_code=#{dictCode} and item_status_code = '1'
		<if test="parentItemId != null and parentItemId != ''">and parent_item_id = #{parentItemId}</if>
		<if test="itemCode != null and itemCode != ''">and item_code = #{itemCode}</if>
		<if test="itemValue != null and itemValue != ''">and item_value = #{itemValue}</if>
		ORDER by display_seq asc
	</select>
	<select id="querySchoolByArea" resultMap="sysConfigDictResultMap" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		select t2.item_code,t2.item_value,t2.id,t2.parent_item_id from sys_config_dict t1 
		LEFT JOIN sys_config_dict t2 ON t2.parent_item_id=t1.id  
		where t1.item_code=#{itemCode}
		ORDER by t2.display_seq asc
	</select>
	<select id="findByCompanyId" resultMap="sysConfigDictResultMap" parameterType="Integer">
		select <include refid="table_columns"></include>
			from sys_config_dict
		where company_id = #{companyId}
	</select>

	<select id="findSchoolByCondition" resultMap="sysConfigDictResultMap" parameterType="map">
		select scd.item_code,scd.id,c.id as company_id,c.company_name as item_value from company c
		join sys_config_dict scd on c.edu_area_school=scd.item_code
		where 1=1
		and (scd.parent_item_id=#{parentId} or scd.id=#{parentId})
		ORDER BY scd.id
	</select>

	<!--查询所有已知分校-->
	<select id="queryAllSchool" resultMap="sysConfigDictResultMap" parameterType="map">
		select id as company_id,company_name as item_value from company ORDER BY id
	</select>

	<select id="queryConfigDictValue" resultMap="sysConfigDictResultMap" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		select item_value from sys_config_dict
		where dict_code=#{dictCode} and item_code = #{itemCode}
		limit 1
	</select>

	<select id="querySchoolListByStepCode" resultMap="sysConfigDictResultMap" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		select d.item_code,d.item_value,d.id from sys_config_dict d
		left join edu_step_school_relation r
		on r.edu_school_id = d.id
		where d.dict_code=#{dictCode} and d.item_status_code = '1'
		<if test="stepId != null and stepId != ''">and r.edu_step_new_id = #{stepId}</if>
		<if test="parentItemId != null and parentItemId != ''">and d.parent_item_id = #{parentItemId}</if>
		<if test="itemCode != null and itemCode != ''">and d.item_code = #{itemCode}</if>
		<if test="itemValue != null and itemValue != ''">and d.item_value = #{itemValue}</if>
		ORDER by display_seq asc
	</select>
	<select id="queryAllSchools" resultMap="sysConfigDictResultMap" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		select d.id as id,d.item_code as item_code,d.item_value as item_value,scd.item_value as dict_code,scd2.item_value as dict_name 
		from sys_config_dict d
		INNER JOIN edu_step_school_relation esr ON d.item_code = esr.edu_school_code
		INNER JOIN sys_config_dict scd ON esr.edu_step_new_code = scd.item_code
		INNER JOIN sys_config_dict scd2 ON d.parent_item_id = scd2.id
		where d.dict_code = 'EDU_SCHOOL'
		<if test="groupCode != null and groupCode != ''">and esr.edu_step_new_id = #{groupCode}</if>
		<if test="isArea != null and isArea != ''">and d.parent_item_id = #{isArea}</if>
		<if test="itemValue != null and itemValue != ''">and d.item_value like '%${itemValue}%'</if>
		<if test="firstLetter != null and firstLetter != ''">or d.item_code like '%${firstLetter}%'</if>
		ORDER BY d.first_letter 
		limit #{firstIndex},#{pageSize}
	</select>
    <select id="queryAllSchoolsCount" resultType="Integer" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		select count(1)
		from sys_config_dict d
		INNER JOIN edu_step_school_relation esr ON d.item_code = esr.edu_school_code
		INNER JOIN sys_config_dict scd ON esr.edu_step_new_code = scd.item_code
		INNER JOIN sys_config_dict scd2 ON d.parent_item_id = scd2.id
		where d.dict_code = 'EDU_SCHOOL'
		<if test="groupCode != null and groupCode != ''">and esr.edu_step_new_id = #{groupCode}</if>
		<if test="isArea != null and isArea != ''">and d.parent_item_id = #{isArea}</if>
		<if test="itemValue != null and itemValue != ''">and d.item_value like '%${itemValue}%'</if>
		<if test="firstLetter != null and firstLetter != ''">or d.item_code like '%${firstLetter}%'</if>
	</select>
	
	<select id="findGetAPPDateMode" resultType="String">
		select item_code from sys_config_dict where dict_code='GET_APP_DATA_MODE'
	</select>

	<select id="findSchoolBySchoolType"  parameterType="Map" resultMap="sysConfigDictResultMap">
		select  scd.item_code,scd.item_value from edu_step_school_relation  essr
		LEFT JOIN sys_config_dict scd on  scd .item_code  = essr.edu_school_code
		where essr.edu_step_new_code  = #{schoolType} and  scd.parent_item_id = #{area}
	</select>
	
	<select id="findByParentId" parameterType="String" resultMap="sysConfigDictResultMap">
		select <include refid="table_columns"></include>
			from sys_config_dict
		where parent_item_id=#{parentId} 
		order by id
	</select>
	<select id="findNameAndComId" parameterType="Integer" resultMap="sysConfigDictResultMap">
		SELECT ar.role_name as item_value,ar.company_id as item_code from auth_role ar
			INNER JOIN auth_user_role aur ON ar.role_uid = aur.role_uid
			INNER JOIN users u ON aur.user_id = u.id
			where u.id =#{id} 
	</select>
    <!--获取服务类型及服务名称-->
    <select id="querSysConfigDictList" resultMap="sysConfigDictResultMap" parameterType="Integer">
		select scs.group_code,scs.id,scs.company_id,scd.item_value as dict_name,scd1.item_value as item_value,scs.del_flag from sys_config_service scs 
		inner JOIN sys_config_dict scd ON scs.group_code=scd.item_code
		inner JOIN sys_config_dict scd1 on scs.parent_code=scd1.item_code 
		where  scs.company_id = #{companyId} and scs.group_code in('SERVICE_ONLINE_SET','SERVICE_MICROSCHOOL'
		,'SERVICE_LIVE','SERVICE_VIDEO','SERVICE_COURSE_SET','SERVICE_PAY_SET','SERVICE_MSG_SET','SERVICE_MARKETING_SET','SERVICE_CLASS_SET','SERVICE_QUESTION_ANSWER')
		ORDER BY scd1.item_value desc limit #{page},#{pageSize}
	</select>
    <!--获取服务类型及服务名称-->
    <select id="querSysConfigDictCount" resultType="Integer" parameterType="Integer">
		select count(1) from sys_config_service scs 
		inner JOIN sys_config_dict scd ON scs.group_code=scd.item_code
		inner JOIN sys_config_dict scd1 on scs.parent_code=scd1.item_code 
		where  scs.company_id = #{companyId} and scs.group_code in('SERVICE_ONLINE_SET','SERVICE_MICROSCHOOL'
		,'SERVICE_LIVE','SERVICE_VIDEO','SERVICE_COURSE_SET','SERVICE_PAY_SET','SERVICE_MSG_SET','SERVICE_MARKETING_SET','SERVICE_CLASS_SET')
	</select>
    <select id="findId" resultType="Integer" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		select id from sys_config_dict where item_code = #{itemCode}
	</select>
    <select id="checkCodeAndName" resultType="Integer" parameterType="com.yuxin.wx.model.system.SysConfigDict">
		select count(1) from sys_config_dict where 1=1
		 <if test="itemCode != null and itemCode != ''"> and item_code = #{itemCode}</if>
		 <if test="itemValue != null and itemValue != ''"> and item_value = #{itemValue}</if>
	</select>
	
	
	
	<select id="queryEduMasterClass" resultMap="eduMasterClassResultMap" parameterType="com.yuxin.wx.model.classes.EduMasterClass">
		select emc.*,scd.item_value as edu_area_name,scd1.item_value as edu_school_name,scd2.item_value as edu_step_name from edu_master_class emc 
		LEFT JOIN sys_config_dict scd ON emc.edu_area=scd.item_code
		LEFT JOIN sys_config_dict scd1 ON emc.edu_school=scd1.item_code
		LEFT JOIN sys_config_dict scd2 ON emc.edu_step=scd2.item_code
		where 1=1
		<if test="eduArea != null and eduArea != ''">and edu_area = #{eduArea}</if>
		<if test="eduSchool != null and eduSchool != ''">and edu_school = #{eduSchool}</if>
	</select>
</mapper>
