<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysConfigItemRelationMapper">
    <resultMap type="com.yuxin.wx.model.system.SysConfigItemRelation" id="sysConfigItemRelationResultMap">
        <result property="id" column="id" />
        <result property="itemCode" column="item_code" />
        <result property="parentCode" column="parent_code" />
        <result property="parentId" column="parent_id" />
        <result property="level" column="level" />
        <result property="levelPath" column="level_path" />
        <result property="isParent" column="is_parent" />
        <result property="itemName" column="item_name" />
    </resultMap>
    <sql id="table_columns">
        id,
        item_code,
        parent_code,
        parent_id,
        level,
        level_path,
        is_parent
    </sql>
    <sql id="entity_properties">
        #{id},
        #{itemCode},
        #{parentCode},
        #{parentId},
        #{level},
        #{levelPath},
        #{isParent}
    </sql>
    <!-- 适用于主键自增类型 -->
    <insert id="insert" parameterType="com.yuxin.wx.model.system.SysConfigItemRelation"
            useGeneratedKeys="true" keyProperty="id">
        insert into sys_config_item_relation(
        <include refid="table_columns" />
        )
        values (
        <include refid="entity_properties" />
        )
    </insert>

    <update id="update" parameterType="com.yuxin.wx.model.system.SysConfigItemRelation">
        update sys_config_item_relation
        <trim prefix="set" suffixOverrides=",">
            <if test="itemCode != null and itemCode != ''">item_code = #{itemCode},</if>
            <if test="parentCode != null and parentCode != ''">parent_code = #{parentCode},</if>
            <if test="parentId != null ">parent_id = #{parentId},</if>
            <if test="level != null ">level = #{level},</if>
            <if test="levelPath != null and levelPath != ''">level_path = #{levelPath}</if>
            <if test="isParent != null ">is_parent = #{isParent}</if>
        </trim>
        <where>id = #{id}</where>
    </update>


    <select id="findFirstLevel" resultMap="sysConfigItemRelationResultMap"
            parameterType="String">
        select
        <include refid="table_columns" />
        from sys_config_item_relation
        where level = 0
    </select>
    <select id="findRelationByParentId" resultMap="sysConfigItemRelationResultMap"
            parameterType="Integer">
        select
        <include refid="table_columns" />
        from sys_config_item_relation
        where parent_id = #{id}
    </select>
    <select id="findRelationByLevel" resultMap="sysConfigItemRelationResultMap"
            parameterType="Integer">
        select
        <include refid="table_columns" />
        from sys_config_item_relation
        where level = #{level}
    </select>
    <select id="findItemByIds" resultMap="sysConfigItemRelationResultMap" parameterType="list">
        select
        <include refid="table_columns" />
        from sys_config_item_relation
        where id in
        <foreach item="item" collection="list" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
    </select>
    <delete id="deleteById">
        delete from sys_config_item_relation
        where id = #{id}
    </delete>

    <delete id="deleteFront">
        delete from sys_config_item_relation_front
    </delete>
    <insert id="publish">
     insert sys_config_item_relation_front  (select * from sys_config_item_relation)
    </insert>
<!--发布后查询SQL-->
    <select id="findFirstLevelFront" resultMap="sysConfigItemRelationResultMap"
            parameterType="String">
        select
        <include refid="table_columns" />
        from sys_config_item_relation_front
        where level = 0
    </select>
    <select id="findChildrenFront" resultMap="sysConfigItemRelationResultMap"
            parameterType="com.yuxin.wx.model.system.SysConfigItemRelation">
        select
        <include refid="table_columns" />
        from sys_config_item_relation_front
        where parent_id = #{id}
    </select>
    <select id="findAllItemFront" resultMap="sysConfigItemRelationResultMap">
        SELECT DISTINCT
        (rf.item_code) AS item_code,(select item_name from sys_config_item sci where sci.item_code=rf.item_code)as item_name,
        LEVEL
          FROM
        sys_config_item_relation_front rf
    </select>

    <select id="findItemFrontByLevel" resultMap="sysConfigItemRelationResultMap"
            parameterType="Integer">
        SELECT DISTINCT
        (rf.item_code) AS item_code,(SELECT item_name FROM sys_config_item sci WHERE sci.item_code=rf.item_code)AS item_name,
        LEVEL
          FROM
        sys_config_item_relation_front rf
        WHERE LEVEL = #{level}
    </select>

    <select id="findChildByCode"  resultMap="sysConfigItemRelationResultMap" parameterType="com.yuxin.wx.model.system.SysConfigItemRelation">

        select   DISTINCT
        (rf.item_code) AS item_code,(SELECT item_name FROM sys_config_item sci WHERE sci.item_code=rf.item_code)AS item_name
        from
         sys_config_item_relation_front rf
         where  parent_code =#{itemCode}
    </select>

</mapper>