<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysConfigServiceMapper">
	<resultMap type="com.yuxin.wx.model.system.SysConfigService" id="sysConfigServiceResultMap">
		<result property="id" column="id" />
		<result property="groupCode" column="group_code" />
		<result property="updator" column="updator" />
		<result property="updateTime" column="update_time" />
		<result property="companyId" column="company_id" />
		<result property="delFlag" column="del_flag" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		group_code,
		updator,
		update_time,
		company_id,
		del_flag
    </sql>
	<sql id="entity_properties">
		#{id},
		#{groupCode},
		#{updator},
		#{updateTime},
		#{companyId},
		#{delFlag}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.groupCode},
		#{item.updator},
		#{item.updateTime},
		#{item.companyId},
		#{item.delFlag}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysConfigService" useGeneratedKeys="true" keyProperty="id">
		insert into sys_config_service( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_config_service( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_config_service
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysConfigService">
		update sys_config_service 
		<trim prefix="set" suffixOverrides=",">
			<if test="groupCode != null and groupCode != ''">group_code = #{groupCode},</if>
			<if test="updator != null and updator != ''">updator = #{updator},</if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
			<if test="companyId != null and companyId != ''">company_id = #{companyId},</if>
			<if test="delFlag != null">del_flag = #{delFlag},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysConfigServiceResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_config_service
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysConfigServiceResultMap">
		select <include refid="table_columns" /> 
		from sys_config_service
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="groupCode != null and groupCode != ''">and group_code = #{groupCode}</if>
			<if test="updator != null and updator != ''">and updator = #{updator}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
			<if test="companyId != null">and company_id = #{companyId}</if>
			<if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysConfigServiceResultMap" parameterType="com.yuxin.wx.model.system.SysConfigService">
		select <include refid="table_columns" />
		from sys_config_service
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysConfigService">
		select count(id) from sys_config_service
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="findList" resultMap="sysConfigServiceResultMap" parameterType="com.yuxin.wx.model.system.SysConfigService">
		select <include refid="table_columns" />
		from sys_config_service
		<include refid="page_where" />
	</select>
	
	<select id="findServiceByCompanyId" resultType="com.yuxin.wx.model.system.SysConfigService" parameterType="int">
		select 		
		s.id,
		s.group_code groupCode,
		s.updator,
		s.update_time updateTime,
		s.company_id companyId,
		s.del_flag delFlag,
		g.group_sequence groupSequence
		from sys_config_service s,sys_config_service_group_flag  g
		where 
			s.group_code=g.group_code
			and company_id = #{companyId}
			and s.del_flag=0 
		order by g.group_sequence asc
	</select>
	
	<select id="findPrivilegeByCompanyId" resultType="com.yuxin.wx.vo.system.SysConfigServiceVo" parameterType="int">
		select s.id,s.company_id as companyId,g.privilege_id as privilegeId,g.privilege_name as privilegeName,g.group_code as groupCode,g.group_name as groupName
		from sys_config_service s,sys_config_service_group g
		where s.group_code=g.group_code
		and s.company_id=#{companyId}
		and s.del_flag=0
	</select>
	
	<select id="findByCodeId" parameterType="map" resultMap="sysConfigServiceResultMap">
		select <include refid="table_columns"/>
		from sys_config_service
		where group_code = #{groupCode} and 
			company_id = #{companyId}
			limit 1
	</select>
	
	<select id="findByCompanyId" parameterType="Integer" resultMap="sysConfigServiceResultMap">
		select <include refid="table_columns"/>
		from sys_config_service
		where company_id = #{companyId}
		and del_flag=0
	</select>
	
	<select id="findExist" parameterType="com.yuxin.wx.model.system.SysConfigService" resultMap="sysConfigServiceResultMap">
		select <include refid="table_columns"/>
		from sys_config_service
		where company_id = #{companyId} and 
			group_code = #{groupCode}
			limit 1
	</select>
</mapper>