<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysConfigServiceGroupMapper">
	<resultMap type="com.yuxin.wx.model.system.SysConfigServiceGroup" id="sysConfigServiceGroupResultMap">
		<result property="id" column="id" />
		<result property="groupName" column="group_name" />
		<result property="privilegeId" column="privilege_id" />
		<result property="privilegeName" column="privilege_name" />
		<result property="delFlag" column="del_flag" />
		<result property="groupCode" column="group_code" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		group_name,
		privilege_id,
		privilege_name,
		del_flag,
		group_code
    </sql>
	<sql id="entity_properties">
		#{id},
		#{groupName},
		#{privilegeId},
		#{privilegeName},
		#{delFlag},
		#{groupCode}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.groupName},
		#{item.privilegeId},
		#{item.privilegeName},
		#{item.delFlag},
		#{item.groupCode}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysConfigServiceGroup" useGeneratedKeys="true" keyProperty="id">
		insert into sys_config_service_group( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_config_service_group( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_config_service_group
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysConfigServiceGroup">
		update sys_config_service_group 
		<trim prefix="set" suffixOverrides=",">
			<if test="groupName != null and groupName != ''">group_name = #{groupName},</if>
			<if test="privilegeId != null and privilegeId != ''">privilege_id = #{privilegeId},</if>
			<if test="privilegeName != null and privilegeName != ''">privilege_name = #{privilegeName},</if>
			<if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
			<if test="groupCode != null and groupCode != ''">group_code = #{groupCode},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysConfigServiceGroupResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_config_service_group
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysConfigServiceGroupResultMap">
		select <include refid="table_columns" /> 
		from sys_config_service_group
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="groupName != null and groupName != ''">and group_name = #{groupName}</if>
			<if test="privilegeId != null and privilegeId != ''">and privilege_id = #{privilegeId}</if>
			<if test="privilegeName != null and privilegeName != ''">and privilege_name = #{privilegeName}</if>
			<if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>
			<if test="groupCode != null and groupCode != ''">and group_code = #{groupCode}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysConfigServiceGroupResultMap" parameterType="com.yuxin.wx.model.system.SysConfigServiceGroup">
		select <include refid="table_columns" />
		from sys_config_service_group
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysConfigServiceGroup">
		select count(id) from sys_config_service_group
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="findByCode" resultMap="sysConfigServiceGroupResultMap" parameterType="string" >
		select <include refid="table_columns" />
		from sys_config_service_group 
		where group_code=#{group_code}
	</select>
</mapper>