<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysCcAccountMapper">
	<resultMap type="com.yuxin.wx.model.system.SysCcAccount" id="sysCcAccountResultMap">
		<result property="id" column="id" />
		<result property="ccApiKey" column="cc_api_key" />
		<result property="ccUserId" column="cc_user_id" />
		<result property="useStatus" column="use_status" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		cc_api_key,
		cc_user_id,
		use_status
    </sql>
	<sql id="entity_properties">
		#{id},
		#{ccApiKey},
		#{ccUserId},
		#{useStatus}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.ccApiKey},
		#{item.ccUserId},
		#{item.useStatus}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysCcAccount" useGeneratedKeys="true" keyProperty="id">
		insert into sys_cc_account( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_cc_account( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_cc_account
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysCcAccount">
		update sys_cc_account 
		<trim prefix="set" suffixOverrides=",">
			<if test="ccApiKey != null and ccApiKey != ''">cc_api_key = #{ccApiKey},</if>
			<if test="ccUserId != null and ccUserId != ''">cc_user_id = #{ccUserId},</if>
			<if test="useStatus != null and useStatus != ''">use_status = #{useStatus},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysCcAccountResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_cc_account
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysCcAccountResultMap">
		select <include refid="table_columns" /> 
		from sys_cc_account
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="ccApiKey != null and ccApiKey != ''">and cc_api_key = #{ccApiKey}</if>
			<if test="ccUserId != null and ccUserId != ''">and cc_user_id = #{ccUserId}</if>
			<if test="useStatus != null and useStatus != ''">and use_status = #{useStatus}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysCcAccountResultMap" parameterType="com.yuxin.wx.model.system.SysCcAccount">
		select <include refid="table_columns" />
		from sys_cc_account
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysCcAccount">
		select count(id) from sys_cc_account
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="findOne" resultMap="sysCcAccountResultMap">
		select <include refid="table_columns" /> from sys_cc_account
		where use_status = 0
		limit 0,1
	</select>
</mapper>