<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysConfigTeacherMapper">
	<resultMap type="com.yuxin.wx.model.system.SysConfigTeacher"
		id="sysConfigTeacherResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="teacherType" column="teacher_type" />
		<result property="sex" column="sex" />
		<result property="mobile" column="mobile" />
		<result property="homePhone" column="home_phone" />
		<result property="birthday" column="birthday" />
		<result property="idNumber" column="id_number" />
		<result property="email" column="email" />
		<result property="jobType" column="job_type" />
		<result property="homeAddress" column="home_address" />
		<result property="address" column="address" />
		<result property="company" column="company" />
		<result property="post" column="post" />
		<result property="workPhone" column="work_phone" />
		<result property="emergencyContactName" column="emergency_contact_name" />
		<result property="emergencyContactPhone" column="emergency_contact_phone" />
		<result property="workTime" column="work_time" />
		<result property="unionpayNo" column="unionpay_no" />
		<result property="bankName" column="bank_name" />
		<result property="bankAccountName" column="bank_account_name" />
		<result property="bankAccountNum" column="bank_account_num" />
		<result property="statusCode" column="status_code" />
		<result property="delFlag" column="del_flag" />
		<result property="createTime" column="create_time" />
		<result property="creator" column="creator" />
		<result property="updateTime" column="update_time" />
		<result property="updator" column="updator" />
		<result property="resume" column="resume" />
		<result property="teacherId" column="teacher_id" />
		<result property="educationCode" column="education_code" />
		<result property="headpicUrl" column="headpic_url" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="isDistinguished" column="is_distinguished" />
		<result property="inviteCode" column="invite_code" />
		<result property="teacherLevel" column="teacher_level" />
		<result property="teacherArea" column="teacher_area" />
		<result property="schoolName" column="school_name" />
		<result property="sortId" column="sort_id" />
		<result property="schoolShortName" column="school_short_name" />
		<result property="eduAreaSchool" column="edu_area_school" />
		
		<result property="remark" column="remark" />
	</resultMap>

	<resultMap type="com.yuxin.wx.model.system.SysConfigTeacher"
		id="sysConfigTeacherResultSimpleVo">
		<result property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>

	<resultMap type="com.yuxin.wx.vo.system.SysConfigTeachersVo"
		id="teacheDtailMap">
		<result property="id" column="id" />
		<result property="teacherName" column="name" />
		<result property="mobile" column="mobile" />
		<result property="sex" column="sex" />
		<result property="itemOneId" column="item_one_id" />
		<result property="itemSecondId" column="item_second_id" />
	</resultMap>
	
	<resultMap type="com.yuxin.wx.vo.system.TeachersVo" id="teachersVoMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="teacherType" column="teacher_type" />
		<result property="mobile" column="mobile" />
		<result property="resume" column="resume" />
		<result property="headpicUrl" column="headpic_url" />
		<result property="schoolId" column="school_id"/>
		<result property="courseNum" column="courseNum"/>
		<result property="stuNum" column="stuNum"/>
		<result property="score" column="score"/>
		<result property="delFlag" column="del_flag" />
		<result property="createTime" column="create_time" />
		<result property="creator" column="creator" />
		<result property="updateTime" column="update_time" />
		<result property="updator" column="updator" />
		<result property="itemOneName" column="item_name"/>
		<result property="inviteCode" column="invite_code" />
	</resultMap>

	<sql id="table_columns">
		id,
		name,
		teacher_type,
		sex,
		mobile,
		home_phone,
		birthday,
		id_number,
		email,
		job_type,
		home_address,
		address,
		company,
		post,
		work_phone,
		emergency_contact_name,
		emergency_contact_phone,
		work_time,
		unionpay_no,
		bank_name,
		bank_account_name,
		bank_account_num,
		status_code,
		del_flag,
		create_time,
		creator,
		update_time,
		updator,
		resume,
		education_code,
		headpic_url,
		user_id,
		is_distinguished,
		invite_code,
		teacher_level,
		teacher_area,
		school_name,
		sort_id,
		school_short_name,
		remark
	</sql>
	<sql id="table_columns_sct">
		sct.id,
		sct.name,
		sct.teacher_type,
		sct.sex,
		sct.mobile,
		sct.home_phone,
		sct.birthday,
		sct.id_number,
		sct.email,
		sct.job_type,
		sct.home_address,
		sct.address,
		sct.company,
		sct.post,
		sct.work_phone,
		sct.emergency_contact_name,
		sct.emergency_contact_phone,
		sct.work_time,
		sct.unionpay_no,
		sct.bank_name,
		sct.bank_account_name,
		sct.bank_account_num,
		sct.status_code,
		sct.del_flag,
		sct.create_time,
		sct.creator,
		sct.update_time,
		sct.updator,
		sct.resume,
		sct.education_code,
		sct.headpic_url,
		sct.user_id,
		sct.is_distinguished,
		sct.invite_code,
		sct.teacher_level,
		sct.teacher_area,
		sct.school_name,
		sct.sort_id,
		sct.school_short_name,
		sct.remark
	</sql>
	<sql id="table_columns_new">
		t1.id,
		t1.name,
		t1.teacher_type,
		t1.sex,
		t1.mobile,
		t1.home_phone,
		t1.birthday,
		t1.id_number,
		t1.email,
		t1.job_type,
		t1.home_address,
		t1.address,
		t1.company,
		t1.post,
		t1.work_phone,
		t1.emergency_contact_name,
		t1.emergency_contact_phone,
		t1.work_time,
		t1.unionpay_no,
		t1.bank_name,
		t1.bank_account_name,
		t1.bank_account_num,
		t1.status_code,
		t1.del_flag,
		t1.create_time,
		t1.creator,
		t1.update_time,
		t1.updator,
		t1.resume,
		t1.education_code,
		t1.headpic_url,
		t1.user_id,
		t1.is_distinguished,
		t1.invite_code,
		t1.teacher_level,
		t1.teacher_area,
		t1.school_name,
		t1.sort_id,
		t1.school_short_name,
		t1.remark
	</sql>
	<sql id="entity_properties">
		#{id},
		#{name},
		#{teacherType},
		#{sex},
		#{mobile},
		#{homePhone},
		#{birthday},
		#{idNumber},
		#{email},
		#{jobType},
		#{homeAddress},
		#{address},
		#{company},
		#{post},
		#{workPhone},
		#{emergencyContactName},
		#{emergencyContactPhone},
		#{workTime},
		#{unionpayNo},
		#{bankName},
		#{bankAccountName},
		#{bankAccountNum},
		#{statusCode},
		#{delFlag},
		#{createTime},
		#{creator},
		#{updateTime},
		#{updator},
		#{resume},
		#{educationCode},
		#{headpicUrl},
		#{userId},
		#{isDistinguished},
		#{inviteCode},
		#{teacherLevel},
		#{teacherArea},
		#{schoolName},
		#{sortId},
		#{schoolShortName},
		#{remark}
	</sql>

	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysConfigTeacher"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_config_teacher(
		<include refid="table_columns" />,edu_area_school
		)
		values (
		<include refid="entity_properties" />,#{eduAreaSchool}
		)
	</insert>

	<!-- 批量添加 适用于主键自增类型 不支持返回主键 -->
	<insert id="batchInsert" parameterType="java.util.List"
		useGeneratedKeys="true">
		insert into sys_config_teacher(
		<include refid="table_columns" />
		)
		values
		<foreach item="item" collection="list" separator=",">
			(
			<include refid="entity_properties" />
			)
		</foreach>
	</insert>

	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from sys_config_teacher
		where id = #{id}
	</delete>

	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_config_teacher
		where id in
		<foreach item="item" collection="array" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>

	<update id="update" parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		update sys_config_teacher
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="teacherType != null and teacherType != ''">teacher_type = #{teacherType},</if>
			<if test="sex != null and sex != ''">sex = #{sex},</if>
			<if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
			<if test="homePhone != null and homePhone != ''">home_phone = #{homePhone},</if>
			<if test="birthday != null and birthday != ''">birthday = #{birthday},</if>
			<if test="idNumber != null and idNumber != ''">id_number = #{idNumber},</if>
			<if test="email != null and email != ''">email = #{email},</if>
			<if test="jobType != null and jobType != ''">job_type = #{jobType},</if>
			<if test="homeAddress != null and homeAddress != ''">home_address = #{homeAddress},</if>
			<if test="address != null and address != ''">address = #{address},</if>
			<if test="company != null and company != ''">company = #{company},</if>
			<if test="post != null and post != ''">post = #{post},</if>
			<if test="workPhone != null and workPhone != ''">work_phone = #{workPhone},</if>
			<if test="emergencyContactName != null and emergencyContactName != ''">emergency_contact_name = #{emergencyContactName},</if>
			<if test="emergencyContactPhone != null and emergencyContactPhone != ''">emergency_contact_phone = #{emergencyContactPhone},</if>
			<if test="workTime != null and workTime != ''">work_time = #{workTime},</if>
			<if test="unionpayNo != null and unionpayNo != ''">unionpay_no = #{unionpayNo},</if>
			<if test="bankName != null and bankName != ''">bank_name = #{bankName},</if>
			<if test="bankAccountName != null and bankAccountName != ''">bank_account_name = #{bankAccountName},</if>
			<if test="bankAccountNum != null and bankAccountNum != ''">bank_account_num = #{bankAccountNum},</if>
			<if test="statusCode != null and statusCode != ''">status_code = #{statusCode},</if>
			<if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
			<if test="creator != null and creator != ''">creator = #{creator},</if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
			<if test="updator != null and updator != ''">updator = #{updator},</if>
			<if test="resume != null ">resume = #{resume},</if>
			<if test="teacherId != null and teacherId != ''">teacher_id = #{teacherId},</if>
			<if test="educationCode != null and educationCode != ''">education_code = #{educationCode},</if>
			<if test="userId != null and userId != ''">user_id = #{userId},</if>
			<if test="headpicUrl != null and headpicUrl != ''">headpic_url = #{headpicUrl},</if>
			<if test="isDistinguished != null">is_distinguished = #{isDistinguished},</if>
			<if test="inviteCode != null and inviteCode !=''">invite_code = #{inviteCode},</if>

			<if test="teacherLevel != null and teacherLevel !=''">teacher_level = #{teacherLevel},</if>
			<if test="teacherArea != null and teacherArea !=''">teacher_area = #{teacherArea},</if>
			<if test="schoolName != null and schoolName !=''">school_name = #{schoolName},</if>
			<if test="schoolShortName != null and schoolShortName !=''">school_short_name = #{schoolShortName},</if>
			<if test="remark != null ">remark = #{remark},</if>
			<if test="eduAreaSchool != null ">edu_area_school = #{eduAreaSchool},</if>
			
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<update id="updateauthTeacher" parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		update sys_config_teacher
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="teacherType != null and teacherType != ''">teacher_type = #{teacherType},</if>
			<if test="sex != null and sex != ''">sex = #{sex},</if>
			<if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
			<if test="homePhone != null and homePhone != ''">home_phone = #{homePhone},</if>
			<if test="birthday != null and birthday != ''">birthday = #{birthday},</if>
			<if test="idNumber != null and idNumber != ''">id_number = #{idNumber},</if>
			<if test="email != null and email != ''">email = #{email},</if>
			<if test="jobType != null and jobType != ''">job_type = #{jobType},</if>
			<if test="homeAddress != null and homeAddress != ''">home_address = #{homeAddress},</if>
			<if test="address != null and address != ''">address = #{address},</if>
			<if test="company != null and company != ''">company = #{company},</if>
			<if test="post != null and post != ''">post = #{post},</if>
			<if test="workPhone != null and workPhone != ''">work_phone = #{workPhone},</if>
			<if test="emergencyContactName != null and emergencyContactName != ''">emergency_contact_name = #{emergencyContactName},</if>
			<if test="emergencyContactPhone != null and emergencyContactPhone != ''">emergency_contact_phone = #{emergencyContactPhone},</if>
			<if test="workTime != null and workTime != ''">work_time = #{workTime},</if>
			<if test="unionpayNo != null and unionpayNo != ''">unionpay_no = #{unionpayNo},</if>
			<if test="bankName != null and bankName != ''">bank_name = #{bankName},</if>
			<if test="bankAccountName != null and bankAccountName != ''">bank_account_name = #{bankAccountName},</if>
			<if test="bankAccountNum != null and bankAccountNum != ''">bank_account_num = #{bankAccountNum},</if>
			<if test="statusCode != null and statusCode != ''">status_code = #{statusCode},</if>
			<if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
			<if test="creator != null and creator != ''">creator = #{creator},</if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
			<if test="updator != null and updator != ''">updator = #{updator},</if>
			<if test="resume != null and resume != ''">resume = #{resume},</if>
			<if test="teacherId != null and teacherId != ''">teacher_id = #{teacherId},</if>
			<if test="educationCode != null and educationCode != ''">education_code = #{educationCode},</if>
			<if test="userId != ''">user_id = #{userId},</if>
			<if test="headpicUrl != null and headpicUrl != ''">headpic_url = #{headpicUrl},</if>
			<if test="isDistinguished != null">is_distinguished = #{isDistinguished},</if>

			<if test="teacherLevel != null and teacherLevel !=''">teacher_level = #{teacherLevel},</if>
			<if test="teacherArea != null and teacherArea !=''">teacher_area = #{teacherArea},</if>
			<if test="schoolName != null and schoolName !=''">school_name = #{schoolName},</if>
			<if test="schoolShortName != null and schoolShortName !=''">school_short_name = #{schoolShortName},</if>
			
		</trim>
		<where>id = #{id}</where>
	</update>

	<select id="findById" resultMap="sysConfigTeacherResultMap"
		parameterType="String">
		select
		<include refid="table_columns" />
		from sys_config_teacher
		where id = #{id}
	</select>
	<select id="findTeacherAndUserById" resultMap="sysConfigTeacherResultMap" parameterType="String">
		select u.id as user_id,u.username as
		user_name,sct.* from sys_config_teacher
		as sct left join users as u on
		sct.user_id = u.id where sct.id=#{id}
	</select>
	<select id="queryAll" resultMap="sysConfigTeacherResultMap">
		select
		<include refid="table_columns" />
		from sys_config_teacher
	</select>

	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="name != null and name != ''">and name like '%${name}%'</if>
			<if test="teacherType != null and teacherType != ''">and teacher_type = #{teacherType}</if>
			<if test="sex != null and sex != ''">and sex = #{sex}</if>
			<if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
			<if test="homePhone != null and homePhone != ''">and home_phone = #{homePhone}</if>
			<if test="birthday != null and birthday != ''">and birthday = #{birthday}</if>
			<if test="idNumber != null and idNumber != ''">and id_number = #{idNumber}</if>
			<if test="email != null and email != ''">and email = #{email}</if>
			<if test="jobType != null and jobType != ''">and job_type = #{jobType}</if>
			<if test="homeAddress != null and homeAddress != ''">and home_address = #{homeAddress}</if>
			<if test="address != null and address != ''">and address = #{address}</if>
			<if test="company != null and company != ''">and company = #{company}</if>
			<if test="post != null and post != ''">and post = #{post}</if>
			<if test="workPhone != null and workPhone != ''">and work_phone = #{workPhone}</if>
			<if test="emergencyContactName != null and emergencyContactName != ''">and emergency_contact_name = #{emergencyContactName}</if>
			<if test="emergencyContactPhone != null and emergencyContactPhone != ''">and emergency_contact_phone = #{emergencyContactPhone}
			</if>
			<if test="workTime != null and workTime != ''">and work_time = #{workTime}</if>
			<if test="itemOneId != null and itemOneId != ''">and item_one_id = #{itemOneId}</if>
			<if test="itemSecondId != null and itemSecondId != ''">and item_second_id = #{itemSecondId}</if>
			<if test="unionpayNo != null and unionpayNo != ''">and unionpay_no = #{unionpayNo}</if>
			<if test="bankName != null and bankName != ''">and bank_name = #{bankName}</if>
			<if test="bankAccountName != null and bankAccountName != ''">and bank_account_name = #{bankAccountName}</if>
			<if test="bankAccountNum != null and bankAccountNum != ''">and bank_account_num = #{bankAccountNum}</if>
			<if test="statusCode != null and statusCode != ''">and status_code = #{statusCode}</if>
			<if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="creator != null and creator != ''">and creator = #{creator}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
			<if test="updator != null and updator != ''">and updator = #{updator}</if>
			<if test="educationCode != null and educationCode != ''">and education_code = #{educationCode}</if>
			<if test="headpicUrl != null and headpicUrl != ''">and headpic_url = #{headpicUrl}</if>
			<if test="userId != null and userId !=''">and user_id = #{userId}</if>

			<if test="teacherLevel != null and teacherLevel !=''">and teacher_level = #{teacherLevel}</if>
			<if test="teacherArea != null and teacherArea !=''">and teacher_area = #{teacherArea}</if>
			<if test="schoolName != null and schoolName !=''">and school_name = #{schoolName}</if>
		</trim>
	</sql>

	<sql id="page_where_check">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="name != null and name != ''">and name = #{name}</if>
			<if test="teacherType != null and teacherType != ''">and teacher_type = #{teacherType}</if>
			<if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
			<if test="delFlag != null">and del_flag = #{delFlag}</if>
		</trim>
	</sql>

	<select id="page" resultMap="sysConfigTeacherResultMap"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select
		<include refid="table_columns" />
		from sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		where teacher_type!='PERSON_TEACHER'
		<if test="name != null and name != ''">and name like '%${name}%'</if>
		<if test="teacherType != null and teacherType != ''">and teacher_type = #{teacherType}</if>
		<if test="statusCode != null and statusCode != ''">and status_code = #{statusCode}</if>
		<if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
		<if test="schoolId != null and schoolId != ''">and scs.id = #{schoolId}</if>
		<if test="userId != null and userId !=''">and user_id = #{userId}</if>
		ORDER BY update_time DESC
		limit #{firstIndex},#{pageSize}
	</select>

	<select id="pageCount" resultType="int"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select count(id) from sys_config_teacher
		where
		teacher_type!='PERSON_TEACHER'
		<if test="name != null and name != ''">and name like '%${name}%'</if>
		<if test="teacherType != null and teacherType != ''">and teacher_type = #{teacherType}</if>
		<if test="statusCode != null and statusCode != ''">and status_code = #{statusCode}</if>
		<if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
		<if test="schoolId != null and schoolId != ''">and school_id = #{schoolId}</if>
		<if test="userId != null and userId !=''">and user_id = #{userId}</if>
	</select>

	<!-- 其他自定义SQL -->

	<select id="findTeacherBySchoolAndModuleId" resultMap="sysConfigTeacherResultSimpleVo">
		SELECT
		sct.id,
		sct.name
		FROM sys_config_teacher sct WHERE
		sct.school_id = #{schoolId} and
		sct.teacher_type = #{teacherType}
		and sct.del_flag = 0
	</select>

	<select id="findNotTeacherBySchoolAndModuleId" resultMap="sysConfigTeacherResultSimpleVo">
		SELECT
		sct.id,
		sct.name
		FROM sys_config_teacher sct 
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		WHERE scs.id = #{schoolId} and
		sct.teacher_type != 'PERSON_TEACHER'
		and sct.del_flag = 0
	</select>

	<select id="findTeacherBySchoolAndModuleIdAndLesson" resultMap="sysConfigTeacherResultSimpleVo">
		SELECT
		sct.id,
		sct.name
		FROM
		sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		LEFT JOIN sys_config_teacher_lesson sctl ON sct.id =
		sctl.teacher_id
		WHERE
		scs.id = #{schoolId} and sct.teacher_type=#{teacherType} and sctl.module_id = #{moduleId} and sct.del_flag = 0
	</select>


	<!-- 分页查询教师信息 -->
	<select id="queryTeachersByKeys" resultMap="sysConfigTeacherResultMap"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		SELECT
		a.*,b.*
		FROM
		sys_config_teacher a
		inner join users_comany_relation ur on ur.user_id=a.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		left join sys_config_teacher_lesson b on a.id = b.teacher_id
		WHERE a.teacher_type='PERSON_TEACHER'
		<if test="itemOneId != null and itemOneId != ''">and b.item_one_id = #{itemOneId}</if>
		<if test="itemSecondId != null and itemSecondId != ''">and b.item_second_id= #{itemSecondId}</if>
		<if test="moduleId != null and moduleId != ''">and b.module_id= #{moduleId}</if>
		<if test="name != null and name != ''">and a.name like '%${name}%'</if>
		<if test="mobile != null and mobile != ''">and a.mobile = #{mobile}</if>
		<if test="statusCode != null and statusCode != ''">and status_code = #{statusCode}</if>
		<if test="idNumber != null and idNumber != ''">and id_number = #{idNumber}</if>
		<if test="schoolId != null and schoolId != ''">and scs.id = #{schoolId}</if>
		GROUP BY a.id
		ORDER BY a.update_time DESC
		limit #{firstIndex},#{pageSize}
	</select>

	<select id="queryTeachersByKeysCount" resultType="Integer"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select count(1) from (SELECT
		a.id
		FROM
		sys_config_teacher a
		inner join users_comany_relation ur on ur.user_id=a.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		left join sys_config_teacher_lesson b
		on a.id = b.teacher_id
		WHERE a.teacher_type='PERSON_TEACHER'
		<if test="itemOneId != null and itemOneId != ''">and b.item_one_id = #{itemOneId}</if>
		<if test="itemSecondId != null and itemSecondId != ''">and b.item_second_id= #{itemSecondId}</if>
		<if test="name != null and name != ''">and a.name like '%${name}%'</if>
		<if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
		<if test="statusCode != null and statusCode != ''">and status_code = #{statusCode}</if>
		<if test="schoolId != null and schoolId != ''">and scs.id = #{schoolId}</if>
		GROUP BY a.id
		) teacher limit 1
	</select>



	<select id="queryForCheck" resultMap="sysConfigTeacherResultMap"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select id,name
		from sys_config_teacher
		<include refid="page_where" />
	</select>

	<select id="queryForClassType" resultMap="sysConfigTeacherResultMap"
		parameterType="java.util.Map">
		select a.id,a.name
		from sys_config_teacher a,sys_config_teacher_lesson b,users_comany_relation ur,sys_config_school scs
		where a.id=b.teacher_id and ur.user_id=a.user_id and ur.is_used=1 and scs.company_id=ur.company_id
		and b.item_one_id = #{itemOneId}
		and b.item_second_id= #{itemSecondId}
		and scs.id=#{schoolId}
	</select>

	<!-- 根据公司id 和 工作类型 查询 -->
	<select id="findTeacherBySchoolId" resultType="Integer"
		parameterType="Integer">
		select count(sct.id)
		from sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		where sct.teacher_type = 'PERSON_TEACHER'
		and scs.id = #{school_id}
		and sct.del_flag = 0
	</select>
	<select id="findSenateBySchoolId" resultType="Integer"
		parameterType="Integer">
		select count(sct.id)
		from sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		where sct.teacher_type not in('PERSON_TEACHER')
		and scs.id = #{school_id}
		and sct.del_flag = 0
	</select>
	<!-- ycl-start -->
	<select id="findByCompany" resultMap="sysConfigTeacherResultMap"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select
		<include refid="table_columns_sct" />
		from sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		where sct.del_flag = 0 and scs.company_id = #{companyId}
		<if test="teacherType != null and teacherType != ''">
			<if test="teacherType == 'all'">
				and (sct.teacher_type = 'PERSON_MANAGER' or sct.teacher_type =
				'PERSON_ASSISTANT' or teacher_type = 'PERSON_WAITER')
			</if>
			<if test="teacherType != 'all'">
				and sct.teacher_type = #{teacherType}
			</if>
		</if>
		<if test="mobile != null and mobile != ''">and sct.mobile = #{mobile}</if>
		<if test="name != null and name != ''">and sct.name LIKE '%${name}%'</if>
		and sct.status_code = 'TEACHER_USERD' order by sct.sort_id is null, sct.sort_id asc, sct.create_time desc
		limit #{firstIndex},#{pageSize}
	</select>
	<select id="findByNewCompany" resultMap="sysConfigTeacherResultMap"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select t1.*  from sys_config_teacher t1
		INNER JOIN sys_config_teacher_lesson t2 ON t1.id=t2.teacher_id
		inner join users u on u.id=t1.user_id
		RIGHT JOIN sys_config_item t3 ON  t3.id=t2.item_one_id 
		INNER JOIN users_comany_relation ucr on ucr.company_id=#{companyId} and ucr.user_id=t1.user_id and ucr.is_used=1
		where t1.del_flag = 0 and t3.company_id = #{companyId} 
		<if test="teacherType != null and teacherType != ''">
			<if test="teacherType == 'all'">
				and (t1.teacher_type = 'PERSON_MANAGER' or t1.teacher_type =
				'PERSON_ASSISTANT' or t1.teacher_type = 'PERSON_WAITER')
			</if>
			<if test="teacherType != 'all'">
				and t1.teacher_type = #{teacherType}
			</if>
		</if>
		<if test="mobile != null and mobile != ''">and t1.mobile = #{mobile}</if>
		<if test="name != null and name != ''">and t1.name LIKE '%${name}%'</if>
		and t1.status_code = 'TEACHER_USERD' order by t1.sort_id is null, t1.sort_id asc, t1.create_time desc
		limit #{firstIndex},#{pageSize}
	</select>

	<select id="findByCompanyCount" resultType="Integer"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select count(t1.id)
		from sys_config_teacher t1
		inner join users u on u.id=t1.user_id
		INNER JOIN sys_config_teacher_lesson t2 ON t1.id=t2.teacher_id
		RIGHT JOIN sys_config_item t3 ON  t3.id=t2.item_one_id
		INNER JOIN users_comany_relation ucr on ucr.company_id=#{companyId} and ucr.user_id=t1.user_id and ucr.is_used=1
		where t1.del_flag = 0 and t3.company_id = #{companyId} 
				<if test="teacherType != null and teacherType != ''">
			<if test="teacherType == 'all'">
				and (t1.teacher_type = 'PERSON_MANAGER' or t1.teacher_type =
				'PERSON_ASSISTANT' or t1.teacher_type = 'PERSON_WAITER')
			</if>
			<if test="teacherType != 'all'">
				and t1.teacher_type = #{teacherType}
			</if>
		</if>
		<if test="mobile != null and mobile != ''">and t1.mobile = #{mobile}</if>
		<if test="name != null and name != ''">and t1.name LIKE '%${name}%'</if>
		and t1.status_code = 'TEACHER_USERD'
	</select>

	<select id="findTeacherIdByMobile" parameterType="com.yuxin.wx.model.system.SysConfigTeacher"
		resultMap="sysConfigTeacherResultMap">
		select
		<include refid="table_columns_sct" />
		from sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		where sct.del_flag = 0 
		<if test="companyId != null and companyId != ''">and ur.company_id = #{companyId}</if>
		 and sct.mobile = ${mobile}
	</select>
	<!-- ycl-end -->


	<!-- 如果以上的方法没用的话，会直接删除 2015-05-04. 如果有新增加的方法，则写到该注释的下方 -->

	<select id="queryAllTeachersWithItemOneId" resultMap="sysConfigTeacherResultMap"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		SELECT
		sct.id,
		sct.`name`,
		sct.mobile,
		sct.home_phone,
		sct.sex,
		sct.birthday,
		sct.id_number,
		sct.email,
		sct.home_address,
		sct.address,
		sct.bank_name,
		sct.bank_account_name,
		sct.bank_account_num,
		sct.work_phone,
		sct.emergency_contact_name,
		sct.emergency_contact_phone,
		sct.resume,
		sct.sort_id,
		sct.is_distinguished,
		sct.remark,
		sct.school_name,
		sct.school_short_name,
		sct.teacher_level,
		sct.teacher_area
		FROM
		sys_config_teacher sct
		LEFT JOIN sys_config_teacher_lesson sctl ON sct.id =
		sctl.teacher_id
		inner join users u on u.id=sct.user_id
		INNER JOIN users_comany_relation ucr on ucr.company_id=#{companyId} and ucr.user_id=sct.user_id and ucr.is_used=1
		WHERE
		sct.teacher_type = 'PERSON_TEACHER'
		<if test="name != null and name != ''">and name LIKE '%${name}%'</if>
		AND sct.del_flag = 0 AND sctl.item_one_id =
		#{itemOneId} and sct.status_code = 'TEACHER_USERD' GROUP BY sct.id order by sct.sort_id is null,sct.sort_id asc
		limit #{firstIndex},#{pageSize}
	</select>
	<select id="queryAllNewTeachersWithItemOneId" resultMap="sysConfigTeacherResultMap"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		SELECT
		sct.id,
		sct.`name`,
		sct.mobile,
		sct.home_phone,
		sct.sex,
		sct.birthday,
		sct.id_number,
		sct.email,
		sct.home_address,
		sct.address,
		sct.bank_name,
		sct.bank_account_name,
		sct.bank_account_num,
		sct.work_phone,
		sct.emergency_contact_name,
		sct.emergency_contact_phone,
		sct.resume,
		sct.sort_id,
		sct.is_distinguished,
		sct.remark
		FROM
		sys_config_teacher sct
		LEFT JOIN sys_config_teacher_lesson sctl ON sct.id =
		sctl.teacher_id
		WHERE
		sct.teacher_type = 'PERSON_TEACHER'
		<if test="name != null and name != ''">and name LIKE '%${name}%'</if>
		AND sct.del_flag = 0 AND sctl.item_second_id =
		#{itemOneId} and sct.status_code = 'TEACHER_USERD' GROUP BY sct.id order by sct.sort_id is null,sct.sort_id asc
		limit #{firstIndex},#{pageSize}
	</select>

	<select id="queryAllTeachersCountWithItemOneId" resultType="Integer"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select count(id) from (
		SELECT
		sct.*
		FROM
		sys_config_teacher sct
		LEFT JOIN sys_config_teacher_lesson sctl ON
		sct.id = sctl.teacher_id
		inner join users u on u.id=sct.user_id
		INNER JOIN users_comany_relation ucr on ucr.company_id=#{companyId} and ucr.user_id=sct.user_id and ucr.is_used=1
		WHERE
		sct.teacher_type = 'PERSON_TEACHER'
		<if test="name != null and name != ''">and name LIKE '%${name}%'</if>
		AND sct.del_flag = 0 AND sctl.item_one_id =
		#{itemOneId} and sct.status_code = 'TEACHER_USERD' GROUP BY sct.id order by sct.sort_id is null,sct.sort_id asc)
		noTable
	</select>

	<select id="findAssistantBySchool" resultMap="sysConfigTeacherResultMap">
		select
		<include refid="table_columns_sct" />
		from sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		where scs.id = #{schoolId} and
		sct.teacher_type = 'PERSON_ASSISTANT' and
		sct.del_flag = 0
	</select>

	<select id="queryTeacherByName" parameterType="com.yuxin.wx.vo.system.SysConfigTeachersVo"
		resultMap="teacheDtailMap">
		select distinct a.id,a.name,a.sex,a.mobile 
		from sys_config_teacher a
		inner join users_comany_relation ur on ur.user_id=a.user_id and ur.is_used=1
		LEFT JOIN sys_config_teacher_lesson b on a.id=b.teacher_id
		where status_code='TEACHER_USERD' and a.del_flag=0
		<if test="teacherName != null and teacherName != ''">and a.name LIKE '%${teacherName}%'</if>
		<if test="userId != null and userId != ''">and a.user_id = #{userId}</if>
		<if test="companyId != null and companyId != ''">and ur.company_id = #{companyId}</if>
		<if test="teacherType ==6  and teacherType != null">and a.teacher_type = 'PERSON_TEACHER'</if>
		<if test="teacherType ==7  and teacherType != null">and a.teacher_type != 'PERSON_TEACHER'</if>
	</select>


	<select id="findByUserId" resultMap="sysConfigTeacherResultMap"
		parameterType="Integer">
		select
		<include refid="table_columns" />
		from sys_config_teacher
		where user_id = #{id}
	</select>

	<!-- 查询所有教师 -->
	<select id="queryTeachers" resultMap="sysConfigTeacherResultMap"
		parameterType="java.util.Map">
		select DISTINCT a.id,a.name,a.teacher_type from sys_config_teacher a
		inner join users_comany_relation ur on a.user_id=ur.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		LEFT JOIN sys_config_teacher_lesson b
		on a.id=b.teacher_id where a.status_code='TEACHER_USERD' and
		a.teacher_type='PERSON_TEACHER' and a.del_flag=0 and
		scs.company_id=#{companyId}
		<if test="schoolId != null and schoolId != ''">and scs.id = #{schoolId}</if>
		<if test="itemOneId != null and itemOneId != ''">and b.item_one_id = #{itemOneId}</if>
		<if test="itemSecondId != null and itemSecondId != ''">and b.item_second_id= #{itemSecondId}</if>
		<if test="id != null and id != ''">and a.id = #{id}</if>
		order by a.id desc
	</select>
	
	<!-- 查询所有教务 -->
	<select id="findAssistants" resultMap="sysConfigTeacherResultMap"
		parameterType="java.util.Map">
		select DISTINCT a.id,a.name,a.teacher_type 
		from sys_config_teacher a
		inner join users_comany_relation ur on a.user_id=ur.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		LEFT JOIN sys_config_teacher_lesson b on a.id=b.teacher_id 
		where a.status_code='TEACHER_USERD' and a.teacher_type='PERSON_ASSISTANT' and a.del_flag=0 and ur.company_id=#{companyId}
		<if test="schoolId != null and schoolId != ''">and scs.id = #{schoolId}</if>
		<if test="itemOneId != null and itemOneId != ''">and b.item_one_id = #{itemOneId}</if>
		<if test="itemSecondId != null and itemSecondId != ''">and b.item_second_id= #{itemSecondId}</if>
		order by a.id desc
	</select>

	<select id="findteachersByUserId" resultMap="sysConfigTeacherResultMap"
		parameterType="Integer">
		select
		<include refid="table_columns" />
		from sys_config_teacher
		where user_id = #{id}
	</select>

	<!-- 条件查询教师信息 -->
	<select id="queryTeachersBycondition" resultMap="sysConfigTeacherResultMap"
		parameterType="java.util.Map">
		select DISTINCT a.id,a.name,a.teacher_type from sys_config_teacher a
		inner join users_comany_relation ur on ur.user_id=a.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		LEFT JOIN sys_config_teacher_lesson b on a.id=b.teacher_id where a.status_code='TEACHER_USERD' and
		a.del_flag=0 and ur.company_id=#{companyId}
		<if test="schoolId != null and schoolId != ''">and scs.id = #{schoolId}</if>
		<if test="itemOneId != null and itemOneId != ''">and b.item_one_id = #{itemOneId}</if>
		<if test="itemSecondId != null and itemSecondId != ''">and b.item_second_id= #{itemSecondId}</if>
		<if test="userId != null and userId != ''">and a.user_id = #{userId}</if>
		<if test="teacherType != null and teacherType != ''">
		<choose>
			<when test="teacherType == 'PERSON_TEACHER'">
				and a.teacher_type= #{teacherType}
			</when>
			<otherwise>
				and a.teacher_type!= 'PERSON_TEACHER'
			</otherwise>
		</choose>
		</if>
		order by a.id desc
	</select>

	<select id="findSysConfigTeacherByParam" resultMap="sysConfigTeacherResultMap"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select id, name, mobile from sys_config_teacher
		<include refid="page_where_check" />
	</select>
	<select id="findSysConfigTeacherByCompany" resultMap="sysConfigTeacherResultMap"
		parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select <include refid="table_columns_sct" /> from sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		where sct.status_code='TEACHER_USERD' and sct.del_flag=0 and ur.company_id=#{companyId}
		<if test="teacherType != null and teacherType != ''">
			and sct.teacher_type = #{teacherType}
		</if>
		<if test="schoolId != null and schoolId != ''">and scs.id = #{schoolId}</if>
		<if test="userId != null and userId != ''">and sct.user_id = #{userId}</if>
		order by id desc
	</select>
	<select id="findSysConfigTeacherByName" resultMap="sysConfigTeacherResultMap"
		parameterType="java.util.Map">
		select sct.id,sct.name, sct.mobile from sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		where sct.status_code='TEACHER_USERD' and sct.del_flag=0 and ur.company_id=#{companyId}
		<if test="schoolId != null and schoolId != ''">and scs.id = #{schoolId}</if>
		<if test="teacherName != null and teacherName != ''">and sct.name like '%${teacherName}%'</if>
		order by sct.id desc
	</select>
	<select id="findMobileCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		select count(mobile) 
		from sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		where mobile = #{mobile} and ur.company_id = #{companyId}
	</select>
	
	<select id="findTeacherByUserId" parameterType="com.yuxin.wx.model.system.SysConfigTeacher" resultType="com.yuxin.wx.model.system.SysConfigTeacher">
		select * from sys_config_teacher sct
		inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
		where teacher_type = 'PERSON_TEACHER' and ur.company_id = #{companyId} and user_id = #{userId}
	</select>
    <select id="findByInviteCode" resultMap="sysConfigTeacherResultMap" parameterType="com.yuxin.wx.vo.system.TeachersVo">
        select <include refid="table_columns" />
        from sys_config_teacher sct
        inner join users_comany_relation ur on ur.user_id=sct.user_id and ur.is_used=1
        where ur.company_id = #{companyId}
        <if test="inviteCode != null and inviteCode != ''">and sct.invite_code = #{inviteCode}</if>
        limit 1
    </select>
    
    
    
    <select id="queryTeachersData" resultMap="teachersVoMap" parameterType="com.yuxin.wx.vo.system.TeachersVo">
		SELECT
		a.id,
		a. NAME,
		a.mobile,
		a.headpic_url,
		a.resume,
		class_type.courseNum,
		commodity.stuNum
		from sys_config_teacher a
		inner join users_comany_relation ur on ur.user_id=a.user_id and ur.is_used=1
		inner join sys_config_school scs on scs.company_id=ur.company_id
		left join (
		SELECT
		count(id) as courseNum,
		teacher_id
		FROM
		class_type
		WHERE
		is_sale = 1
		AND del_flag = 0 and origin_type=0
		group by teacher_id
		) as class_type on class_type.teacher_id = a.id
		left join (
		SELECT
		sum(com.base_num + com.buy_num) as stuNum,
		ct.teacher_id
		FROM
		commodity com
		INNER JOIN commodity_product_realtion pr ON com.id = pr.com_id
		INNER JOIN class_type ct ON ct.id = pr.product_id and ct.origin_type=0
		WHERE com. STATUS = 1 and com.origin_type=0
		GROUP BY ct.teacher_id
		) as commodity on commodity.teacher_id = a.id
		WHERE a.status_code = "TEACHER_USERD"
		AND a.teacher_type = "PERSON_TEACHER"
		AND a.del_flag = 0
		AND a.is_distinguished = 1
	  <if test="name != null and name != ''">and a.name like '%${name}%'</if>
	  <choose>
			<when test="schoolsId != null and schoolsId != ''">and scs.id in(${schoolsId})</when>
			<otherwise>
				<if test="schoolId != null and schoolId != ''">and scs.id = #{schoolId}</if>
			</otherwise>
	 </choose>
      <if test="cusorder != null and cusorder != '' and cusorder=='all'">
		  ORDER BY a.create_time DESC
      </if>
	  limit #{firstIndex},#{pageSize}
	</select>
	<select id="queryTeachersDataCount" resultType="Integer" parameterType="com.yuxin.wx.vo.system.TeachersVo">
	   select count(a.id) from sys_config_teacher a 
	inner join users_comany_relation ur on ur.user_id=a.user_id and ur.is_used=1
	inner join sys_config_school scs on scs.company_id=ur.company_id
	where a.status_code='TEACHER_USERD' and a.teacher_type='PERSON_TEACHER' and a.del_flag=0 and a.is_distinguished=1 and ur.company_id=#{companyId}
	 <if test="name != null and name != ''">and a.name like '%${name}%'</if>
      <choose>
			<when test="schoolsId != null and schoolsId != ''">and scs.id in(${schoolsId})</when>
			<otherwise>
				<if test="schoolId != null and schoolId != ''">and scs.id = #{schoolId}</if>
			</otherwise>
	 </choose>
      <if test="cusorder != null and cusorder != '' and cusorder=='all'">
      	 ORDER BY (select ROUND((select sum(score) from video_course_comment where teacher_id=a.id and del_flag=0 and origin_type=0 and is_distinguished=1)/(select count(id) from video_course_comment where teacher_id=a.id and origin_type=0 and del_flag=0 and is_distinguished=1),0)) DESC,(select sum(com.base_num + com.buy_num) from commodity com inner join commodity_product_realtion pr on com.id=pr.com_id inner JOIN class_type ct on ct.id=pr.product_id and ct.origin_type=0 
where com.status=1 and com.origin_type=0 and ct.teacher_id=a.id and com.company_id=#{companyId} and ct.company_id=#{companyId}) DESC
      </if>
	</select>
	<update id="updateSortId" parameterType="com.yuxin.wx.model.system.SysConfigTeacher">
		update sys_config_teacher set
		sort_id = #{sortId} where id =  #{id}
	</update>
	<select id="checkSortCount" resultType="Integer">
		select count(sort_id) from sys_config_teacher
	</select>
	
	
	<select id="findTeacherBySubject" resultMap="sysConfigTeacherResultMap"
		parameterType="map">
		select
		sct.id,sct.name
		from sys_config_teacher sct,sys_config_item sci,sys_config_teacher_lesson sctl,users_comany_relation ur
		where sci.id = #{teacher.itemOneId} and sci.company_id=#{companyId} and sct.user_id=ur.user_id and ur.is_used=1 and ur.company_id=#{companyId}
		<if test="teacherIds!=null and teacherIds!=''">
			and sct.id not in
			<foreach item="item" collection="teacherIds" open="(" separator=","  close=")">
				#{item}
			</foreach>
		</if>
		and sci.id = sctl.item_one_id and sci.status = 1 and sci.del_flag = 0 and sctl.teacher_id = sct.id and sct.teacher_type ='PERSON_TEACHER' and sct.status_code = 'TEACHER_USERD' and sct.del_flag = 0
        group by sct.id
		
	</select>
	

	<!-- 根据ID查询 -->
	<select id="findByIds" resultMap="sysConfigTeacherResultMap">
		select * from sys_config_teacher
		where id in
		<foreach item="item" collection="array" open="(" separator=","
				 close=")">
			#{item}
		</foreach>
	</select>
	<select id="checkTeacher" resultType="Integer" parameterType="String">
		select COUNT(1) from sys_config_teacher sct
			LEFT JOIN users  s ON sct.mobile = s.mobile
			where s.id != sct.user_id
			and sct.id = #{t}
	</select>
</mapper>
