<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysKnowledgeTreeMapper">
    <resultMap type="com.yuxin.wx.model.system.SysKnowledgeTree" id="sysKnowledgeTreeResultMap">
        <result property="id" column="id" />
        <result property="itemSecondCode" column="item_second_code" />
        <result property="itemThreeCode" column="item_three_code" />
        <result property="nodeName" column="node_name" />
        <result property="nodeLevel" column="node_level" />
        <result property="commodityId" column="commodity_id" />
        <result property="classtypeId" column="classtype_id" />
        <result property="lessonId" column="lesson_id" />
        <result property="lectureId" column="lecture_id" />
        <result property="isLeaf" column="is_leaf" />
        <result property="paperId" column="paper_id" />
        <result property="parentId" column="parent_id" />
        <result property="sort" column="sort" />
    </resultMap>
    <sql id="table_columns">
        id,
        item_second_code,
        item_three_code,
        node_name,
        node_level,
        commodity_id,
        classtype_id,
        lesson_id,
        lecture_id,
        is_leaf,
        paper_id,
        parent_id
    </sql>
    <sql id="entity_properties">
        #{id},
        #{itemSecondCode},
        #{itemThreeCode},
        #{nodeName},
        #{nodeLevel},
        #{commodityId},
        #{classtypeId},
        #{lessonId},
        #{lectureId},
        #{isLeaf},
        #{paperId},
        #{parentId},
        #{sort}
    </sql>
    <!-- 适用于主键自增类型 -->
    <insert id="insert" parameterType="com.yuxin.wx.model.system.SysKnowledgeTree"
            useGeneratedKeys="true" keyProperty="id">
        insert into sys_knowledge_tree(
        <include refid="table_columns" />
        )
        values (
        <include refid="entity_properties" />
        )
    </insert>

    <update id="update" parameterType="com.yuxin.wx.model.system.SysKnowledgeTree">
        update sys_knowledge_tree
        <trim prefix="set" suffixOverrides=",">
            <if test="nodeName != null and nodeName != ''">node_name = #{nodeName},</if>
            <if test="nodeLevel != null">node_level = #{nodeLevel},</if>
            <if test="itemSecondCode != null and itemSecondCode != ''">item_second_code = #{itemSecondCode},</if>
            <if test="itemThreeCode != null and itemThreeCode != ''">item_three_code = #{itemThreeCode},</if>
            <if test="classtypeId != null and classtypeId != ''">classtype_id = #{classtypeId},</if>
            <if test="lessonId != null and lessonId != ''">lesson_id = #{lessonId},</if>
            <if test="lectureId != null and lectureId != ''">lecture_id = #{lectureId},</if>
            <if test="isLeaf != null and isLeaf != ''">is_leaf = #{isLeaf},</if>
            <if test="paperId != null and paperId != ''">paper_id = #{paperId},</if>
            <if test="parentId != null ">parent_id = #{parentId},</if>
            <if test="sort != null ">sort = #{sort}</if>
        </trim>
        <where>id = #{id}</where>
    </update>

    <select id="findKnoledgeTreeByPhaseAndSub" parameterType="com.yuxin.wx.model.system.SysKnowledgeTree" resultMap="sysKnowledgeTreeResultMap">
        select <include refid="table_columns" /> from sys_knowledge_tree
        <where>
            <if test="itemSecondCode!=null and itemSecondCode!=''">
                and item_second_code = #{itemSecondCode}
            </if>
            <if test="itemThreeCode!=null and itemThreeCode!=''">
                and item_three_code = #{itemThreeCode}
            </if>
        </where>
        order by node_level, sort
    </select>
</mapper>