<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysLiveReverseAuthMapper">
	<resultMap type="com.yuxin.wx.model.system.SysLiveReverseAuth" id="sysLiveReverseAuthResultMap">
		<result property="id" column="id" />
		<result property="authKey" column="auth_key" />
		<result property="authCount" column="auth_count" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		auth_key,
		auth_count,
		create_time
    </sql>
	<sql id="entity_properties">
		#{id},
		#{authKey},
		#{authCount},
		#{createTime}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.authKey},
		#{item.authCount},
		#{item.createTime}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysLiveReverseAuth" useGeneratedKeys="true" keyProperty="id">
		insert into sys_live_reverse_auth( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_live_reverse_auth( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from sys_live_reverse_auth
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_live_reverse_auth
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysLiveReverseAuth">
		update sys_live_reverse_auth 
		<trim prefix="set" suffixOverrides=",">
			<if test="auth_count != null and auth_count != ''">auth_count = #{authCount},</if>
		</trim>
		<where>auth_key = #{authKey}</where>
	</update>
	
	<select id="findById" resultMap="sysLiveReverseAuthResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_live_reverse_auth
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysLiveReverseAuthResultMap">
		select <include refid="table_columns" /> 
		from sys_live_reverse_auth
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="authKey != null and authKey != ''">and auth_key = #{authKey}</if>
			<if test="authCount != null and authCount != ''">and auth_count = #{authCount}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysLiveReverseAuthResultMap" parameterType="com.yuxin.wx.model.system.SysLiveReverseAuth">
		select <include refid="table_columns" />
		from sys_live_reverse_auth
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysLiveReverseAuth">
		select count(id) from sys_live_reverse_auth
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	
</mapper>