<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysLogInvitLogMapper">
	<resultMap type="com.yuxin.wx.model.system.SysLogInvitLog" id="sysLogInvitLogResultMap">
		<result property="id" column="id" />
		<result property="inviteCode" column="invite_code" />
		<result property="requestTime" column="request_time" />
		<result property="ip" column="ip" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		invite_code,
		request_time,
		ip
    </sql>
	<sql id="entity_properties">
		#{id},
		#{inviteCode},
		#{requestTime},
		#{ip}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.inviteCode},
		#{item.requestTime},
		#{item.ip}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysLogInvitLog" useGeneratedKeys="true" keyProperty="id">
		insert into sys_log_invit_log( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_log_invit_log( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_log_invit_log
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysLogInvitLog">
		update sys_log_invit_log 
		<trim prefix="set" suffixOverrides=",">
			<if test="inviteCode != null and inviteCode != ''">invite_code = #{inviteCode},</if>
			<if test="requestTime != null and requestTime != ''">request_time = #{requestTime},</if>
			<if test="ip != null and ip != ''">ip = #{ip},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysLogInvitLogResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_log_invit_log
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysLogInvitLogResultMap">
		select <include refid="table_columns" /> 
		from sys_log_invit_log
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="inviteCode != null and inviteCode != ''">and invite_code = #{inviteCode}</if>
			<if test="requestTime != null and requestTime != ''">and request_time = #{requestTime}</if>
			<if test="ip != null and ip != ''">and ip = #{ip}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysLogInvitLogResultMap" parameterType="com.yuxin.wx.model.system.SysLogInvitLog">
		select <include refid="table_columns" />
		from sys_log_invit_log
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysLogInvitLog">
		select count(id) from sys_log_invit_log
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	
</mapper>