<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysRegisterRequestLogMapper">
	<resultMap type="com.yuxin.wx.model.system.SysRegisterRequestLog" id="sysRegisterRequestLogResultMap">
		<result property="id" column="id" />
		<result property="uuid" column="uuid" />
		<result property="utmSource" column="utm_source" />
		<result property="utmMedium" column="utm_medium" />
		<result property="utmTerm" column="utm_term" />
		<result property="utmContent" column="utm_content" />
		<result property="utmCampaign" column="utm_campaign" />
		<result property="utmUrl" column="utm_url" />
		<result property="requestTime" column="request_time" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		uuid,
		utm_source,
		utm_medium,
		utm_term,
		utm_content,
		utm_campaign,
		utm_url,
		request_time
    </sql>
	<sql id="entity_properties">
		#{id},
		#{uuid},
		#{utmSource},
		#{utmMedium},
		#{utmTerm},
		#{utmContent},
		#{utmCampaign},
		#{utmUrl},
		#{requestTime}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.uuid},
		#{item.utmSource},
		#{item.utmMedium},
		#{item.utmTerm},
		#{item.utmContent},
		#{item.utmCampaign},
		#{item.utmUrl},
		#{item.requestTime}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysRegisterRequestLog" useGeneratedKeys="true" keyProperty="id">
		insert into sys_register_request_log( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_register_request_log( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_register_request_log
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysRegisterRequestLog">
		update sys_register_request_log 
		<trim prefix="set" suffixOverrides=",">
			<if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
			<if test="utmSource != null and utmSource != ''">utm_source = #{utmSource},</if>
			<if test="utmMedium != null and utmMedium != ''">utm_medium = #{utmMedium},</if>
			<if test="utmTerm != null and utmTerm != ''">utm_term = #{utmTerm},</if>
			<if test="utmContent != null and utmContent != ''">utm_content = #{utmContent},</if>
			<if test="utmCampaign != null and utmCampaign != ''">utm_campaign = #{utmCampaign},</if>
			<if test="utmUrl != null and utmUrl != ''">utm_url = #{utmUrl},</if>
			<if test="requestTime != null and requestTime != ''">request_time = #{requestTime},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysRegisterRequestLogResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_register_request_log
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysRegisterRequestLogResultMap">
		select <include refid="table_columns" /> 
		from sys_register_request_log
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="uuid != null and uuid != ''">and uuid = #{uuid}</if>
			<if test="utmSource != null and utmSource != ''">and utm_source = #{utmSource}</if>
			<if test="utmMedium != null and utmMedium != ''">and utm_medium = #{utmMedium}</if>
			<if test="utmTerm != null and utmTerm != ''">and utm_term = #{utmTerm}</if>
			<if test="utmContent != null and utmContent != ''">and utm_content = #{utmContent}</if>
			<if test="utmCampaign != null and utmCampaign != ''">and utm_campaign = #{utmCampaign}</if>
			<if test="utmUrl != null and utmUrl != ''">and utm_url = #{utmUrl}</if>
			<if test="requestTime != null and requestTime != ''">and request_time = #{requestTime}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysRegisterRequestLogResultMap" parameterType="com.yuxin.wx.model.system.SysRegisterRequestLog">
		select <include refid="table_columns" />
		from sys_register_request_log
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysRegisterRequestLog">
		select count(id) from sys_register_request_log
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="updateByUuid">
		update sys_register_request_log 
		<trim prefix="set" suffixOverrides=",">
			<if test="utmSource != null and utmSource != ''">utm_source = #{utmSource},</if>
			<if test="utmMedium != null and utmMedium != ''">utm_medium = #{utmMedium},</if>
			<if test="utmTerm != null and utmTerm != ''">utm_term = #{utmTerm},</if>
			<if test="utmContent != null and utmContent != ''">utm_content = #{utmContent},</if>
			<if test="utmCampaign != null and utmCampaign != ''">utm_campaign = #{utmCampaign},</if>
			<if test="utmUrl != null and utmUrl != ''">utm_url = #{utmUrl},</if>
			<if test="requestTime != null and requestTime != ''">request_time = #{requestTime},</if>
		</trim>
		<where>uuid = #{uuid}</where>
	</select>
</mapper>