<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysServiceDredgeDetailMapper">
	<resultMap type="com.yuxin.wx.model.system.SysServiceDredgeDetail" id="sysServiceDredgeDetailResultMap">
		<result property="id" column="id" />
		<result property="privilegeId" column="privilege_id" />
		<result property="display" column="display" />
		<result property="payPrice" column="pay_price" />
		<result property="companyId" column="company_id" />
		<result property="updator" column="updator" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		privilege_id,
		display,
		pay_price,
		company_id,
		updator,
		update_time
    </sql>
	<sql id="entity_properties">
		#{id},
		#{privilegeId},
		#{display},
		#{payPrice},
		#{companyId},
		#{updator},
		#{updateTime}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.privilegeId},
		#{item.display},
		#{item.payPrice},
		#{item.companyId},
		#{item.updator},
		#{item.updateTime}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysServiceDredgeDetail" useGeneratedKeys="true" keyProperty="id">
		insert into sys_service_dredge_detail( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_service_dredge_detail( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from sys_service_dredge_detail
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_service_dredge_detail
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysServiceDredgeDetail">
		update sys_service_dredge_detail 
		<trim prefix="set" suffixOverrides=",">
			<if test="privilegeId != null">privilege_id = #{privilegeId},</if>
			<if test="display != null">display = #{display},</if>
			<if test="payPrice != null">pay_price = #{payPrice},</if>
			<if test="companyId != null">company_id = #{companyId},</if>
			<if test="updator != null">updator = #{updator},</if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysServiceDredgeDetailResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_service_dredge_detail
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysServiceDredgeDetailResultMap">
		select <include refid="table_columns" /> 
		from sys_service_dredge_detail
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="privilegeId != null">and privilege_id = #{privilegeId}</if>
			<if test="display != null">and display = #{display}</if>
			<if test="payPrice != null">and pay_price = #{payPrice}</if>
			<if test="companyId != null">and company_id = #{companyId}</if>
			<if test="updator != null">and updator = #{updator}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysServiceDredgeDetailResultMap" parameterType="com.yuxin.wx.model.system.SysServiceDredgeDetail">
		select <include refid="table_columns" />
		from sys_service_dredge_detail
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysServiceDredgeDetail">
		select count(id) from sys_service_dredge_detail
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	
</mapper>