<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysServiceDredgeConfigMapper">
	<resultMap type="com.yuxin.wx.model.system.SysServiceDredgeConfig" id="sysServiceDredgeConfigResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="privilegeCode" column="privilege_code" />
		<result property="delFlag" column="del_flag" />
		<result property="price" column="price" />
	</resultMap>
	
	<resultMap type="com.yuxin.wx.vo.system.SysServiceDredgeVo" id="sysServiceDredgeVoResultMap">
		<result property="name" column="privilege_code"/>
		<result property="status" column="display"/>
	</resultMap>
	
	<sql id="table_columns">
		id,
		name,
		privilege_code,
		del_flag,
		price
    </sql>
	<sql id="entity_properties">
		#{id},
		#{name},
		#{privilegeCode},
		#{delFlag},
		#{price}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.name}
		#{item.privilegeCode},
		#{item.delFlag},
		#{item.price}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysServiceDredgeConfig" useGeneratedKeys="true" keyProperty="id">
		insert into sys_service_dredge_config( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="bateghchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_service_dredge_config( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from sys_service_dredge_config
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_service_dredge_config
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysServiceDredgeConfig">
		update sys_service_dredge_config 
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="privilegeCode != null and privilegeCode != ''">privilege_code = #{privilegeCode},</if>
			<if test="delFlag != null">del_flag = #{delFlag},</if>
			<if test="price != null">price = #{price},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysServiceDredgeConfigResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_service_dredge_config
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysServiceDredgeConfigResultMap">
		select <include refid="table_columns" /> 
		from sys_service_dredge_config
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="name != null and name != ''">and name = #{name}</if>
			<if test="privilegeCode != null and privilegeCode != ''">and privilege_code = #{privilegeCode}</if>
			<if test="delFlag != null">and del_flag = #{delFlag}</if>
			<if test="price != null">and price = #{price}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysServiceDredgeConfigResultMap" parameterType="com.yuxin.wx.model.system.SysServiceDredgeConfig">
		select <include refid="table_columns" />
		from sys_service_dredge_config
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysServiceDredgeConfig">
		select count(id) from sys_service_dredge_config
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<select id="findDredgeByCom" parameterType="Integer" resultMap="sysServiceDredgeVoResultMap">
		select dc.privilege_code,
			dd.display
		from sys_service_dredge_config dc 
		left join sys_service_dredge_detail dd 
			on dd.privilege_id = dc.id
			and dd.company_id = #{companyId}
		where dc.del_flag = 0
	</select>
	
</mapper>