<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.system.mapper.SysTeacherPersonalStatusPicMapper">
	<resultMap type="com.yuxin.wx.model.system.SysTeacherPersonalStatusPic" id="sysTeacherPersonalStatusPicResultMap">
		<result property="id" column="id" />
		<result property="statusId" column="status_id" />
		<result property="url" column="url" />
		<result property="createTime" column="create_time" />
		<result property="creator" column="creator" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		status_id,
		url,
		create_time,
		creator
    </sql>
	<sql id="entity_properties">
		#{id},
		#{statusId},
		#{url},
		#{createTime},
		#{creator}
	</sql>
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.statusId},
		#{item.url},
		#{item.createTime},
		#{item.creator}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="com.yuxin.wx.model.system.SysTeacherPersonalStatusPic" useGeneratedKeys="true" keyProperty="id">
		insert into sys_teacher_personal_status_pic( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<!-- 批量添加 适用于主键自增类型  不支持返回主键-->
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into sys_teacher_personal_status_pic( <include refid="table_columns" /> ) 
		values 
		<foreach item="item" collection="list" separator="," >
			( <include refid="batch_entity_properties" /> )
		</foreach>
	</insert>
	
	<!--根据主键删除 -->
	<delete id="deleteById">
		delete from tbl_users
		where id = #{id}
	</delete>
	
	<!-- 根据ID批量删除 -->
	<delete id="deleteByIds">
		delete from sys_teacher_personal_status_pic
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="com.yuxin.wx.model.system.SysTeacherPersonalStatusPic">
		update sys_teacher_personal_status_pic 
		<trim prefix="set" suffixOverrides=",">
			<if test="statusId != null and statusId != ''">status_id = #{statusId},</if>
			<if test="url != null and url != ''">url = #{url},</if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
			<if test="creator != null and creator != ''">creator = #{creator},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="sysTeacherPersonalStatusPicResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from sys_teacher_personal_status_pic
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="sysTeacherPersonalStatusPicResultMap">
		select <include refid="table_columns" /> 
		from sys_teacher_personal_status_pic
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="statusId != null and statusId != ''">and status_id = #{statusId}</if>
			<if test="url != null and url != ''">and url = #{url}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="creator != null and creator != ''">and creator = #{creator}</if>
		</trim>
	</sql>
	
	<select id="page" resultMap="sysTeacherPersonalStatusPicResultMap" parameterType="com.yuxin.wx.model.system.SysTeacherPersonalStatusPic">
		select <include refid="table_columns" />
		from sys_teacher_personal_status_pic
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="pageCount" resultType="int" parameterType="com.yuxin.wx.model.system.SysTeacherPersonalStatusPic">
		select count(id) from sys_teacher_personal_status_pic
		<include refid="page_where" />
	</select>
	
	<!-- 其他自定义SQL -->
	<!-- 查询动态下图片 -->
	<select id="queryPicByStatusId" parameterType="int" resultMap="sysTeacherPersonalStatusPicResultMap">
		select <include refid="table_columns" /> from sys_teacher_personal_status_pic 
		where status_id=#{statusId}
	</select>
	
</mapper>